/*!
* Spry Alerts
*/
@use "ui" as *;

.alert {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-color;
	@extend %ui-border;
	@extend %ui-border-radius;
	--border-color: var(--color);
	display        : block;
	justify-content: flex-start;
	padding        : .5em 1em;

	svg {
		min-width: 1em;
	}
	+ .alert {
		@extend %ui-margin-above-lg;
	}
}