/*
* Spry Alerts
*/
@use "extends";

.alert {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-border;
	@extend %ui-border-radius;
	--border-alpha: 1;
	--border-color : var(--color);
	--border-color-rgb: var(--color-rgb);
	display        : block;
	justify-content: flex-start;
	padding        : .5em 1em;

	&:not(.outline, .hazy) {
		@extend %ui-color;
	}

	svg {
		min-width: 1em;
	}

	+.alert {
		@extend %ui-margin-above-lg;
	}
}

.alert+* {
	@extend %ui-margin-above-lg;
}