/*!
* Spry Badge
*/
@use "ui" as *;

.badge {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-color;
	@extend %ui-border;
	@extend %ui-compact;
	--border-color: var(--color);
	font-weight: 500;
	width      : auto;

	&.snug {
		translate: -1em -.7em;
	}
}
