@use "extends";
/*!
* Spry Badge
*/

.badge {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-color;
	@extend %ui-border;
	@extend %ui-border-radius;
	width      : auto;
	font-weight: 500;
	line-height: 1;
	--radius   : 2em;

	&:where(.outline) {
		--bdr-a: .7;
	}
}