/*!
* Spry Badge
*/
@use "extends";

.badge {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-border;
	--border-alpha: .8;
	--border-color: var(--color);
	--border-color-rgb: var(--color-rgb);
	width      : auto;
	font-weight: 500;
	line-height: 1;

	&:not(.outline, .hazy) {
		@extend %ui-color;
	}
}
