@use "variables";
/*!
* Spry Blur
*/

@each $b, $blur in variables.$blur {
	.blur-#{$b} {
		filter: blur(#{$blur})
	}
	.blur-inner-#{$b} > * {
		filter: blur(#{$blur})
	}
	.blur-bg-#{$b} {
		backdrop-filter: blur(#{$blur})
	}
}
