@use "variables";
@use "sass:meta";
/*!
* Spry Borders
*/

@mixin border-styles($prefix) {
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}b-0 {
				border: #{$border};
			}
		}
	
		@else {
			#{$prefix}b-#{$b} {
				border: #{$border} solid;
			}
		}
	}
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}bx-0 {
				border-inline: #{$border};
			}
			#{$prefix}by-0 {
				border-block: #{$border};
			}
		}
	
		@else {
			#{$prefix}bx-#{$b} {
				border-inline: #{$border} solid;
			}
			#{$prefix}by-#{$b} {
				border-block: #{$border} solid;
			}
		}
	}
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}bt-0 {
				border-top: #{$border};
			}
			#{$prefix}be-0 {
				border-inline-end: #{$border};
			}
			#{$prefix}bb-0 {
				border-bottom: #{$border};
			}
			#{$prefix}bs-0 {
				border-inline-start: #{$border};
			}
		}
	
		@else {
			#{$prefix}bt-#{$b} {
				border-top: #{$border} solid;
			}
			#{$prefix}be-#{$b} {
				border-inline-end: #{$border} solid;
			}
			#{$prefix}bb-#{$b} {
				border-bottom: #{$border} solid;
			}
			#{$prefix}bs-#{$b} {
				border-inline-start: #{$border} solid;
			}
		}
	}
}

@if meta.global-variable-exists('borders', variables) {
	@include border-styles('.');

	@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
		@each $breakpoint, $breakpoint_width in variables.$breakpoints {
			@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
				@media screen and (min-width: $breakpoint_width) {
					@include border-styles('.#{$breakpoint}\\:');
				}
			}
			@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
				@container (min-width: #{$breakpoint_width}) {
					@include border-styles('.\\@#{$breakpoint}\\:');
				}
			}
		}
	}
}