@use "variables";
/*!
* Spry Borders
*/

@mixin border-styles($prefix) {
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}b-0 {
				border: #{$border};
			}
		}
	
		@else {
			#{$prefix}b-#{$b} {
				border: #{$border} solid;
			}
		}
	}
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}bx-0 {
				border-inline: #{$border};
			}
			#{$prefix}by-0 {
				border-block: #{$border};
			}
		}
	
		@else {
			#{$prefix}bx-#{$b} {
				border-inline: #{$border} solid;
			}
			#{$prefix}by-#{$b} {
				border-block: #{$border} solid;
			}
		}
	}
	@each $b, $border in variables.$borders {
		@if $b == 0 {
			#{$prefix}bt-0 {
				border-top: #{$border};
			}
			#{$prefix}br-0 {
				border-right: #{$border};
			}
			#{$prefix}bb-0 {
				border-bottom: #{$border};
			}
			#{$prefix}bl-0 {
				border-left: #{$border};
			}
		}
	
		@else {
			#{$prefix}bt-#{$b} {
				border-top: #{$border} solid;
			}
			#{$prefix}br-#{$b} {
				border-right: #{$border} solid;
			}
			#{$prefix}bb-#{$b} {
				border-bottom: #{$border} solid;
			}
			#{$prefix}bl-#{$b} {
				border-left: #{$border} solid;
			}
		}
	}
}

@include border-styles('.');

@each $breakpoint, $breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: $breakpoint_width) {
		@include border-styles('.#{$breakpoint}\\:');
	}
	@container (min-width: #{$breakpoint_width}) {
		@include border-styles('.\\@#{$breakpoint}\\:');
	}
}