@use "extends";
/*!
* Spry Buttons
*/

:is(button, .button, [type=submit], [type=reset]),
:where(.buttons, .buttons-link, .buttons-outline, .buttons-hazy, .buttons-plain) a {

	@extend %ui;
	@extend %ui-bg;
	@extend %ui-border;
	@extend %ui-border-radius;
	position       : relative;
	cursor         : pointer;
	font-weight    : 400;
	text-transform : uppercase;
}

:is(button, .button, [type=submit], [type=reset]),
:where(.buttons, .buttons-link, .buttons-outline, .buttons-hazy, .buttons-plain) a {
	@extend %ui-color;
}

:where(button, .button, [type=submit], [type=reset]) {

	> :where(.icon, svg, img) {
		pointer-events: none;
	}

	&:is(:hover, :focus, :focus-within, .active, :has(:checked)):not(:active) {
		@extend %ui-hover;
	}
}

:where(button, .button, [type=submit], [type=reset]):where(.outline),
:where(.buttons-outline) a {
	--bdr-a: .7;
}

:is(.buttons, .buttons-link, .buttons-outline, .buttons-hazy, .buttons-plain) a {
	color: var(--ui-text);
}

:is(button, .button, [type=submit], [type=reset]).link,
.buttons-link a {
	text-transform: none;
}

:is(button, .button, [type=submit], [type=reset]):is(:hover, :focus, :focus-within, .active):is(.link, .outline, .hazy, .plain):not(:active),
:is(.buttons-link, .buttons-outline, .buttons-hazy, .buttons-plain) a:is(:hover, :focus, :focus-within, .active):not(:active) {
	@extend %ui-bg-hover;
}