/*!
* Spry Buttons
*/
@use "ui" as *;

button,
.button,
input[type=submit] {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-color;
	@extend %ui-border;
	@extend %ui-focus-visible;
	width         : auto;
	cursor        : pointer;
	font-weight   : 400;
	text-align    : center;
	text-transform: uppercase;
	&.outline {
		@extend %ui-border;
	}
	&.active:is(.link, .outline, .hazy),
	&:is(.link, .outline, .hazy):is(:hover,:focus,:focus-within) {
		@extend %ui-bg-hover;
	}
	&.active:not(.link),
	&:not(.link):is(:hover,:focus,:focus-within) {
		@extend %ui-hover;
	}
}