/*!
* Spry Cards
*/
@use "ui"as *;

article {
	@extend %ui-border-radius;
	--card-color    : rgba(153, 153, 153, 0.17);
	--gapy          : 2em;
	align-items     : flex-start;
	background-color: white;
	display         : flex;
	flex-direction  : column;
	row-gap         : var(--gapy);
	justify-content : flex-start;
	padding         : 2em;
	position        : relative;
	transition      : none;

	&:has(>header, >footer) {
		padding: 0;

		>:is(header, footer, p, div) {
			padding-inline: 1em;
		}

		&:has(>img) {
			overflow: hidden;
		}
	}

	>footer {
		margin-top: auto;
	}

	&.outline {
		background-color: white;

		>header {
			border-bottom: 1px solid var(--border-color);
		}

		>footer {
			border-top: 1px solid var(--border-color);
		}
	}

	>* {
		width     : 100%;
		margin-top: 0;
	}

	>:is(header, footer) {
		@extend %ui;
		@extend %ui-spacious;
		background-color: var(--card-color);
		display         : flex;
		justify-content : space-between;
		align-items     : center;
		transition      : none;

		>* {
			margin-top: 0;
		}
	}
}