/*
* Spry Colors
*/

@use "variables";

$color_names: ();
$bg_color_names: ();
$border_color_names: ();
@each $color_name, $color_value in variables.$colors {
    $color_names: append($color_names, '.#{$color_name}', 'comma');
    $bg_color_names: append($bg_color_names, '.bg-#{$color_name}', 'comma');
    $border_color_names: append($border_color_names, '.border-#{$color_name}', 'comma');
}

:where(#{$bg_color_names}),
:where(#{$bg_color_names}) > :where(ul, li > ul, ul ul)
// :where(#{$bg_color_names}) > ul,
// :where(#{$bg_color_names}) > li > ul,
// :where(#{$bg_color_names}) > ul ul,
:is(.tooltip, article):where(#{$bg_color_names}) {
	background-color: hsla(var(--bg-hue), var(--bg-sat), var(--bg-lightness), var(--bg-alpha, 100%));
}

:where(#{$border_color_names}) {
	border-color: hsla(var(--border-hue), var(--border-sat), var(--border-lightness), var(--border-alpha, 100%));
}

:is(button,.button,.alert,.badge,[type=submit],[type=reset]):is(.link, .outline, .hazy, .plain):where(#{$color_names}),
:is(#{$color_names}) :is(button,.button,.alert,.badge,[type=submit],[type=reset]):is(.link, .outline, .hazy, .plain),
:is(.buttons-link,.buttons-outline,.buttons-hazy,.buttons-plain) a {
	--text-color: var(--color);
	--select-arrow: var(--text-color);
}

:is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(.link, .outline, .hazy, .plain):where(#{$color_names}),
:where(#{$color_names}):not(article) :is(.link, .outline, .hazy, .plain) {
	color: var(--color);
	--select-arrow: var(--color);
}

:is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(#{$color_names}) :is(h1,h2,h3,h4,h5,h6),
article:where(#{$color_names}) > :is(header, footer) :is(h1,h2,h3,h4,h5,h6) {
	color: var(--text-color);
}

:root {
	--ui-light-text-color: #f2f2f2;
	--ui-dark-text-color: #444;
	--color-lightness: 50%;
	--color-alpha: 50%;
	--bg-lightness: 50%;
	--bg-alpha: 50%;
	--border-lightness: 50%;
	--border-alpha: 50%;

	@each $color_name, $color_value in variables.$colors {

		@if index(variables.$colors, ($color_name $color_value)) == 1 {
			--border-hue: var(--#{$color_name}-hue);
			--border-sat: var(--#{$color_name}-sat);
			--border-lightness: var(--#{$color_name}-lightness);
			--bg-hue: var(--#{$color_name}-hue);
			--bg-sat: var(--#{$color_name}-sat);
			--bg-lightness: var(--#{$color_name}-lightness);
			--color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
			--text-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
			--border-color: hsla(var(--border-hue), var(--border-sat), var(--border-lightness), var(--border-alpha, 100%));
			--bg-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--bg-lightness, #{round(lightness($color_value))}), var(--bg-alpha, 100%));
		}
		
		--#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));

		// article.#{$color_name} {
		// 	--card-color  : var(--#{$color_name});
		// }
	}

	@for $i from 0 through 9 {
		[class].color-#{$i}00 {
			--color-lightness: #{$i}0%;
		}
		[class].color-#{$i}0 {
			--color-alpha: #{$i}0%;
		}
		[class].bg-#{$i}00 {
			--bg-lightness: #{$i}0%;
		}
		[class].bg-#{$i}0 {
			--bg-alpha: #{$i}0%;
		}
		[class].border-#{$i}00 {
			--border-lightness: #{$i}0%;
		}
		[class].border-#{$i}0 {
			--border-alpha: #{$i}0%;
		}
	}
}


// Initial Color sets
// @each $color_name,
// $color_value in variables.$colors {

// 	@if index(variables.$colors, ($color_name $color_value)) == 1 {
// 		--border-hue: var(--#{$color_name}-hue);
// 		--border-sat: var(--#{$color_name}-sat);
// 		--border-lightness: var(--#{$color_name}-lightness);
// 		--bg-hue: var(--#{$color_name}-hue);
// 		--bg-sat: var(--#{$color_name}-sat);
// 		--bg-lightness: var(--#{$color_name}-lightness);
// 		--color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
// 		--text-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
// 		--border-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--border-lightness, #{round(lightness($color_value))}), var(--border-alpha, 100%));
// 		--bg-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--bg-lightness, #{round(lightness($color_value))}), var(--bg-alpha, 100%));
// 	}
	
// 	--#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));

// 	// article.#{$color_name} {
// 	// 	--card-color  : var(--#{$color_name});
// 	// }
// }

// First Color Overrides
@each $color_name,
$color_value in variables.$colors {

	.color-#{$color_name} :is(h1,h2,h3,h4,h5,h6),
	.links-#{$color_name} a:not(.button),
	.links-hover-#{$color_name} a:not(.button):is(:hover, :focus, .active, [aria-pressed=true]) {
		color : var(--#{$color_name});
	}
}

@for $i from 0 through 9 {
	[class].color-#{$i}00 {
		--color-lightness: #{$i}0%;
	}
	[class].color-#{$i}0 {
		--color-alpha: #{$i}0%;
	}
	[class].bg-#{$i}00 {
		--bg-lightness: #{$i}0%;
	}
	[class].bg-#{$i}0 {
		--bg-alpha: #{$i}0%;
	}
	[class].border-#{$i}00 {
		--border-lightness: #{$i}0%;
	}
	[class].border-#{$i}0 {
		--border-alpha: #{$i}0%;
	}
}

// Final Color Overrides
@each $color_name, $color_value in variables.$colors {

	:root {
		--#{$color_name}-hue: #{round(hue($color_value))};
		--#{$color_name}-sat: #{round(saturation($color_value))};
		--#{$color_name}-lightness: #{round(lightness($color_value))};
	}

	[class].#{$color_name} {
		--color     : var(--#{$color_name});
		--color-rgb : var(--#{$color_name}-rgb);
		accent-color: var(--color);
	}

	// .hover\:#{$color_name}:is(:hover, :focus, .active, [aria-pressed=true]),
	.color-#{$color_name} {
		color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
	}

	// .bg-#{$color_name},
	// .bg-#{$color_name} > ul,
	// .bg-#{$color_name} > li > ul,
	// .bg-#{$color_name} > ul ul,
	// :is(.tooltip, article).bg-#{$color_name} {
	// 	background-color: hsla(var(--#{$color_name}-hue), var(--#{$color_name}-sat), var(--bg-lightness, #{round(lightness($color_value))}), var(--bg-alpha, 100%));
	// }
	.bg-#{$color_name} {
		--bg-hue: var(--#{$color_name}-hue);
		--bg-sat: var(--#{$color_name}-sat);
		--bg-lightness: var(--#{$color_name}-lightness);
	}

	.border-#{$color_name} {
		--border-hue: var(--#{$color_name}-hue);
		--border-sat: var(--#{$color_name}-sat);
		--border-lightness: var(--#{$color_name}-lightness);
	}
	
}

// .bg-alpha-0{ 
// 	--bg-alpha: 0;
// }
// [class].border-alpha-0{ 
// 	--border-alpha: 0;
// 	:is(input,textarea,select),
// 	label .ui {
// 		--border-alpha: 0;
// 	}
// }

// @for $i from 1 through 10 {
// 	.bg-alpha-#{$i}0{ 
// 		--bg-alpha: #{calc($i / 10)};
// 	}
// 	[class].border-alpha-#{$i}0 { 
// 		--border-alpha: #{calc($i / 10)};
// 		:is(input,textarea,select),
// 		label .ui {
// 			--border-alpha: #{calc($i / 10)};
// 		}
// 	}
// }
