/*
* Spry Colors
*/

@use "variables";

:root {
	--ui-light-text-color: #f2f2f2;
	--ui-dark-text-color: #444;
	// --c-l: 50%;
	// --c-a: 100%;
	// --bg-l: 50%;
	// --bg-a: 100%;
	--d-bdr-l: 80%;
	// --b-a: 100%;

	@each $color_name, $color_value in variables.$colors {
		--#{$color_name}: #{map-get($color_value, 'light')};
		@if index(variables.$colors, ($color_name $color_value)) == 1 {
			--c: #{map-get($color_value, 'light')};
			--b-c: #{map-get($color_value, 'light')};
			@if (lightness(map-get($color_value, 'light')) > 70) {
				--txt-c: var(--ui-dark-text-color);
			}
	
			@else {
				--txt-c: var(--ui-light-text-color);
			}
		}
	}
}

.outline,
[class^=b-],
[class*=\ b-],
[class*=bx-],
[class*=by-],
[class*=bt-],
[class*=br-],
[class*=bb-],
[class*=bl-] {
	// --b-l: var(--d-bdr-l, #{round(lightness(#808080))});
	--b-a: 100%;
	border-color: hsl(from var(--c) h s var(--b-l, var(--d-bdr-l)) / var(--b-a, 100%));
}

// $color_names: ();
// $text_names: ();
// $bg_color_names: ();
// $border_color_names: ();
@each $color_name, $color_value in variables.$colors {
    // $color_names: append($color_names, '.#{$color_name}', 'comma');
    // $text_names: append($text_names, '.color-#{$color_name}', 'comma');
    // $bg_color_names: append($bg_color_names, '.bg-#{$color_name}', 'comma');
    // $border_color_names: append($border_color_names, '.border-#{$color_name}', 'comma');

	// --#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));

	.#{$color_name} {
		--c: #{map-get($color_value, 'light')};
		// --b-l: #{round(lightness(map-get($color_value, 'light')))};

		@if (lightness(map-get($color_value, 'light')) > 70) {
			--txt-c: var(--ui-dark-text-color);
		}

		@else {
			--txt-c: var(--ui-light-text-color);
		}
	}

	.color-#{$color_name} {
		--c-l: #{round(lightness(map-get($color_value, 'light')))};
		--c-a: 100%;
		color: hsl(from #{map-get($color_value, 'light')} h s var(--c-l) / var(--c-a));
	}

	.bg-#{$color_name} {
		--bg-l: #{round(lightness(map-get($color_value, 'light')))};
		--bg-a: 100%;
		background-color: hsl(from #{map-get($color_value, 'light')} h s var(--bg-l, #{round(lightness(map-get($color_value, 'light')))}) / var(--bg-a, 100%));
	}

	.border-#{$color_name} {
		--b-c: #{map-get($color_value, 'light')};
		--b-l: #{round(lightness(map-get($color_value, 'light')))};
		--b-a: 100%;
		border-color: hsl(from #{map-get($color_value, 'light')} h s var(--b-l) / var(--b-a, 100%));
	}
}

@each $shade_name, $shade_value in variables.$shades {
	.color-#{$shade_name} {
		--c-l: #{(calc($shade_value / 100%) * 100)};
	}
	.bg-#{$shade_name} {
		--bg-l: #{(calc($shade_value / 100%) * 100)};
	}
	.border-#{$shade_name} {
		--b-l: #{(calc($shade_value / 100%) * 100)};
	}
}

@each $opacity_name, $opacity_value in variables.$opacities {
	.color\/#{$opacity_name} {
		--c-a: #{$opacity_value};
	}
	.bg\/#{$opacity_name} {
		--bg-a: #{$opacity_value};
	}
	.border\/#{$opacity_name} {
		--b-a: #{$opacity_value};
	}
}

:is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(.link,.plain,.hazy,.outline) {
	--txt-c: var(--c);
}

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(#{$color_names}) :is(h1,h2,h3,h4,h5,h6),
// article:where(#{$color_names}) > :is(header, footer) :is(h1,h2,h3,h4,h5,h6) {
// 	color: var(--txt-c);
// }

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(.link, .outline, .hazy, .plain):where(#{$color_names}),
// :where(#{$color_names}):not(article) :is(.link, .outline, .hazy, .plain) {
// 	color: hsla(var(--c-hue), var(--c-sat), var(--c-l), var(--c-a, 100%));
// 	--select-arrow: var(--c);
// }

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(.link, .outline, .hazy, .plain):where(#{$color_names}),
// :where(#{$color_names}):not(article) :is(.link, .outline, .hazy, .plain) {
// 	color: var(--c);
// 	--select-arrow: var(--c);
// }

// :where(#{$text_names}) {
// 	color: hsla(var(--c-hue), var(--c-sat), var(--c-l), var(--c-a, 100%));
// }

// :where(#{$bg_color_names}) {
// // :where(#{$bg_color_names}) > :where(ul, li > ul, ul ul)
// // :where(#{$bg_color_names}) > ul,
// // :where(#{$bg_color_names}) > li > ul,
// // :where(#{$bg_color_names}) > ul ul,
// // :is(.tooltip, article):where(#{$bg_color_names}) {
// 	background-color: hsla(var(--bg-hue), var(--bg-sat), var(--bg-l), var(--bg-a, 100%));
// }

// :where(#{$border_color_names}) {
// 	border-color: hsla(var(--border-hue), var(--border-sat), var(--b-l), var(--b-a, 100%));
// }

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):is(.link, .outline, .hazy, .plain):where(#{$color_names}),
// :is(#{$color_names}) :is(button,.button,.alert,.badge,[type=submit],[type=reset]):is(.link, .outline, .hazy, .plain),
// :is(.buttons-link,.buttons-outline,.buttons-hazy,.buttons-plain) a {
// 	--txt-c: var(--c);
// 	--select-arrow: var(--txt-c);
// }

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(.link, .outline, .hazy, .plain):where(#{$color_names}),
// :where(#{$color_names}):not(article) :is(.link, .outline, .hazy, .plain) {
// 	color: var(--c);
// 	--select-arrow: var(--c);
// }

// :is(button,.button,.alert,.badge,[type=submit],[type=reset]):where(#{$color_names}) :is(h1,h2,h3,h4,h5,h6),
// article:where(#{$color_names}) > :is(header, footer) :is(h1,h2,h3,h4,h5,h6) {
// 	color: var(--txt-c);
// }

// :root {
// 	--ui-light-text-color: #f2f2f2;
// 	--ui-dark-text-color: #444;
// 	--c-l: 50%;
// 	--c-a: 50%;
// 	--bg-l: 50%;
// 	--bg-a: 50%;
// 	--b-l: 50%;
// 	--b-a: 50%;

// 	@each $color_name, $color_value in variables.$colors {

// 		@if index(variables.$colors, ($color_name $color_value)) == 1 {
// 			--border-hue: var(--#{$color_name}-hue);
// 			--border-sat: var(--#{$color_name}-sat);
// 			--b-l: var(--#{$color_name}-lightness);
// 			--bg-hue: var(--#{$color_name}-hue);
// 			--bg-sat: var(--#{$color_name}-sat);
// 			--bg-l: var(--#{$color_name}-lightness);
// 			--c: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));
// 			--txt-c: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));
// 			--b-c: hsla(var(--border-hue), var(--border-sat), var(--b-l), var(--b-a, 100%));
// 			--bg-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--bg-l, #{round(lightness($color_value))}), var(--bg-a, 100%));
// 		}
		
// 		--#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));

// 		// article.#{$color_name} {
// 		// 	--card-color  : var(--#{$color_name});
// 		// }
// 	}

// 	@for $i from 0 through 9 {
// 		[class].color-#{$i}00 {
// 			--c-l: #{$i}0%;
// 		}
// 		[class].color-#{$i}0 {
// 			--c-a: #{$i}0%;
// 		}
// 		[class].bg-#{$i}00 {
// 			--bg-l: #{$i}0%;
// 		}
// 		[class].bg-#{$i}0 {
// 			--bg-a: #{$i}0%;
// 		}
// 		[class].border-#{$i}00 {
// 			--b-l: #{$i}0%;
// 		}
// 		[class].border-#{$i}0 {
// 			--b-a: #{$i}0%;
// 		}
// 	}
// }


// // Initial Color sets
// // @each $color_name,
// // $color_value in variables.$colors {

// // 	@if index(variables.$colors, ($color_name $color_value)) == 1 {
// // 		--border-hue: var(--#{$color_name}-hue);
// // 		--border-sat: var(--#{$color_name}-sat);
// // 		--b-l: var(--#{$color_name}-lightness);
// // 		--bg-hue: var(--#{$color_name}-hue);
// // 		--bg-sat: var(--#{$color_name}-sat);
// // 		--bg-l: var(--#{$color_name}-lightness);
// // 		--c: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));
// // 		--txt-c: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));
// // 		--b-c: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--b-l, #{round(lightness($color_value))}), var(--b-a, 100%));
// // 		--bg-color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--bg-l, #{round(lightness($color_value))}), var(--bg-a, 100%));
// // 	}
	
// // 	--#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));

// // 	// article.#{$color_name} {
// // 	// 	--card-color  : var(--#{$color_name});
// // 	// }
// // }

// // First Color Overrides
// @each $color_name,
// $color_value in variables.$colors {

// 	.color-#{$color_name} :is(h1,h2,h3,h4,h5,h6),
// 	.links-#{$color_name} a:not(.button),
// 	.links-hover-#{$color_name} a:not(.button):is(:hover, :focus, .active, [aria-pressed=true]) {
// 		color : var(--#{$color_name});
// 	}
// }

// @for $i from 0 through 9 {
// 	[class].color-#{$i}00 {
// 		--c-l: #{$i}0%;
// 	}
// 	[class].color-#{$i}0 {
// 		--c-a: #{$i}0%;
// 	}
// 	[class].bg-#{$i}00 {
// 		--bg-l: #{$i}0%;
// 	}
// 	[class].bg-#{$i}0 {
// 		--bg-a: #{$i}0%;
// 	}
// 	[class].border-#{$i}00 {
// 		--b-l: #{$i}0%;
// 	}
// 	[class].border-#{$i}0 {
// 		--b-a: #{$i}0%;
// 	}
// }

// // Final Color Overrides
// @each $color_name, $color_value in variables.$colors {

// 	:root {
// 		--#{$color_name}-hue: #{round(hue($color_value))};
// 		--#{$color_name}-sat: #{round(saturation($color_value))};
// 		--#{$color_name}-lightness: #{round(lightness($color_value))};
// 	}

// 	[class].#{$color_name} {
// 		--c     : var(--#{$color_name});
// 		--c-rgb : var(--#{$color_name}-rgb);
// 		accent-color: var(--c);
// 	}

// 	// .hover\:#{$color_name}:is(:hover, :focus, .active, [aria-pressed=true]),
// 	.color-#{$color_name} {
// 		color: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--c-l, #{round(lightness($color_value))}), var(--c-a, 100%));
// 	}

// 	// .bg-#{$color_name},
// 	// .bg-#{$color_name} > ul,
// 	// .bg-#{$color_name} > li > ul,
// 	// .bg-#{$color_name} > ul ul,
// 	// :is(.tooltip, article).bg-#{$color_name} {
// 	// 	background-color: hsla(var(--#{$color_name}-hue), var(--#{$color_name}-sat), var(--bg-l, #{round(lightness($color_value))}), var(--bg-a, 100%));
// 	// }
// 	.bg-#{$color_name} {
// 		--bg-hue: var(--#{$color_name}-hue);
// 		--bg-sat: var(--#{$color_name}-sat);
// 		--bg-l: var(--#{$color_name}-lightness);
// 	}

// 	.border-#{$color_name} {
// 		--border-hue: var(--#{$color_name}-hue);
// 		--border-sat: var(--#{$color_name}-sat);
// 		--b-l: var(--#{$color_name}-lightness);
// 	}
	
// }

// // .bg-alpha-0{ 
// // 	--bg-a: 0;
// // }
// // [class].border-alpha-0{ 
// // 	--b-a: 0;
// // 	:is(input,textarea,select),
// // 	label .ui {
// // 		--b-a: 0;
// // 	}
// // }

// // @for $i from 1 through 10 {
// // 	.bg-alpha-#{$i}0{ 
// // 		--bg-a: #{calc($i / 10)};
// // 	}
// // 	[class].border-alpha-#{$i}0 { 
// // 		--b-a: #{calc($i / 10)};
// // 		:is(input,textarea,select),
// // 		label .ui {
// // 			--b-a: #{calc($i / 10)};
// // 		}
// // 	}
// // }
