/*
* Spry Colors
*/

@use "variables" as *;

.bg-contrast {
	background-color: var(--spry-color-dark);
}
.contrast,
.hover-contrast:hover {
	--spry-text-color: var(--spry-color-dark);
	--spry-text-color-rgb: var(--spry-color-dark-rgb);
	color: var(--spry-text-color);
}
button.contrast,
[role=button].contrast {
	--spry-accent-color: var(--spry-color-dark);
	--spry-text-color: var(--spry-color-light);
	--spry-text-color-rgb: var(--spry-color-light-rgb);
}

[data-theme-dark] {
	// --spry-color-light: #{map-get($colors, 'dark')};
	// --spry-color-dark : #{map-get($colors, 'light')};
	// --spry-color-text : #{map-get($colors, 'light')};
	// --spry-text-color : #{map-get($colors, 'light')};

	.bg-contrast {
		background-color: var(--spry-color-light);
	}
	.contrast,
	.hover-contrast:hover {
		--spry-text-color: var(--spry-color-light);
		--spry-text-color-rgb: var(--spry-color-light-rgb);
		color: var(--spry-text-color);
	}
	button.contrast,
	[role=button].contrast {
		--spry-accent-color: var(--spry-color-light);
		--spry-text-color: var(--spry-color-dark);
		--spry-text-color-rgb: var(--spry-color-dark-rgb);
		&:is(.outline,.hazy,.link) {
			--spry-text-color: var(--spry-accent-color);
			--spry-text-color-rgb: var(--spry-accent-color-rgb);
		}
	}
}

@media (prefers-color-scheme: dark) {
	select option {
		background: var(--spry-color-dark);
		color     : var(--spry-color-light);
	}
}

@each $color_name,
$color_value in $colors {

	button.#{$color_name},
	[role=button].#{$color_name},
	[role=alert].#{$color_name} {
		--spry-accent-color: var(--spry-color-#{$color_name});
		--spry-accent-color-rgb: var(--spry-color-#{$color_name}-rgb);
		@if $color_value !=inherit {
			@if (lightness($color_value) > 70) {
				--spry-text-color: #{map-get($colors, 'dark')};
			} @else {
				--spry-text-color: #{map-get($colors, 'light')};
			}
		}
	}

	.bg-#{$color_name} {
		background-color: var(--spry-color-#{$color_name});
		// @if $color_name !=inherit {
		// 	@if (lightness($color_value) > 70) {
		// 		--spry-text-color: #{map-get($colors, 'text')};
		// 	} @else {
		// 		--spry-text-color: #{map-get($colors, 'light')};
		// 	}
		// 	color: var(--spry-text-color);
		// }
	}

	article.accent-#{$color_name},
	.border-#{$color_name},
	.accent-#{$color_name} .border:not([class*="border-"]):hover,
	.accent-#{$color_name} .border:not([class*="border-"]),
	[class*="accent-"].border-#{$color_name} {
		border-color: var(--spry-color-#{$color_name});
	}

	@if $color_name !=inherit {
		.accent-#{$color_name} {
			--spry-accent-color: var(--spry-color-#{$color_name});
			--spry-accent-color-rgb: var(--spry-color-#{$color_name}-rgb);
		}
	}
}

article {
	--spry-accent-color  : var(--spry-color-light);
}

[data-theme-dark] {
	background-color: darken(map-get($colors, 'dark'), 15%);
	--spry-text-color: var(--spry-color-light);
	--spry-text-color-rgb: var(--spry-color-light-rgb);
	color           : var(--spry-text-color);

	select option {
		background: var(--spry-color-dark);
		color     : var(--spry-color-light);
	}

	[role=tooltip] {
		background: var(--spry-color-dark);
		color     : var(--spry-color-light);
	}

	article,
	.bg-light {
		background-color     : darken(map-get($colors, 'dark'), 7%);
		// color                : map-get($colors, 'light');
	}

	.bg-dark {
		background-color: darken(map-get($colors, 'dark'), 5%);
		// color           : map-get($colors, 'light');
	}

	select option {
		background: #333;
		color     : #eee;
	}
}

@each $color_name,
$color_value in $colors {

	a.#{$color_name},
	.hover-#{$color_name}:hover,
	.hover-#{$color_name}:focus,
	a.hover-#{$color_name}:hover,
	a.hover-#{$color_name}:focus,
	a[role=button].hover-#{$color_name}:hover,
	a[role=button].hover-#{$color_name}:focus,
	button.hover-#{$color_name}:hover,
	button.hover-#{$color_name}:focus {
		--spry-text-color: var(--spry-color-#{$color_name});
		--spry-text-color-rgb: var(--spry-color-#{$color_name}-rgb);
		color: var(--spry-text-color);
	}
	[role=tooltip].bg-#{$color_name} {
		background: var(--spry-color-#{$color_name});
	}
}

@each $color_name,
$color_value in $colors {

	.icon.#{$color_name},
	a.#{$color_name} {
		--spry-text-color: var(--spry-color-#{$color_name});
		--spry-text-color-rgb: var(--spry-color-#{$color_name}-rgb);
	}

	.#{$color_name},
	[class*=color-#{$color_name}],
	.link-#{$color_name} a,
	.link-hover-#{$color_name} a:not([role=button]):not([class*="hover-"]):hover,
	.link-hover-#{$color_name} a:not([role=button]):not([class*="hover-"]):focus {
		--spry-accent-color: var(--spry-color-#{$color_name});
		--spry-accent-color-rgb: var(--spry-color-#{$color_name}-rgb);
		--spry-text-color: var(--spry-color-#{$color_name});
		--spry-text-color-rgb: var(--spry-color-#{$color_name}-rgb);
		color: var(--spry-text-color);
	}
}