@each $color_name, $color_value in $colors {
	.btn-#{$color_name}.btn-outline,
	.color-#{$color_name} {
		color: $color_value;
	}
	.btn-#{$color_name},
	.btn-#{$color_name}.btn-outline:hover,
	.btn-#{$color_name}.btn-outline:focus,
	.bg-#{$color_name} {
		background-color: $color_value;
	}
	.btn-#{$color_name},
	.btn-#{$color_name}.btn-outline:hover,
	.btn-#{$color_name}.btn-outline:focus,
	.border-#{$color_name} {
		border-color: $color_value;
	}
	.btn-#{$color_name} {
		&:hover,
		&:focus {
			background-color: darken($color_value, 10%);
			border-color: darken($color_value, 10%);
		}
		&.btn-outline:active,
		&:active {
			background-color: darken($color_value, 5%);
			border-color: darken($color_value, 5%);
		}
	}
}