/*
* Spry Dark Theme
*/

@use "variables";

$bg-color: #1b1b1b;
$border-color: #444;
$text-color: #efefef;

// Update Prefered Theme Dark Colors
@media (prefers-color-scheme: dark) {
	select option {
		background: #{$bg-color};
		color     : #{$text-color};
	}
}

:root.theme-dark,
.theme-dark {
	--bg-color: hsla(#{round(hue($bg-color))}, #{round(saturation($bg-color))}, var(--bg-lightness, #{round(lightness($bg-color))}), var(--bg-alpha, 100%));
	--text-color: hsla(#{round(hue($text-color))}, #{round(saturation($text-color))}, var(--color-lightness, #{round(lightness($text-color))}), var(--color-alpha, 100%));
	--border-color: hsla(#{round(hue($border-color))}, #{round(saturation($border-color))}, var(--border-lightness, #{round(lightness($border-color))}), var(--border-alpha, 100%));

	background-color: var(--bg-color);
	color: var(--text-color);
	color-scheme: dark;

	select option,
	.tooltip {
		background-color: #262626;
		color           : #efefef;
	}

	.bg-theme {
		background-color: var(--bg-color);
	}
	.color-theme {
		color: var(--text-color);
	}

	@each $color_name,
	$color_value in variables.$colors {

		// Set each color variable.
		// --#{$color_name}    : #{$color_value};
		--#{$color_name}: hsla(#{round(hue($color_value))}, #{round(saturation($color_value))}, var(--color-lightness, #{round(lightness($color_value))}), var(--color-alpha, 100%));
		.dark\:bg-#{$color_name} {
			--bg-hue: var(--#{$color_name}-hue);
			--bg-sat: var(--#{$color_name}-sat);
			--bg-lightness: var(--#{$color_name}-lightness);
			background-color: hsla(var(--bg-hue), var(--bg-sat), var(--bg-lightness), var(--bg-alpha, 100%));
		}

		// Use the first color as the Default UI color.
		@if index(variables.$colors, ($color_name $color_value))==1 {

			--color: #{$color_value};

			// For the default UI Color, check to see if the text should be light or dark.
			@if (lightness($color_value) > 70) {
				--text-color: var(--ui-dark-text-color);
			}

			@else {
				--text-color: var(--ui-light-text-color);
			}
		}
	}

	@for $i from 1 through 9 {
		[class].dark\:color-#{$i}00 {
			--color-lightness: #{$i}0%;
		}
		[class].dark\:color-#{$i}0 {
			--color-alpha: #{$i}0%;
		}
		[class].dark\:bg-#{$i}00 {
			--bg-lightness: #{$i}0%;
		}
		[class].dark\:bg-#{$i}0 {
			--bg-alpha: #{$i}0%;
		}
		[class].dark\:border-#{$i}00 {
			--border-lightness: #{$i}0%;
		}
		[class].dark\:border-#{$i}0 {
			--border-alpha: #{$i}0%;
		}
	}
}


.theme-dark article,
article.theme-dark {
	background-color: var(--bg-color);
}
