/*!
* Spry Dark Theme
*/

@use "variables"as *;

// Update Prefered Theme Dark Colors
@media (prefers-color-scheme: dark) {
	select option {
		background: #1b1b1b;
		color     : #efefef;
	}
}

[data-theme=dark], html[data-theme=dark] {
	color-scheme: dark;
	color: var(--text);

	&,
	article {
		background-color: #1b1b1b;
	}

	select option,
	.tooltip {
		background-color: #282828;
		color           : #efefef;
	}

	@each $color_name, $color_value in $colors {
		@if map-get($color_value, 'dark') {
			--#{$color_name}    : #{map-get($color_value, 'dark')};
			--#{$color_name}-rgb: #{red(map-get($color_value, 'dark')), green(map-get($color_value, 'dark')), blue(map-get($color_value, 'dark'))};

			@if index($colors, ($color_name $color_value)) == 1 {
				--border-color    : #{map-get($color_value, 'dark')};
				--border-color-rgb: #{red(map-get($color_value, 'dark')), green(map-get($color_value, 'dark')), blue(map-get($color_value, 'dark'))};
			}

			@if index($colors, ($color_name $color_value)) == 1 {
				--color      : #{map-get($color_value, 'dark')};
				--color-rgb  : #{red(map-get($color_value, 'dark')), green(map-get($color_value, 'dark')), blue(map-get($color_value, 'dark'))};
				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: #{map-get(map-get($colors, 'text'), 'light')};
					--text-color-rgb: #{red(map-get(map-get($colors, 'text'), 'light')), green(map-get(map-get($colors, 'text'), 'light')), blue(map-get(map-get($colors, 'text'), 'light'))};
				}
	
				@else {
					--text-color: #{map-get(map-get($colors, 'text'), 'dark')};
					--text-color-rgb: #{red(map-get(map-get($colors, 'text'), 'dark')), green(map-get(map-get($colors, 'text'), 'dark')), blue(map-get(map-get($colors, 'text'), 'dark'))};
				}
			}

			.#{$color_name} {
				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: #{map-get(map-get($colors, 'text'), 'light')};
					--text-color-rgb: #{red(map-get(map-get($colors, 'text'), 'light')), green(map-get(map-get($colors, 'text'), 'light')), blue(map-get(map-get($colors, 'text'), 'light'))};
				}
	
				@else {
					--text-color: #{map-get(map-get($colors, 'text'), 'dark')};
					--text-color-rgb: #{red(map-get(map-get($colors, 'text'), 'dark')), green(map-get(map-get($colors, 'text'), 'dark')), blue(map-get(map-get($colors, 'text'), 'dark'))};
				}
			}
		}
	}
}