/*
* Spry Dark Theme
*/

@use "variables";

$theme-bg: #111;
$theme-text: #efefef;

// // Update Prefered Theme Dark Colors
// @media (prefers-color-scheme: dark) {
// 	select option {
// 		background: #{$theme-bg};
// 		color     : #{$theme-text};
// 	}
// }

:root.theme-dark,
.theme-dark {
	--theme: #{$theme-bg};
	--default-border-lightness: 30%;
	// --ui-light-text-color: #f2f2f2;
	// --ui-dark-text-color: #444;

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'dark') {
			@if index(variables.$colors, ($color_name $color_value)) == 1 {
				--color: #{map-get($color_value, 'dark')};
				--border-color: #{map-get($color_value, 'dark')};
			}
			--#{$color_name}: #{map-get($color_value, 'dark')};
			.#{$color_name} {
				--color: #{map-get($color_value, 'dark')};
				// --border-lightness: #{round(lightness(map-get($color_value, 'light')))};
		
				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}
		
				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}

.theme-dark {

	.color-theme {
		color: hsl(from #{$theme-text} h s var(--color-lightness, l) / var(--color-alpha, 100%));
	}
	.bg-theme {
		background-color: hsl(from #{$theme-bg} h s var(--bg-lightness, l) / var(--bg-alpha, 100%));
	}
	.border-theme {
		border-color: hsl(from #{$theme-bg} h s var(--border-lightness, l) / var(--border-alpha, 100%));
	}

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'dark') {
			--#{$color_name}: #{map-get($color_value, 'dark')};
			.color-#{$color_name} {
				--color-lightness: #{round(lightness(map-get($color_value, 'dark')))};
				color: hsl(from #{map-get($color_value, 'dark')} h s var(--color-lightness, #{map-get($color_value, 'dark')}) / var(--color-alpha, 100%));
			}
			.bg-#{$color_name} {
				--bg-lightness: #{round(lightness(map-get($color_value, 'dark')))};
				background-color: hsl(from #{map-get($color_value, 'dark')} h s var(--bg-lightness, #{map-get($color_value, 'dark')}) / var(--bg-alpha, 100%));
			}
			.border-#{$color_name} {
				--border-color: #{map-get($color_value, 'dark')};
				--border-lightness: #{round(lightness(map-get($color_value, 'dark')))};
				border-color: hsl(from #{map-get($color_value, 'dark')} h s var(--border-lightness, #{map-get($color_value, 'dark')}) / var(--border-alpha, 100%));
			}
			.dark\:color-#{$color_name} {
				color: hsl(from #{map-get($color_value, 'dark')} h s var(--color-lightness, #{map-get($color_value, 'dark')}) / var(--color-alpha, 100%));
			}
			.dark\:bg-#{$color_name} {
				background-color: hsl(from #{map-get($color_value, 'dark')} h s var(--bg-lightness, #{map-get($color_value, 'dark')}) / var(--bg-alpha, 100%));
			}
			.dark\:border-#{$color_name} {
				background-color: hsl(from #{map-get($color_value, 'dark')} h s var(--border-lightness, #{map-get($color_value, 'dark')}) / var(--border-alpha, 100%));
			}
		}
	}

	@each $shade_name, $shade_value in variables.$shades {
		.dark\:color-#{$shade_name} {
			--color-lightness: #{(calc($shade_value / 100%) * 100)};
		}
		.dark\:bg-#{$shade_name} {
			--bg-lightness: #{(calc($shade_value / 100%) * 100)};
		}
		.dark\:border-#{$shade_name} {
			--border-lightness: #{(calc($shade_value / 100%) * 100)};
		}
	}
	
	@each $opacity_name, $opacity_value in variables.$opacities {
		.dark\:color\/#{$opacity_name} {
			--color-alpha: #{$opacity_value};
		}
		.dark\:bg\/#{$opacity_name} {
			--bg-alpha: #{$opacity_value};
		}
		.dark\:border\/#{$opacity_name} {
			--border-alpha: #{$opacity_value};
		}
	}
}

.theme-dark,
.theme-dark article,
article.theme-dark {
	background-color: hsl(from #{$theme-bg} h s var(--bg-lightness, l) / var(--bg-alpha, 100%));
	color: hsl(from #{$theme-text} h s var(--color-lightness, l) / var(--color-alpha, 100%));
	color-scheme: dark;

	select option,
	.tooltip {
		background-color: #262626;
		color           : #efefef;
	}
}
