/*
* Spry Dark Theme
*/

@use "variables";
@use "extends";

:root.theme-dark,
.theme-dark {
	--theme-bg              : #111;
	--theme-text            : var(--text, #eee);
	--theme-border          : #3a3a3a;
	--theme-input-border    : #999;
	--card-color            : #282828;

	@each $color_name,
	$color_value in variables.$colors {
		@if map-get($color_value, 'dark') {
			--#{$color_name}: #{map-get($color_value, 'dark')};

			@if index(variables.$colors, ($color_name $color_value))==1 {
				--color: #{map-get($color_value, 'dark')};

				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}

.theme-dark {
	color           : hsl(from var(--theme-text) h s var(--clr-l, l) / var(--clr-a, 100%));
	background-color: hsl(from var(--theme-bg) h s var(--bg-l, l) / var(--bg-a, 100%));
	border-color    : hsl(from var(--theme-border) h s var(--bdr-l, l) / var(--bdr-a, 100%));
	color-scheme: dark;

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'dark') {
			.links-#{$color_name} :where(a:not(.button,[class^=color-],[class*=\ color-])),
			.hover\:links-#{$color_name} a:not(.button,[class*=hover\:color-]):is(:hover, :focus, .active) {	
				color: hsl(from #{map-get($color_value, 'dark')} h s var(--clr-l, l) / var(--clr-a, 100%));
			}
		}
	}

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'dark') {
			.#{$color_name} {
				--color       : #{map-get($color_value, 'dark')};
				--card-color  : #{map-get($color_value, 'dark')};
				--theme-border: #{map-get($color_value, 'dark')};

				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}

			.hover\:color-#{$color_name}:is(:hover, :focus, .active),
			.color-#{$color_name} {
				color: hsl(from #{map-get($color_value, 'dark')} h s var(--clr-l, l) / var(--clr-a, 100%));
			}

			.bg-#{$color_name} {
				background-color: hsl(from #{map-get($color_value, 'dark')} h s var(--bg-l, l) / var(--bg-a, 100%));
			}

			.border-#{$color_name} {
				--theme-border      : #{map-get($color_value, 'dark')};
				--theme-input-border: #{map-get($color_value, 'dark')};
				border-color        : hsl(from var(--theme-border) h s var(--bdr-l, l) / var(--bdr-a, 100%));
			}
		}
	}
	
	@for $i from 0 through 10 {
		.dark\:color-#{calc($i * 10)}{ 
			@extend %ui-clr-l-#{$i};
		}
		.dark\:bg-#{calc($i * 10)}{ 
			@extend %ui-bg-l-#{$i};
		}
		.dark\:border-#{calc($i * 10)} { 
			@extend %ui-bdr-l-#{$i};
		}
	}
}