/*!
* Spry Dark Theme
*/

@use "variables";

// Update Prefered Theme Dark Colors
@media (prefers-color-scheme: dark) {
	select option {
		background: #1b1b1b;
		color     : #efefef;
	}
}

:root[data-theme=dark],
[data-theme=dark] {
	--border-color-rgb: 70, 70, 70;
	--bg-color-rgb    : 20, 20, 20;
	--border-color    : rgb(var(--border-color-rgb));
	--ui-text-color: var(--ui-light-text-color);

	.bg-theme {
		background-color: rgb(var(--bg-color-rgb), var(--bg-alpha));
	}

	@each $color_name,
	$color_value in variables.$colors {
		@if map-get($color_value, 'dark') {

			// Set each color variable.
			--#{$color_name}    : #{map-get($color_value, 'dark')};
			--#{$color_name}-rgb: #{red(map-get($color_value, 'dark')), green(map-get($color_value, 'dark')), blue(map-get($color_value, 'dark'))};

			// Use the first color as the Default UI color.
			@if index(variables.$colors, ($color_name $color_value))==1 {

				--color     : #{map-get($color_value, 'dark')};
				--color-rgb : #{red(map-get($color_value, 'dark')), green(map-get($color_value, 'dark')), blue(map-get($color_value, 'dark'))};

				// For the default UI Color, check to see if the text should be light or dark.
				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}

[data-theme=dark],
[data-theme=dark] article,
article[data-theme=dark] {
	background-color: rgb(var(--bg-color-rgb), var(--bg-alpha));
}

[data-theme=dark] {
	color-scheme: dark;
	color       : map-get(map-get(variables.$types, 'body'), 'color');

	select option,
	.tooltip {
		background-color: #262626;
		color           : #efefef;
	}

	@each $color_name,
	$color_value in variables.$colors {
		@if map-get($color_value, 'dark') {

			// For each UI color Class, check to see if the text should be light or dark.
			.#{$color_name} {
				@if (lightness(map-get($color_value, 'dark')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}