@use "variables";
@use "mixins";
/*!
* Spry Extends
*/

%ui {
	align-items     : center;
	appearance      : none;
	background-color: transparent;
	border          : 0;
	color           : inherit;
	display         : inline-flex;
	font-size       : 100%;
	font-family     : inherit;
	justify-content : center;
	gap             : 1em;
	min-height      : 2.32em;
	min-width       : 2.3em;
	outline         : 0 solid rgb(from var(--ui-accent) r g b / 0.5);
	outline-offset  : 2px;
	padding-block   : .3em;
	padding-inline  : 1.1em;
	position        : relative;
	text-decoration : none;
	transition      : 
		opacity .1s ease-in-out,
		color .1s ease-in-out,
		background-color .1s ease-in-out,
		border-color .1s ease-in-out;
	vertical-align  : middle;
}

%ui-icon {
	padding : 0;
	position: relative;
	display : inline-flex;
	width   : 1.25em;
	height  : 1.25em;
	vertical-align: middle;
	flex: 0 1 auto;

	&:is(.outline, .hazy) {
		min-height: 2.3em;
		min-width : 2.3em;
	}

	> svg {
		backface-visibility: hidden;
		inset              : 50%;
		margin             : auto;
		position           : absolute;
		transform          : translateZ(0) translate(-50%);
		transform-origin   : 0 center;
	}
}

%ui-roomy {
	min-height: var(--roomy);
	min-width : var(--roomy);
}

%ui-border {
	border-width: 1px;
	border-style: solid;
	border-color: hsl(from var(--ui-border) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 100%));
}

%ui-border-radius {
	border-radius: var(--radius, .25em);
}

%ui-bg {
	background-color: hsl(from var(--ui-color) h s var(--bg-l, l) / var(--bg-a, 100%));
}

%ui-hover {
	background-color: hsl(from var(--ui-color) h s calc(var(--bg-l, l) + 10) / var(--bg-a, 100%));

	&:where(.hazy, .outline, .plain, .link) {
		background-color: hsl(from var(--ui-color) h s calc(var(--bg-l, l) + 10) / 15%);
	}
}

%ui-bg-hover {
	background-color: hsl(from var(--ui-accent) h s var(--bg-l, l) / 15%);
}

%ui-color {
	--ui-text: hsl(from var(--ui-color) 0 0 clamp(15%, calc((l - var(--invert))* -1000%), 98%) / var(--clr-a, 100%));
	color: var(--ui-text);
}

%ui-margin-above {
	margin-top: .5em;
}

%ui-margin-above-lg {
	margin-top: 1em;
}

%ui-margin-above-none {
	margin-top: 0;
}

%closed {
	@include mixins.closed;
}
%open {
	@include mixins.open;
}

%closed-inner {
	@include mixins.closed-inner;
}
%open-inner {
	@include mixins.open-inner;
}

%icon-arrow {
	&::after {
		content: "";
		background-color: transparent;
		border: .15em solid currentColor;
		border-bottom: 0;
		border-left: 0;
		display: block;
		height: .5em;
		margin: auto;
		position: absolute;
		transform: rotate(45deg);
		width: .5em;
	}
}