/*
* Spry Extends
*/
@use "variables";
@use "mixins";

%ui {
	align-items     : center;
	appearance      : none;
	background-color: transparent;
	border          : 0;
	color           : inherit;
	display         : inline-flex;
	font-size       : 100%;
	height          : auto;
	justify-content : center;
	gap             : 1em;
	min-height      : 2.3em;
	min-width       : 2.3em;
	outline         : 0 solid rgb(from var(--color) r g b / 0.25);
	outline-offset  : 2px;
	padding-block   : .3em;
	padding-inline  : 1em;
	position        : relative;
	text-decoration : none;
	transition      : 
		opacity .1s ease-in-out,
		color .1s ease-in-out,
		background-color .1s ease-in-out,
		border-color .1s ease-in-out;
	vertical-align  : middle;
	width           : 100%;
}

%ui-icon {
	padding : 0;
	position: relative;
	display : inline-flex;
	width   : 1.25em;
	height  : 1.25em;
	vertical-align: middle;
	flex: 0 1 auto;

	&:is(.outline, .hazy) {
		min-height: 2.3em;
		min-width : 2.3em;
	}

	> svg {
		backface-visibility: hidden;
		inset              : 50%;
		margin             : auto;
		position           : absolute;
		transform          : translateZ(0) translate(-50%);
		transform-origin   : 0 center;
	}
}

%ui-roomy {
	min-height: var(--roomy);
	min-width : var(--roomy);
}

%ui-border {
	--bdr-a     : 100%; // Reset for all UI elements
	border-width: 1px;
	border-style: solid;
	border-color: hsl(from var(--color) h s var(--bdr-l, l) / var(--bdr-a, 100%));
}

%ui-border-radius {
	border-radius: var(--border-radius, .25em);
}

%ui-bg {
	--bg-a          : 100%; // Reset for all UI elements
	background-color: hsl(from var(--color) h s var(--bg-l, l) / var(--bg-a, 100%));
}

%ui-hover {
	background-color: hsl(from var(--color) h s calc(var(--bg-l, l) + 10) / var(--bg-a, 100%));

	&:where(.hazy, .outline, .plain, .link) {
		background-color: hsl(from var(--color) h s calc(var(--bg-l, l) + 10) / 15%);
	}
}

%ui-bg-hover {
	background-color: hsl(from var(--color) h s l / 15%);
}

%ui-color {
	color: hsl(from var(--text-color) h s var(--clr-l, l) / var(--clr-a, 100%));
}

%ui-margin-above {
	margin-top: .5em;
}

%ui-margin-above-lg {
	margin-top: 1em;
}

%ui-margin-above-none {
	margin-top: 0;
}

@for $i from 0 through 10 {
	%ui-clr-a-#{$i} {
		--clr-a: #{calc($i / 10)};
	}

	%ui-clr-l-#{$i} {
		--clr-l: #{calc($i * 10)};
	}

	%ui-bg-a-#{$i} {
		--bg-a: #{calc($i / 10)};
	}

	%ui-bg-l-#{$i} {
		--bg-l: #{calc($i * 10)};
	}

	%ui-bdr-a-#{$i} {
		--bdr-a: #{calc($i / 10)};
	}

	%ui-bdr-l-#{$i} {
		--bdr-l: #{calc($i * 10)};
	}
}

// @each $color_name, $color_values in variables.$colors {
// 	@each $theme_name, $color_value in $color_values {
// 		%ui-clr-#{$theme_name}-#{$color_name} {
// 			color: hsl(from #{$color_value} h s var(--clr-l, l) / var(--clr-a, 100%));
// 		}
// 		%ui-bg-#{$theme_name}-#{$color_name} {
// 			background-color: hsl(from #{$color_value} h s var(--bg-l, l) / var(--bg-a, 100%));
// 		}
// 		%ui-bdr-#{$theme_name}-#{$color_name} {
// 			--theme-border      : #{$color_value};
// 			--theme-input-border: #{$color_value};
// 			border-color        : hsl(from var(--theme-border) h s var(--bdr-l, l) / var(--bdr-a, 100%));
// 		}
// 	}
// }

%closed {
	@include mixins.closed;
}
%open {
	@include mixins.open;
}

%inner-closed {
	@include mixins.inner-closed;
}
%inner-open {
	@include mixins.inner-open;
}