/*
* Spry Extends
*/
@use "mixins";

%ui {
	align-items     : center;
	appearance      : none;
	background-color: transparent;
	border          : 0;
	color           : inherit;
	display         : inline-flex;
	font-size       : 100%;
	height          : auto;
	justify-content : center;
	min-height      : 2.3em;
	min-width       : 2.3em;
	outline         : 0 solid rgb(from var(--color) r g b / 0.25);
	outline-offset  : 2px;
	padding-block   : .3em;
	padding-inline  : 1em;
	position        : relative;
	text-decoration : none;
	transition      : all .1s ease-in-out;
	vertical-align  : middle;
	width           : 100%;
}

%ui-roomy {
	min-height: var(--roomy);
	min-width : var(--roomy);
}

%ui-border {
	border-color: hsl(from var(--color) h s var(--border-lightness, l) / var(--border-alpha, 100%));
	border-width: 1px;
	border-style: solid;
}

%ui-border-radius {
	border-radius: var(--border-radius, .25em);
}

%ui-bg {
	background-color: hsl(from var(--color) h s var(--bg-lightness, l) / var(--bg-alpha, 100%));
	border-color    : hsl(from var(--color) h s var(--border-lightness, l) / var(--border-alpha, 100%));
}

%ui-hover {
	// filter: brightness(1.15);
	background-color: hsl(from var(--color) h s calc(var(--bg-lightness, l) + 10) / var(--bg-alpha, 100%));
	// color: hsl(from var(--text-color) h s calc(l + 10) / var(--color-alpha, 100%));
	&:where(.hazy, .outline, .plain, .link) {
		background-color: hsl(from var(--color) h s calc(var(--bg-lightness, l) + 10) / 15%);
	}
}

%ui-bg-hover {
	background-color: hsl(from var(--color) h s l / 15%);
}

// %ui-hover {
// 	filter: brightness(1.15);
// }

// %ui-bg-hover {
// 	--bg-alpha      : .15;
// 	background-color: rgba(var(--color-rgb), var(--bg-alpha));
// }

%ui-color {
	color: var(--text-color);
	--select-arrow: var(--text-color);
	&:where(.link, .outline, .hazy, .plain) {
		color: hsl(from var(--color) h s var(--color-lightness, l) / var(--color-alpha, 100%));
	}
	&[aria-busy=true] {
		color: transparent;
	}
}

%ui-margin-above {
	margin-top: .5em;
}

%ui-margin-above-lg {
	margin-top: 1em;
}

%ui-margin-above-none {
	margin-top: 0;
}

%toggle-closed {
	@include mixins.toggle-closed;
}

%toggle-open {
	@include mixins.toggle-open;
}