
.row {
	display: flex;
	flex-wrap: wrap;
	max-width: $row-max-width;
	margin-left: auto;
	margin-right: auto;
	gap: $gap;
	> * {
		flex: 1;
	}
	> .col-auto {
		flex: auto;
	}
}

@each $i, $space in $spacing {
	[class*="row"].g-#{$i},
	[class*="row"].g-#{$i} [class*="row"] {
		gap: #{$space}rem;
	}
}

@for $i from 1 through 12 {
	.row .col-#{$i} {
		flex: 1 1 calc( #{percentage($i / 12)} - #{$gap} );
		@if $i == 12 {
			max-width: calc( #{percentage($i / 12)} );
		} @else {
			max-width: calc( #{percentage($i / 12)} - #{($gap / 2)} );
		}
	}
	@each $s, $space in $spacing {
		.row.g-#{$s} .col-#{$i},
		.row.g-#{$s} [class*="row"] .col-#{$i} {
			flex: 1 1 calc( #{percentage($i / 12)} - #{$space}rem );
			@if $i == 12 {
				max-width: calc( #{percentage($i / 12)} )
			} @else {
				max-width: calc( #{percentage($i / 12)} - #{($space / 2)}rem );
			}
		}
	}
}

@each $breakpoint, $breakpoint_width in $breakpoints {

	.#{$breakpoint}-row {
		gap: $gap;
		display: flex;
		flex-wrap: wrap;
		> * {
			flex: 0 0 100%;
		}
	}

	.#{$breakpoint}-mw {
		max-width: $breakpoint_width;
	}

	@each $i, $space in $spacing {
		.#{$breakpoint}-row.g-#{$i},
		.#{$breakpoint}-row.g-#{$i} [class*="row"] {
			gap: #{$space}rem;
		}
	}

	@media screen and (min-width: $breakpoint_width) {

		// Flex
		.#{$breakpoint}-row {
			display: flex;
			
			max-width: $row-max-width;
			margin-left: auto;
			margin-right: auto;
			gap: $gap;
			> * {
				flex: 1;
			}
			> .col-auto {
				flex: auto;
			}
		}

		@each $i, $space in $spacing {
			[class*="row"].#{$breakpoint}-g-#{$i},
			[class*="row"].#{$breakpoint}-g-#{$i} [class*="row"] {
				gap: #{$space}rem;
			}
		}

		// Columns
		@for $i from 1 through 12 {
			.#{$breakpoint}-row .col-#{$i},
			[class*="row"] .#{$breakpoint}-col-#{$i} {
				flex: 1 1 calc( #{percentage($i / 12)} - #{$gap} );
				@if $i == 12 {
					max-width: calc( #{percentage($i / 12)} )
				} @else {
					max-width: calc( #{percentage($i / 12)} - #{($gap / 2)} );
				}
			}
			@each $s, $space in $spacing {
				.#{$breakpoint}-row.g-#{$s} .col-#{$i},
				[class*="row"].g-#{$s} .#{$breakpoint}-col-#{$i},
				[class*="row"].g-#{$s} [class*="row"] .#{$breakpoint}-col-#{$i} {
					flex: 1 1 calc( #{percentage($i / 12)} - #{$space}rem );
					@if $i == 12 {
						max-width: calc( #{percentage($i / 12)} )
					} @else {
						max-width: calc( #{percentage($i / 12)} - #{($space / 2)}rem );
					}
				}

				[class*="row"].#{$breakpoint}-g-#{$s} .col-#{$i},
				[class*="row"].#{$breakpoint}-g-#{$s} [class*="col"].#{$breakpoint}-col-#{$i},
				[class*="row"].#{$breakpoint}-g-#{$s} .#{$breakpoint}-col-#{$i},
				[class*="row"].#{$breakpoint}-g-#{$s} [class*="row"] .col-#{$i},
				[class*="row"].#{$breakpoint}-g-#{$s} [class*="row"] .#{$breakpoint}-col-#{$i} {
					flex: 1 1 calc( #{percentage($i / 12)} - #{$space}rem );
					@if $i == 12 {
						max-width: calc( #{percentage($i / 12)} )
					} @else {
						max-width: calc( #{percentage($i / 12)} - #{($space / 2)}rem );
					}
				}
			}
		}
	}
}