/*!
* Spry Forms
*/
@use "ui" as *;

:is(input,textarea,select){
	@extend %ui;
	// @extend %ui-focus-visible;
	@extend %ui-border;
	@extend %ui-border-radius;
	border-color: var(--border-color);
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	&:hover {
		outline: none;
	}
	&:hover,
	&:focus {
		border-color: var(--color);
	}
	&:focus {
		box-shadow: inset 0 0 0 1px var(--color);
	}
}
label .ui {
	border-color: var(--border-color);
	background-color: rgba(var(--border-color-rgb), .2);
	color: rgba(var(--contrast-rgb), 0.8);
}

label:focus-within .ui {
	background-color: var(--color);
	border-color: var(--color);
	color: var(--text);
}

::placeholder {
	opacity: .7;
}

:is([type=radio], [type=checkbox]) {
	min-height: 1em;
	min-width: 1em;
	width: 1em;
	padding: 0;
	margin : 0 .6em 0 .4em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	&:checked {
		border-color: var(--color);
		&::after {
			background-color: var(--color);
			border-radius: 2px;
		}
	}
	&:checked::after,
	&.switch::after {
		content: "";
		display: block;
		width: 0.6em;
		height: 0.6em;
	}
	&.switch {
		width: 2.25em;
		height: 1.15em;
		border-radius: 1em;	
		justify-content: left;
		transition: all .1s ease-out;
		&:not(:checked)::after {
			background-color: var(--border-color);
			opacity: 0.3;
		}
		&::after{
			width: 0.75em;
			height: 0.75em;
			margin: .15em;
			transition: left .2s ease-in-out;
		}
		&:checked{
			justify-content: right;
		}
	}
}


[type=radio],
[type=radio]:checked::after,
[type=checkbox].switch::after{
	border-radius: 50%;
}

:is([type=checkbox], [type=radio]):focus-visible:not(:hover) {
	outline-width: 4px;
}

:disabled {
	opacity       : .6;
	pointer-events: none;
}

form.disabled :is(input, select, textarea, label, button) {
	pointer-events: none;
	opacity       : 0.8;
}

select,
.is-select {
	background-image   : url("data:image/svg+xml;utf8,<svg fill='gray' xmlns='http://www.w3.org/2000/svg' viewBox='-20 -6 40 36'><path d='M7.41 8.58 12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z'/></svg>");
	background-repeat  : no-repeat;
	background-position: calc(100% - 0.8em);
	padding-right      : 1.7em;
	line-height        : 1.55;
}

select option {
	background: #eee;
	color     : #333;
}

textarea {
	min-height : 8em;
	max-height : 500px;
	padding    : .75rem;
	max-width  : 100%;
	min-width  : 100%;
	line-height: 1.2;
}

label {
	position: relative;
	display : block;

	sup,
	sub {
		position        : absolute;
		transform       : translate(10px, -50%);
		top             : 1.3em;
		transition      : all .2s ease-in-out;
		transform-origin: left;
		opacity         : 0.7;
	}

	&:focus-within,
	&:has(input:not(:placeholder-shown)),
	&:has(textarea:not(:placeholder-shown)),
	&:has(select option:not(:empty):checked) {

		:is(sup, sub) {
			transform  : translate(3px, -50%) scale(0.85);
			top        : -12px;
			font-weight: 500;
		}

		sub {
			top: calc(100% + 11px);
		}
	}

	&:focus-within :is(sup, sub) {
		color: var(--color);
	}

	&:has(sup) {
		margin-top: 1rem;
	}

	&:has(sub) {
		margin-bottom: 1rem;
	}
}

.show-invalid :not(:focus):user-invalid {
	border-color: #ff0000;
}

.show-invalid label:has(:not(:focus):user-invalid) .ui {
	background-color: #ff0000;
	border-color: #ff0000;
	color: #eee;
}