@use "extends";
/*!
* Spry Forms
*/

:where(input, textarea, select),
input::file-selector-button,
.input>*,
.input {
	--input-color: hsl(from var(--ui-input) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
}

:where(input, textarea, select, .input) {
	@extend %ui;
	@extend %ui-border;
	@extend %ui-border-radius;
	display       : inline-block;
	border-color  : var(--input-color);
	--select-arrow: var(--input-color);
	font-family   : inherit;
	font-weight   : inherit;
	min-width     : 0;

	&:is(:hover, :focus, :focus-within):not(.icon, .switch) {
		--ui-input: hsl(from var(--ui-accent) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
	}
}

:where(h1, h2, h3, h4, h5, h6, label, p)+ :where(input, select, textarea, .input),
label> :is(input, select, textarea):not([type=radio], [type=checkbox]):only-child {
	margin-top: var(--pad);
}

[type=range] {
	&::-moz-range-track {
		background: var(--ui-accent);
		height    : 2px;
	}

	&::-webkit-slider-runnable-track {
		background: var(--ui-accent);
		height    : 2px;
	}

	&::-moz-range-thumb {
		appearance   : none;
		background   : var(--ui-accent);
		width        : 1em;
		height       : 1em;
		border-radius: 50%;
		margin-top   : -.45em;
		border       : 0;
	}

	&::-webkit-slider-thumb {
		appearance   : none;
		background   : var(--ui-accent);
		width        : 1em;
		height       : 1em;
		border-radius: 50%;
		margin-top   : -.45em;
	}
}

::placeholder {
	opacity: .7;
}

[type=number] {
	padding-inline-end: 0.5em;
}

[type=date],
[type=time] {
	padding-right: 0.5em;
}

:where([type=radio], [type=checkbox]) {
	min-height       : 1em;
	min-width        : 1em;
	width            : 1em;
	padding          : 0;
	margin           : 0;
	margin-inline-end: 0.6em;
	display          : inline-flex;
	align-items      : center;
	justify-content  : center;
	vertical-align   : text-bottom;

	&::after {
		content         : "";
		position        : absolute;
		transition      : .1s ease-in-out;
		background-color: var(--ui-accent);
		border-radius   : 2px;
	}
}

:is([type=radio], [type=checkbox]).loading:after {
	max-height: 75%;
	max-width : 75%;
	--ui-text : var(--ui-accent);
}

.switch {
	width          : 2.25em;
	height         : 1.15em;
	border-radius  : 1em;
	justify-content: start;

	&:not(:checked, .loading)::after {
		background-color: var(--input-color);
		opacity         : 0.7;
	}

	&::after {
		margin      : auto;
		position    : absolute;
		inset       : 0 auto 0 .2em;
		aspect-ratio: 1;
		height      : 70%;
	}

	&:checked::after {
		left: calc(100% - .9em);
	}

	&.loading::after {
		background: transparent;
		left      : calc(50% - .3em);
	}
}

:not(.icon):checked {
	border-color: var(--ui-accent);
}

:not(.icon, .switch):checked::after {
	inset: 2px;
}

[type=radio],
[type=radio]:checked::after,
[type=checkbox].switch::after {
	border-radius: 50%;
}

:disabled,
.disabled {
	opacity       : .7;
	pointer-events: none;
}

select,
.select {
	text-align         : start;
	padding-inline-end : 1.7em;
	line-height        : var(--comfort-lh);
	background         : linear-gradient(45deg, transparent 50%, var(--select-arrow) 0 calc(50% + 1px), transparent calc(50% + 2px)), linear-gradient(-45deg, transparent 50%, var(--select-arrow) 0 calc(50% + .065em), transparent calc(50% + 2px));
	background-size    : .4em .4em;
	background-position: calc(100% - 1.2em), calc(100% - 0.82em);
	background-repeat  : no-repeat;
	cursor: default;
}

[dir="rtl"] select,
[dir="rtl"] .select {
	background-position: 0.82em, 1.2em;
}

input,
select {
	text-overflow: ellipsis;
}

textarea {
	min-height : 8em;
	max-height : 500px;
	padding    : .75rem;
	max-width  : 100%;
	min-width  : 100%;
	line-height: 1.2;
}

[type=file] {
	padding-inline-start: .5em;
	text-overflow       : revert;
	overflow            : hidden;
	padding-block       : 0;
	align-content       : center;
}

::file-selector-button {
	appearance       : none;
	border           : 0;
	--bdr-a          : .5;
	border-inline-end: 1px solid var(--input-color);
	background-color : hsl(from var(--theme-ui) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));
	color            : var(--ui-text);
	height           : auto;
	line-height      : 2;
	padding-inline   : 1em;
	margin-block     : calc(-1 * var(--comfort-py));
	margin-inline    : -.6em 1em;
	font             : inherit;
	opacity          : .8;
	padding-block    : calc(var(--comfort-py) * 2);
}

::-webkit-calendar-picker-indicator {
	padding-block: 0;
}

.input {
	display    : flex;
	gap        : 0;
	overflow   : hidden;
	padding    : 0;
	align-items: stretch;

	> :not(input, select, textarea) {
		min-width    : max-content;
		border-radius: 0;
		min-height   : 0;
		height       : auto;
		min-width    : var(--comfort);
	}

	[type=color]+output {
		min-width: 100px;
	}

	:is(input, select, textarea) {
		outline: 0;
		width  : 100%;
	}

	>* {
		border       : 0;
		border-radius: 0;
		outline      : 0;
		box-shadow   : none;
		min-height   : 0;
		height       : auto;
		padding-block: var(--comfort-py);
		min-width    : var(--comfort);

		&:where(:not(input, select, textarea)) {

			@extend %ui;

			--bg-a         : 1;
			--ui-text      : hsl(from var(--theme-ui) 0 0 clamp(15%, calc((l - var(--invert)) * -1000%), 98%) / var(--clr-a, 1));
			color          : var(--ui-text);
			justify-content: center;
			opacity        : .8;
			padding-block  : 0;
			min-width      : var(--comfort);
			--bdr-a        : .7;

			background-color: hsl(from var(--theme-ui) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));

			&:first-child {
				border-inline-end: 1px solid var(--input-color);
			}

			&:last-child {
				border-inline-start: 1px solid var(--input-color);
			}
		}

	}
}

label {
	display: block;

	&:focus-within .input> :not(input, select, textarea),
	&:focus-within input::file-selector-button {
		background-color: var(--ui-border);
		opacity         : 1;
		--ui-text       : hsl(from var(--ui-color) 0 0 clamp(15%, calc((l - var(--invert))* -1000%), 98%) / var(--clr-a, 1));
	}

	&:hover .input> :not(input, select, textarea) {
		--theme-input: var(--ui-border);
	}

	:is(sup, sub) {
		pointer-events: none;
		position  : relative;
		display   : inline-block;
		opacity   : 0.7;
		transform : translate(1em, 2.6em);
		transition: all .2s ease-in-out;
		z-index   : 1;
	}

	sub {
		transform: translate(1em, -2.65em);
	}

	&:focus-within,
	&:has(input:not(:placeholder-shown)),
	&:has(textarea:not(:placeholder-shown)),
	&:has(select option:not(:empty):checked) {

		:is(sup, sub) {
			opacity    : 0.7;
			transform  : translate(.1em, 0) scale(0.85);
			font-weight: 500;
		}
	}

	:is(input, select, textarea):not([type=radio], [type=checkbox]) {
		width: 100%;
	}
}

[dir="rtl"] label {
	:is(sup, sub) {
		transform: translate(-1em, 2.6em);
	}

	sub {
		transform: translate(-1em, -2.65em);
	}

	&:focus-within,
	&:has(input:not(:placeholder-shown)),
	&:has(textarea:not(:placeholder-shown)),
	&:has(select option:not(:empty):checked) {

		:is(sup, sub) {
			transform: translate(-.1em, 0) scale(0.85);
		}
	}
}

.invalid {
	display: none;
}

.show-invalid {

	/* This is costly only on Chrome because of :has(), Maybe remove it */
	:not(:focus-within):has([type=radio][required][value=""]:checked),
	.input:has(:user-invalid),
	:user-invalid {
		border-color : var(--error, #c33);
		outline-color: rgba(from var(--error, #c33) r g b / .4);
	}

	label:has(:user-invalid) .invalid {
		display: revert;
	}

	.input:has(:user-invalid)> :not(input, select, textarea) {
		background-color: var(--error, #c33);
		border-color    : var(--error, #c33);
		--ui-color      : var(--error, #c33);
		@extend %ui-color;
	}
}

progress {
	appearance      : none;
	position        : relative;
	width           : 100%;
	height          : 12px;
	border          : none;
	border-radius   : var(--radius);
	--prg-track     : hsl(from var(--theme-ui) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));
	background-color: var(--prg-track);
	overflow        : hidden;

	/* WebKit (Chrome, Safari, Edge) */
	&::-webkit-progress-bar {
		background-color: var(--prg-track);
	}

	&::-webkit-progress-value {
		border-start-end-radius: 0;
		border-end-end-radius  : 0;
		background-color       : var(--ui-accent);
		border                 : 3px solid var(--ui-accent);
	}

	/* Firefox */
	&::-moz-progress-bar {
		border-start-end-radius: 0;
		border-end-end-radius  : 0;
		background-color       : var(--ui-accent);
		border                 : 3px solid var(--ui-accent);
	}
}