@use "variables";
@use "sass:meta";
/*!
* Spry General Utilities
*/

.pointer {
	cursor: pointer
}

.circle,
.square {
	aspect-ratio: 1;
}

.circle {
	border-radius: 50%;
}

.widescreen {
	aspect-ratio: 16 / 9;
}

@for $i from 1 through 5 {
	.index-#{$i} {
		z-index: #{$i}
	}
}

.truncate-1 {
	overflow-wrap: break-word;
	word-break   : break-all;
}

.truncate,
[class*="truncate-"] {
	max-width         : 100%;
	overflow          : hidden;
	text-overflow     : ellipsis;
	display           : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp        : 1;
}

@for $i from 2 through 5 {
	.truncate-#{$i} {
		-webkit-line-clamp: #{$i};
		line-clamp        : #{$i};
		white-space       : normal;
		word-break        : break-word;
	}
}

.truncate {
	white-space: nowrap;
	display    : inline-block
}

.snug {
	translate: -1em -.7em
}

.select-text {
	user-select: text;
}

.slow {
    --speed: .8s;
}

.medium {
    --speed: .4s;
}

.fast {
    --speed: .2s;
}

.instant {
    --speed: 0s;
}

.transition,
.transition-inner > * {
	transition: var(--speed) var(--ease);
}

.clip-text {
	color: transparent;
    background-clip: text;
}

@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
	.\@container {
		container-type: inline-size;
		position      : relative
	}

	.no-container {
		container-type: initial
	}
}

.cover {
	background-size: cover;
	object-fit     : cover
}

.contain {
	background-size: contain;
	object-fit     : contain
}

.text-shadow {
	text-shadow: 1px 2px 0px rgba(0, 0, 0, .2);
}

.drop-shadow {
	filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .3));
}

.hyphens {
	hyphens: auto;
}

.no-bg {
	background: none;
}

.no-resize {
	resize: none
}

.no-select {
	user-select: none;
}

.no-transition {
	--speed: 0s;
	transition: none;
}
.no-transition-inner * {
	--speed: 0s;
	transition: none;
}

.no-appearance {
	appearance: none;

	&::-webkit-outer-spin-button,
	&::-webkit-calendar-picker-indicator,
	&::-webkit-inner-spin-button {
		display: none;
	}
}

.no-hyphens {
	hyphens: none;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.strikethrough {
	text-decoration: line-through;
}