/*!
* Spry Grid
*/
@use "variables"as *;

.column {
	display       : flex;
	flex-direction: column;
	--gap: #{map-get($gaps, 'default')};
	gap: var(--gap);
}

.row {
	display       : flex;
	flex-wrap     : wrap;
	flex-direction: row;
	grid-auto-flow: column;
	--gap: #{map-get($gaps, 'default')};
	gap: var(--gap);
	> * {
		flex: 1;
	}
}

.grid,
[class*=grid-] {
	display: grid;
	--gap: #{map-get($gaps, 'default')};
	gap: var(--gap);
}

[class*="grid-"] {
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--col) * 100px), 1fr));
}

.grid[class*="columns-"] {
	grid-template-columns: repeat(var(--col), minmax(0, 1fr));
}

[class*="columns-"]>* {
	flex      : none;
	flex-basis: calc((100% / var(--col)) - ((var(--gap) * (var(--col) - 1)) / var(--col)));
}

[class*="span-"] {
	grid-column: 1 / span var(--col);
	flex     : calc(((var(--col) / 12) * 100%) - var(--gap));
	max-width: calc(((var(--col) / 12) * 100%) - (((var(--gap) * (var(--col) / 12)) - var(--gap)) / (var(--col) / 12)));
}

.columns-auto>*,
.columns-fill>*,
.span-auto,
.span-fill {
	flex: 0 auto;
	min-width: auto;
	max-width: none;
	width    : auto;
}

.columns-fixed>*,
.span-fixed {
	flex: 1;
}

.columns-fill>*,
.span-fill {
	flex: 1 auto;
}

@for $i from 1 through 12 {

	.span-#{$i},
	.grid-#{$i}00,
	.columns-#{$i},
	.columns-#{$i}>*{
		--col: #{$i};
	}
}

@each $breakpoint, $breakpoint_width in $breakpoints {

	.#{$breakpoint}-mw {
		max-width: $breakpoint_width;
	}

	@media screen and (min-width: $breakpoint_width) {

		.row,
		.column,
		.grid,
		[class*=grid-] {
			--gap: #{map-get($gaps, $breakpoint)};
		}

		@for $i from 1 through 12 {

			.#{$breakpoint}-span-#{$i},
			.#{$breakpoint}-columns-#{$i},
			.#{$breakpoint}-columns-#{$i}>* {
				--col: #{$i};
			}
		}

		.#{$breakpoint}-column {
			display       : flex;
			flex-direction: column;
			--gap: #{map-get($gaps, $breakpoint)};
		}

		.#{$breakpoint}-row {
			display       : flex;
			flex-wrap     : wrap;
			flex-direction: row;
			grid-auto-flow: column;
			--gap: #{map-get($gaps, $breakpoint)};
		}

		.#{$breakpoint}-grid {
			display: grid;
			--gap: #{map-get($gaps, $breakpoint)};
		}

		.#{$breakpoint}-columns-auto>*,
		.#{$breakpoint}-columns-fill>*,
		.#{$breakpoint}-span-auto,
		.#{$breakpoint}-span-fill {
			flex: 0 auto;
			min-width: auto;
			max-width: none;
			width    : auto;
		}

		.#{$breakpoint}-columns-fixed>*,
		.#{$breakpoint}-span-fixed {
			flex: 1;
		}

		.#{$breakpoint}-columns-fill>*,
		.#{$breakpoint}-span-fill {
			flex: 1 auto;
		}
	}
}

@each $s,
$space in $spacing {
	.g-#{$s} {
		--gap: #{$space};
		gap  : var(--gap);
	}
}

@each $breakpoint, $breakpoint_width in $breakpoints {
	@media screen and (min-width: $breakpoint_width) {
		@each $s, $space in $spacing {
			.#{$breakpoint}-g-#{$s} {
				--gap: #{$space};
				gap  : var(--gap);
			}
		}
	}
}