/*
* Spry Grid
*/
@use "variables"as *;

.grid,
.row,
[class^=grid-],
[class*=" grid-"],
[class^=g-],
[class*=" g-"],
[class*="-g-"] {
	gap: var(--gap);
}

.grid,
[class*=grid-] {
	display: grid;
}

[class^=columns-],
[class*=" columns-"],
[class*="-columns-"] {
	grid-template-columns: repeat(var(--col), minmax(0, 1fr));
}

[class^=grid-],
[class*=" grid-"] {
	grid-template-columns: repeat(auto-fit, minmax(calc(var(--col) * 100px), 1fr));
}

.grid>[class^=col-],
.grid>[class*=" col-"],
.grid>[class*="-col-"] {
	grid-column: 1 / span var(--col);
}

.row[class^=columns-]>*,
.row[class*=" columns-"]>*,
.row[class*="-columns-"]>* {
	flex      : none;
	flex-basis: calc((100% / var(--col)) - ((var(--gap) * (var(--col) - 1)) / var(--col)));
}

.row>[class^=col-],
.row>[class*=" col-"],
.row>[class*="-col-"] {
	flex     : calc(((var(--col) / 12) * 100%) - var(--gap));
	max-width: calc(((var(--col) / 12) * 100%) - (((var(--gap) * (var(--col) / 12)) - var(--gap)) / (var(--col) / 12)));
}

.row {
	display  : flex;
	flex-wrap: wrap;

	>* {
		flex: 0 100%;
	}

	&.columns-fixed>*,
	>.col-fixed {
		flex: 1;
	}

	&.columns-auto>* {
		flex     : auto;
		min-width: auto;
		max-width: none;
	}

	>.col-auto {
		flex     : 0 auto;
		min-width: auto;
		max-width: none;
	}
}

@for $i from 1 through 12 {

	.grid.columns-#{$i},
	.grid-#{$i}00,
	.grid>.col-#{$i},
	.row.columns-#{$i}>*,
	.row>.col-#{$i} {
		--col: #{$i};
	}
}

@each $s,
$space in $spacing {
	.g-#{$s} {
		--gap: #{$space};
	}
}

@each $breakpoint,
$breakpoint_width in $breakpoints {

	.#{$breakpoint}-mw {
		max-width: $breakpoint_width;
	}

	@media screen and (min-width: $breakpoint_width) {
		@for $i from 1 through 12 {

			.grid.#{$breakpoint}-columns-#{$i},
			.grid>.#{$breakpoint}-col-#{$i},
			.row.#{$breakpoint}-columns-#{$i}>*,
			.row>.#{$breakpoint}-col-#{$i} {
				--col: #{$i};
			}
		}

		.row>*,
		.row.#{$breakpoint}-columns-fixed>*,
		.row>.#{$breakpoint}-col-fixed {
			flex: 1;
		}

		.row.#{$breakpoint}-columns-auto>* {
			flex     : auto;
			min-width: auto;
			max-width: none;
		}

		.row>.#{$breakpoint}-col-auto {
			flex     : 0 auto;
			min-width: auto;
			max-width: none;
		}

		@each $s,
		$space in $spacing {
			.#{$breakpoint}-g-#{$s} {
				--gap: #{$space};
			}
		}
	}
}