/*!
* Spry Icons
*/
// @use "ui"as *;

.icon {

	padding : 0;
	position: relative;
	display : inline-flex;
	width   : 1.25em;
	height  : 1.25em;
	vertical-align: middle;
	flex: 0 1 auto;

	&:is(.outline, .hazy) {
		min-height: 2.3em;
		min-width : 2.3em;
	}

	> svg {
		backface-visibility: hidden;
		inset              : 50%;
		margin             : auto;
		position           : absolute;
		transform          : translateZ(0) translate(-50%);
		transform-origin   : 0 center;
	}
}

:is(a, button, .button, .icon) > svg,
svg.icon {
	fill      : currentColor;
	transition: all .2s var(--ease);
}

[data-toggle].has-2svg svg:nth-of-type(2),
[data-toggle][aria-pressed=true].has-2svg svg:first-of-type {
	opacity: 0;
	scale  : .5
}

[data-toggle][aria-pressed=true].has-2svg svg:last-of-type {
	opacity: 1;
	scale  : 1;
}

[data-toggle]:has(svg:nth-of-type(2)) svg:nth-of-type(2),
[data-toggle][aria-pressed=true]:has(svg:nth-of-type(2)) svg:first-of-type {
	opacity: 0;
	scale  : .5
}

[data-toggle][aria-pressed=true]:has(svg:nth-of-type(2)) svg:last-of-type {
	opacity: 1;
	scale  : 1;
}

:is(button, .button, .alert, .icon) svg,
svg.icon {
	width : 1.25em;
	height: 1.25em;
}