/*!
* Spry Icons
*/

.icon {
	box-shadow     : none;
	display        : inline-flex;
	flex           : 0 1 auto;
	height         : 1.25em;
	margin         : 0;
	padding        : 0;
	position       : relative;
	vertical-align : middle;
	justify-content: center;
	align-items    : center;
	width          : 1.25em;
	--speed        : .2s;

	:is(svg, img) {
		// inset           : 50%;
		margin             : auto;
		position           : absolute;
		// transform       : translateZ(0) translate(-50%);
		transform-origin   : 0 center;
	}

	&.thin svg {
		stroke-width: 1;
	}

	&,
	:is(svg, img) {
		backface-visibility       : hidden;
		fill                      : currentColor;
		transition-duration       : var(--speed);
		transition-property       : scale, transform, rotate, opacity;
		transition-timing-function: var(--ease);
	}

	&:where(svg, img),
	:where(svg, img) {
		width : 1.25em;
		height: 1.25em;
	}

	&:where(.outline, .hazy) {
		min-height: var(--comfort);
		min-width : var(--comfort);
	}

	&:is(.next, .prev, .up, .down, .menu, .dots, .close) {

		&::before,
		&::after {
			content      : '';
			background   : transparent;
			border       : 0;
			border-radius: .12em;
			box-shadow   : none;
			display      : block;
			height       : 1.2em;
			inset        : 0;
			margin       : auto;
			margin       : auto;
			opacity      : 1;
			position     : absolute;
			transition   : var(--speed) var(--ease);
			transition-property       : scale, transform, rotate, opacity;
			width        : .12em;
		}
	}

	&:is(.up, .down, .prev, .next, .menu, .dots, .close)::after {
		border       : .16em solid currentColor;
		border-bottom: 0;
		border-left  : 0;
		height       : .7em;
		transform    : rotate(135deg) translate(-.1em, .1em);
		width        : .7em;
	}

	&.thin::after {
		border-width: .06em;
	}

	&.prev::after {
		rotate: 90deg;
	}

	&.up::after {
		rotate: 180deg;
	}

	&.next::after {
		rotate: 270deg;
	}

	&:is(.menu, .dots, .close) {

		&::before,
		&::after {
			content         : '';
			background-color: currentColor;
			border          : 0;
			border-radius   : .12em;
			box-shadow      : none;
			margin          : auto;
			width           : .12em;
		}

		&::before {
			order: 1;
		}

		&.thin::before,
		&.thin::after {
			width: .06em;
		}
	}

	&:is(.menu, .dots) {

		&::before,
		&::after {
			height   : 1.4em;
			transform: translate(0, -.4em) rotate(90deg);
		}

		&::after {
			box-shadow: .4em 0 0 currentColor;
			transform : translate(0, .4em) rotate(-90deg);
		}
	}

	&.dots {

		&::before,
		&::after {
			height: .18em;
			width : .18em;
		}

		&.thin::before,
		&.thin::after {
			height: .12em;
			width : .12em;
		}
	}

	&.close {

		&::before,
		&::after {
			height: 1.2em;
			width : .12em;
		}

		&.thin::before,
		&.thin::after {
			height: 1.2em;
			width : .06em;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform : rotate(-45deg);
			box-shadow: none;
		}
	}
}