/*!
* Spry Light Theme
*/

@use "variables"as *;

:root,
[data-theme=light] {

	--border-color-rgb: 210,210,210;
	--border-color: rgb(var(--border-color-rgb));
	--bdr: solid var(--border-color);

	--input-border-color: rgba(140,140,140,.7);

	@each $color_name, $color_value in $colors {
		@if map-get($color_value, 'light') {
			--#{$color_name}    : #{map-get($color_value, 'light')};
			--#{$color_name}-rgb: #{red(map-get($color_value, 'light')), green(map-get($color_value, 'light')), blue(map-get($color_value, 'light'))};
		}
	}

	@each $color_name, $color_value in $colors {
		@if map-get($color_value, 'light') {

			@if index($colors, ($color_name $color_value)) == 1 {
				--color      : #{map-get($color_value, 'light')};
				--color-rgb  : #{red(map-get($color_value, 'light')), green(map-get($color_value, 'light')), blue(map-get($color_value, 'light'))};
				
				@if (lightness(map-get($color_value, 'light')) > 70) {
					--text-color: #{map-get(map-get($colors, 'text'), 'light')};
				}
	
				@else {
					--text-color: #{map-get(map-get($colors, 'text'), 'dark')};
				}
			}
		}
	}
}

html,
[data-theme=light] {
	color-scheme: light;
	color: map-get(map-get($types, 'body'), 'color');

	&,
	article {
		background-color: white;
	}

	select option,
	.tooltip {
		background-color: #efefef;
		color           : #1b1b1b;
	}

	@each $color_name, $color_value in $colors {
		@if map-get($color_value, 'light') {
			.#{$color_name} {
				@if (lightness(map-get($color_value, 'light')) > 70) {
					--text-color: #{map-get(map-get($colors, 'text'), 'light')};
				}

				@else {
					--text-color: #{map-get(map-get($colors, 'text'), 'dark')};
				}
			}
		}
	}
}