/*!
* Spry Light Theme
*/

@use "variables";

:root,
[data-theme=light] {

	--bg-alpha: 1;
    --border-alpha: 1;
	--border-color-rgb: 210,210,210;
	--bg-color-rgb: 255,255,255;
	--border-color: rgb(var(--border-color-rgb), var(--border-alpha));
	--input-border-color: rgba(140,140,140,.7);
	--ui-light-text-color: #f2f2f2;
	--ui-dark-text-color: #444;
	--ui-text-color: var(--ui-dark-text-color);

	.bg-theme {
		background-color: rgb(var(--bg-color-rgb), var(--bg-alpha));
	}

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'light') {
			--#{$color_name}    : #{map-get($color_value, 'light')};
			--#{$color_name}-rgb: #{red(map-get($color_value, 'light')), green(map-get($color_value, 'light')), blue(map-get($color_value, 'light'))};
		}
	}

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'light') {

			@if index(variables.$colors, ($color_name $color_value)) == 1 {
				--color      : #{map-get($color_value, 'light')};
				--color-rgb  : #{red(map-get($color_value, 'light')), green(map-get($color_value, 'light')), blue(map-get($color_value, 'light'))};
				
				@if (lightness(map-get($color_value, 'light')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}

html,
[data-theme=light],
[data-theme=light] article,
article[data-theme=light] {
	background-color: rgb(var(--bg-color-rgb), var(--bg-alpha));
}

html,
[data-theme=light] {
	color-scheme: light;
	color: map-get(map-get(variables.$types, 'body'), 'color');

	select option,
	.tooltip {
		background-color: #efefef;
		color           : #1b1b1b;
	}

	@each $color_name, $color_value in variables.$colors {
		@if map-get($color_value, 'light') {
			.#{$color_name} {
				@if (lightness(map-get($color_value, 'light')) > 70) {
					--text-color: var(--ui-dark-text-color);
				}

				@else {
					--text-color: var(--ui-light-text-color);
				}
			}
		}
	}
}