@use "ui"as *;

/*!
* Spry Lists
*/

.list {
	display       : flex;
	flex-direction: column;
	width         : 100%;
	list-style    : none;
	margin        : 0;
	padding       : 0;

	li {
		margin-block    : 0;
		position        : relative;
		background-color: inherit;
	}

	:is(button, .button, [type=submit]) {
		text-align: left;
	}

	&.outline,
	.outline > & {
		:is(a, button, .button, [type=submit]) {
			border-radius: 0;
		}
	}

	&.row > * {
		flex: 1 auto;
	}

	&.row,
	&.text-center,
	.text-center {
		> :not(ul, ol),
		li {
			justify-content: center;
			text-align: center;
		}
	}

	&.text-right,
	.text-right {
		> :not(ul, ol),
		li {
			justify-content: flex-end;
			text-align: end;
		}
	}

	&.text-left,
	.text-left {
		> :not(ul, ol),
		li {
			justify-content: flex-start;
			text-align: start;
		}
	}

	li>*:first-child {
		width: 100%;
		justify-content: inherit;
    	text-align: inherit;
	}

	&.row li>*:first-child {
		height: 100%;
	}

	a:hover,
	a:focus {
		@extend %ui-bg-hover;
	}

	li:has(:focus-visible) {
		z-index: 1;
	}

	&.hide-inputs input {
		opacity  : 0;
		width    : 0;
		min-width: 0;
		height   : 1px;
		margin   : 0;
		padding  : 0;
	}
}