/*!
* Spry Loader
*/

@keyframes spinner {
	0% {
		transform: rotate(0deg)
	}

	90%,
	100% {
		transform: rotate(360deg)
	}
}

.loading {
	position      : relative;
	pointer-events: none;
	user-select   : none;
	cursor        : default;
	opacity       : .8;

	&::after {
		content       : '';
		animation     : spinner calc(var(--speed) * 2) ease infinite;
		border        : .16em solid transparent;
		border-color  : var(--ui-text) var(--ui-text) transparent transparent;
		border-radius : 50%;
		box-sizing    : border-box;
		height        : 1.1em;
		width         : 1.1em;
		inset         : 0;
		margin        : auto;
		pointer-events: none;
		position      : absolute;
		transition    : opacity var(--speed) ease-in-out .1s;
	}

	&[class] {
		color: transparent;
	}
}