@use "variables";
@use "sass:meta";
@use "sass:map";
@use "sass:list";
/*!
* Spry Loader
*/

@if meta.global-variable-exists('loading', variables) {

	$loaderNames: ('.loading');
	$linearLoaderNames: ('.linear-loading');

	@each $loaderName,
	$loaderSize in variables.$loading {
		$loaderNames: list.append($loaderNames, '.loading-#{$loaderName}', 'comma');
		$linearLoaderNames: list.append($linearLoaderNames, '.linear-loading-#{$loaderName}', 'comma');
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg)
		}

		90%,
		100% {
			transform: rotate(360deg)
		}
	}

	@keyframes slide {
		from {
			transform: translateX(-110%);
		}

		to {
			transform: translateX(220%);
		}
	}

	:is(#{$loaderNames}):is(button, .button, .badge, a) {
		color: transparent;
	}

	:where(#{$loaderNames}) {
		position      : relative;
		pointer-events: none;
		user-select   : none;
		cursor        : default;
		opacity       : .8;

		>* {
			filter: blur(1px)
		}

		* {
			pointer-events: none;
			user-select   : none;
		}

		&::after {
			content      : '';
			animation    : spinner calc(var(--speed) * 2) ease infinite;
			aspect-ratio : 1;
			background   : none;
			border       : map.get(variables.$loading, list.nth(list.nth(variables.$loading, 1), 1)) solid transparent;
			border-color : var(--ui-text) var(--ui-text) transparent transparent;
			border-radius: 50%;
			max-height   : min(50%, 150px);
			max-width    : min(50%, 150px);
			inset        : 0;
			margin       : auto;
			position     : absolute;
			transition   : opacity var(--speed) ease-in-out .1s;
		}
	}

	:where(#{$linearLoaderNames}) {
		position: relative;
		overflow-x: clip;
		width: 100%;
		&::after {
			content    : "";
			position   : absolute;
			top        : 0;
			left       : 0;
			width      : 50%;
			height     : calc(map.get(variables.$loading, list.nth(list.nth(variables.$loading, 1), 1)) / 1.5);
			background : rgba(from var(--ui-text) r g b / .7);
			animation  : slide calc(var(--speed) * 2.5) ease-in-out infinite;
			will-change: transform;
		}
	}

	@each $loaderName,
	$loaderSize in variables.$loading {
		.loading-#{$loaderName}::after {
			border-width: #{$loaderSize};
		}
		.linear-loading-#{$loaderName}::after {
			height: calc(#{$loaderSize} / 2);
		}
	}
}