/*!
* Spry Loader
*/

@keyframes spinning {
	0% {
		transform: rotate(0deg)
	}

	90%,
	100% {
		transform: rotate(360deg)
	}
}

@keyframes spinning-linear {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes sliding {
	0% {
		transform: translateX(-120%);
	}

	90%,
	100% {
		transform: translateX(220%);
	}
}

@keyframes sliding-linear {
	0% {
		transform: translateX(-120%);
	}

	100% {
		transform: translateX(220%);
	}
}

.loading,
.loading-spinner,
.loading-line,
.loading-line-bottom {
	position      : relative;
	pointer-events: none;
	overflow-x    : clip;
	user-select   : none;
	cursor        : default;

	&::after {
		content         : "";
		position        : absolute;
		opacity         : 1;
		background-color: transparent;
		box-shadow      : none;
	}

	&:before {
		display: none;
	}

	>* {
		filter: blur(1px)
	}

	* {
		pointer-events: none;
		user-select   : none;
	}

	&.icon svg {
		color: transparent;
	}

	select,
	.select {
		background: none;
	}

	&.thick {
		--thickness: .24em;
	}
}

:is(.loading, .loading-spinner, .loading-line, .loading-line-bottom)::after {
	animation   : sliding calc(var(--speed) * 2.5) ease-in-out infinite;
	border-color: var(--ui-loader) transparent transparent var(--ui-loader);
	border-width: var(--thickness);
	border-style: solid;
	margin      : auto;
	left        : 0;
	max-height  : 50%;
	max-width   : 50%;
	top         : 0;
	transition  : opacity var(--speed) ease-in-out;
	width       : 50%;
	will-change : transform;
	rotate    : 0deg;
}

.loading::after,
.loading-line::after,
.loading-line-bottom::after {
	border-left-width: 0;
}

.loading:is(button, .button, [type=submit], [type=reset], .icon, .switch, [type=radio], [type=checkbox], a)::after,
.loading-spinner::after {
	aspect-ratio     : 1;
	height           : 100%;
	inset            : 0;
	max-height       : min(50%, 60px);
	max-width        : min(50%, 60px);
	width            : fit-content;
	border-left-width: var(--thickness);
}

.icon.loading:not(.button, button, [type=submit], [type=reset])::after {
	max-height: 70%;
	max-width : 70%;
}

:where(.loading-line, .loading-line-bottom):where(button, .button, [type=submit], [type=reset], .switch, [type=radio], [type=checkbox])::after {
	border-radius: 0;
}

.spin,
.loading-spinner::after,
:is(.button, button, [type=submit], [type=reset], .icon, .switch, [type=radio], [type=checkbox], a).loading::after {
	animation-name: spinning;
}

:is(.loading, .loading-spinner):is(.button, .badge, button, [type=submit], [type=reset], .icon),
:is(.buttons, .buttons-link, .buttons-outline, .buttons-hazy, .buttons-plain) a.loading,
.loading-spinner > input {
	color     : transparent;
	transition: color .1s ease-in-out;
}

.linear:is(.loading-line, .loading)::after {
	animation-name: sliding-linear;
}

:is([type=radio], [type=checkbox]).loading::after {
	max-height: 90%;
	max-width : 90%;
}

:is(.button, button, [type=submit], [type=reset], .icon) .loading-spinner::after {
	max-height: 70%;
	max-width : 70%;
}

.spin.linear,
.linear:is(.loading-spinner)::after,
:is(.button, button, [type=submit], [type=reset], .icon, .switch, [type=radio], [type=checkbox], a).loading.linear::after {
	animation-name: spinning-linear;
}

.linear,
.linear:where(.loading, .loading-spinner, .loading-line, .loading-line-bottom)::after {
	animation-timing-function: linear;
}

.loading-line-bottom::after {
	bottom: -2px;
	top: auto;
}

.comet::after {
	border-radius    : 50% 0 0 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

.shimmer::after {
	border-radius     : 50%;
	border-left-width : 0;
	border-right-width: 0;
	border-bottom-width: 0;
}

.loading:is(button, .button, [type=submit], [type=reset], .icon, .switch, [type=radio], [type=checkbox], a)::after,
.loading-spinner::after {
	border-radius: 50%;
}

.loading-spinner:has(> select, > .select):after {
	margin-inline-end: .75em;
}

@keyframes progress-stripes {
	to {
		background-position: 36px 0;
	}
}

progress.loading {
	--prg-bak: repeating-linear-gradient(135deg,
			hsl(from var(--theme-ui) h s l / .4) 0,
			hsl(from var(--theme-ui) h s l / .4) 12px,
			transparent 12px,
			transparent 24px);
	--prg-anm: progress-stripes calc(var(--speed) * 2) ease-in-out infinite;

	&::after {
		content         : "";
		display         : block;
		position        : absolute;
		inset           : 0;
		animation       : var(--prg-anm);
		background-image: var(--prg-bak);
		background-size : 36px 36px;
		border          : 0;
		width           : 100%;
		max-width       : calc(100% - 2px);
		max-height      : calc(100% - 2px);
	}

	&.linear::after {
		animation-name           : progress-stripes;
		animation-timing-function: linear;
	}

	&::-moz-progress-bar {
		animation       : var(--prg-anm);
		background-image: var(--prg-bak);
		background-size : 36px 36px;
		border          : 1px solid var(--ui-accent);
	}
}

/* Safari */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {

	/* kill native stripes */
	progress::-webkit-progress-value {
		animation       : var(--prg-anm);
		background-image: var(--prg-bak);
		background-size : 36px 36px;
		max-width       : 100%;
		max-height      : 100%;
		border          : 1px solid var(--ui-accent);
	}
}