/*
* Spry Navs
*/
@use "variables";
@use "extends";

.menu {
	position: relative;
	z-index: 1;
	cursor: pointer;
	nav {
		@extend %toggle-closed;
		z-index: 1;
	}
	&:has(.toggle:focus), 
	&:not(.keep-open):has(:focus-visible),
	&.keep-open:has(:focus-within),
	&.hover\:open:not(:has(:active)):hover,
	&.open {
		z-index: 1;
		nav {
			@extend %toggle-open;
		}
		svg {
			pointer-events: none;
		}
		.toggle:has(svg:nth-of-type(2)) svg:first-of-type {
			opacity: 0;
			scale  : .5;
		}
		.toggle:has(svg:nth-of-type(2)) svg:last-of-type {
			opacity: 1;
			scale  : 1;
		}
	}
	&:has(.toggle:focus), 
	&:has(:focus-visible),
	&.open {
		.toggle {
			pointer-events: none;
		}
	}
}