/*
* Spry Mixins
*/

@use "variables";

/// Min Width Media Query
/// @param {String | Unit} $min - Minimum Value. String must be included in $breakpoints.
/// @output - Contents
@mixin min($min) {
	@if type-of($min)==string {
		@media only screen and (min-width: map-get(variables.$breakpoints, $min)) {
			@content;
		}
	}

	@else {
		@media only screen and (min-width: $min) {
			@content;
		}
	}
}

/// Max Width Media Query
/// @param {String | Unit} $max - Max Value. String must be included in $breakpoints.
/// @output - Contents
@mixin max($max) {
	@if type-of($max)==string {
		@media only screen and (max-width: map-get(variables.$breakpoints, $max)) {
			@content;
		}
	}

	@else {
		@media only screen and (max-width: $max) {
			@content;
		}
	}
}

/// Min - Max Width Media Query
/// @param {String | Unit} $min - Min Value. String must be included in $breakpoints.
/// @param {String | Unit} $max - Max Value. String must be included in $breakpoints.
/// @output - Contents
@mixin in($min, $max) {
	@if type-of($min)==string {
		@if type-of($max)==string {
			@media only screen and (min-width: map-get(variables.$breakpoints, $min)) and (max-width: map-get(variables.$breakpoints, $max)) {
				@content;
			}
		}

		@else {
			@media only screen and (min-width: map-get(variables.$breakpoints, $min)) and (max-width: $max) {
				@content;
			}
		}
	}

	@else {
		@if type-of($max)==string {
			@media only screen and (min-width: $min) and (max-width: map-get(variables.$breakpoints, $max)) {
				@content;
			}
		}

		@else {
			@media only screen and (min-width: $min) and (max-width: $max) {
				@content;
			}
		}
	}
}

/// Default Shut State
/// @output - Contents
@mixin closed {
	max-height      : 0;
	opacity         : 0;
	pointer-events  : none;
	// overflow        : hidden;
	transform       : var(--toggle-transform);
	transform-origin: var(--toggle-transform-origin);
	transition      :
		transform calc(var(--ease-speed) / 1.5),
		opacity calc(var(--ease-speed) / 1.5),
		max-height calc(var(--ease-speed) / 2);
	transition-timing-function: var(--ease);
	transition-delay          : .1s;
	z-index                   : 1;
}

/// Opened State
/// @output - Contents
@mixin open {
	--toggle-transform-origin : top;
	opacity                   : 1;
	max-height                : 1900px;
	transform                 : translate3d(0,0,0);
	transition-timing-function: var(--ease);
	pointer-events            : inherit;
	z-index                   : 1;
}

/// Default Collapse State
/// @output - Contents
@mixin inner-closed {
	max-height        : none;
	display           : grid;
	opacity           : 0;
	grid-template-rows: 0fr;
	pointer-events    : none;
	transform         : var(--toggle-transform);
	transform-origin  : var(--toggle-transform-origin);
	transition        :
		grid-template-rows var(--ease-speed),
		transform var(--ease-speed),
		opacity var(--ease-speed); // Out
	transition-timing-function: var(--ease);
	transition-delay          : .1s;

	>* {
		display: block;
		width  : 100%;
	}
}



/// Opened State
/// @output - Contents
@mixin inner-open {
	opacity           : 1;
	grid-template-rows: 1fr;
	transform         : translate3d(0,0,0);
	pointer-events    : inherit;
}