/*!
* Spry Modals
*/
@keyframes modalBounce {
	20% {
		scale: 1.03;
	}

	40% {
		scale: 1;
	}

	60% {
		scale: 1.03;
	}

	80% {
		scale: none;
	}
}

.modal {
	align-items     : center;
	background-color: rgba(0, 0, 0, .7);
	justify-content : center;
	opacity         : 0;
	pointer-events  : none;
	position        : fixed;
	inset           : 0;
	transition      : opacity .25s var(--ease);
	transition-delay: 0;
	transform-origin: center;
	transform: none;
	z-index         : 1000;
	display         : flex;
	max-height      : none;

	> * {
		box-sizing: border-box;
		overflow  : hidden;
		scale     : .6;
		transition: scale .3s var(--ease);
		width     : 90%;
	}

	&.bounce:active:not(:has(:active)) {
		animation-name    : modalBounce;
		animation-duration: .4s;
	}

	&.blur {
		backdrop-filter: blur(2px);
	}

	&.no-backdrop {
		background-color: transparent;
		backdrop-filter : none;
		min-width       : 300px;
	}
	&.open {
		opacity       : 1;
		pointer-events: all;
	
		> * {
			scale: 1.000001;
		}
		&.no-backdrop {
			pointer-events: none;
		
			> * {
				pointer-events: all;
			}
		}
	}
}