/*!
* Spry Navs
*/
@use "variables"as *;
@use "ui"as *;

:is(nav,menu) {
	a {
		@extend %ui;
	}
	> a {
		width: auto;
	}
	> ul:only-child {
		display: contents;
		> li {
			flex: inherit;
			width: inherit;
		}
	}
	li,
	ul {
		position: relative;
		background-color: inherit;
		> *:has(+ label, + input) {
			padding-right: 2.5em;
		}
	}
}

.hoverable > ul > li > ul,
.hoverable > li > ul {
	position: absolute;
	min-width: 160px;
    max-width: 260px;
    width: max-content;
}

.hoverable > ul > li > [data-toggle=hover],
.hoverable > li > [data-toggle=hover] {
	pointer-events: none;
}

@each $breakpoint,
$breakpoint_width in $breakpoints {
	@media screen and (min-width: $breakpoint_width) {

		nav > ul > li,
		nav > ol > li  {
			display: inline-block;
		} 

		.#{$breakpoint}-hoverable > ul > li > ul,
		.#{$breakpoint}-hoverable > li > ul {
			position: absolute;
			min-width: 160px;
			max-width: 260px;
			width: max-content;
		}

		.#{$breakpoint}-hoverable > ul > li > [data-toggle=hover],
		.#{$breakpoint}-hoverable > li > [data-toggle=hover] {
			pointer-events: none;
		}
	}
}