@use "variables";
@use "extends";
@use "sass:meta";
/*!
* Spry Navs
*/

:is(nav, menu) {
	width        : 100%;
	text-align   : inherit;
	place-content: inherit;

	a {
		@extend %ui;
	}

	>a {
		width: auto;
	}

	li,
	ul,
	menu {
		position        : relative;
		background-color: inherit;
	}

	>ul {
		display: contents;
	}
}

nav ul,
nav menu,
menu ul,
menu menu {
	overflow: visible;
}

nav ul ul,
menu ul,
menu menu {
	width: 100%;

	>li {
		width: 100%;
	}
}

.indicators li:has(ul),
.sub\:indicators ul ul li:has(ul) {
	> :first-child {
		padding-right: var(--comfort);
		position     : relative;

		&::after {
			content: "";
			background-color: transparent;
			border: .15em solid currentColor;
			border-bottom: 0;
			border-left: 0;
			display: block;
			height: .5em;
			margin: -.35em auto auto;
			opacity   : .5;
			position: absolute;
			right     : 1em;
			rotate    : 90deg;
			transform: rotate(45deg);
			width: .5em;
		}
	}
}

@mixin hoverOpen-styles($prefix) {

	:is(#{$prefix}h\:open, #{$prefix}f\:open)>ul>li>ul,
	:is(#{$prefix}h\:open, #{$prefix}f\:open)>li>ul,
	#{$prefix}open\:side ul ul,
	#{$prefix}sub\:open\:side ul ul ul {
		position : absolute;
		// min-width: calc(100% + 1px);
		max-width: 260px;
		width    : max-content;
	}

	:where(#{$prefix}open\:down ul ul, #{$prefix}sub\:open\:down ul ul ul) {
		position: static;
		top     : auto;
		left    : auto;
	}

	:where(#{$prefix}open\:side ul ul, #{$prefix}sub\:open\:side ul ul ul) {
		top : 0;
		left: 100%;
	}

	#{$prefix}sub\:shadow ul ul {
		box-shadow: 1px 3px 6px rgba(0, 0, 0, var(--shadow));
	}

	:is(#{$prefix}open\:down ul, #{$prefix}sub\:open\:down ul ul)>li:has(ul)> :first-child::after {
		rotate    : 90deg;
		margin-top: -.35em;
	}

	:is(#{$prefix}open\:side ul, #{$prefix}sub\:open\:side ul ul)>li:has(ul)> :first-child::after {
		rotate    : 0deg;
		margin-top: 0;
	}
}

@include hoverOpen-styles('.');

@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
	@each $breakpoint, $breakpoint_width in variables.$breakpoints {
		@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
			@media screen and (min-width: $breakpoint_width) {
				@include hoverOpen-styles('.#{$breakpoint}\\:');
			}
		}

		@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
			@container (min-width: #{$breakpoint_width}) {
				@include hoverOpen-styles('.\\@#{$breakpoint}\\:');
			}
		}
	}
}