@use "variables";
@use "extends";
/*!
* Spry Navs
*/

:is(nav, menu) {
	width        : 100%;
	text-align   : inherit;
	place-content: inherit;

	a {
		@extend %ui;
	}

	>a {
		width: auto;
	}

	li,
	ul,
	menu {
		position        : relative;
		background-color: inherit;
	}

	>ul {
		display: contents;
	}
}

nav ul,
nav menu,
menu ul,
menu menu {
	overflow: visible;
}

nav ul ul,
menu ul,
menu menu {
	width: 100%;

	>li {
		width: 100%;
	}
}

.indicators li:has(ul),
.sub\:indicators ul ul li:has(ul) {
	> :first-child {
		padding-right: 2.3em;
		position     : relative;

		@extend %icon-arrow;

		&::after {
			right     : 1em;
			rotate    : 90deg;
			margin-top: -.35em;
			opacity   : .5;
		}
	}
}

@mixin hoverOpen-styles($prefix) {

	:is(#{$prefix}h\:open, #{$prefix}f\:open)>ul>li>ul,
	:is(#{$prefix}h\:open, #{$prefix}f\:open)>li>ul,
	#{$prefix}open\:side ul ul,
	#{$prefix}sub\:open\:side ul ul ul {
		position : absolute;
		// min-width: calc(100% + 1px);
		max-width: 260px;
		width    : max-content;
	}

	:where(#{$prefix}open\:down ul ul, #{$prefix}sub\:open\:down ul ul ul) {
		position: static;
		top     : auto;
		left    : auto;
	}

	:where(#{$prefix}open\:side ul ul, #{$prefix}sub\:open\:side ul ul ul) {
		top : 0;
		left: 100%;
	}

	#{$prefix}sub\:shadow ul ul {
		box-shadow: 1px 3px 6px rgba(0, 0, 0, var(--shadow));
	}

	:is(#{$prefix}open\:down ul, #{$prefix}sub\:open\:down ul ul)>li:has(ul)> :first-child::after {
		rotate    : 90deg;
		margin-top: -.35em;
	}

	:is(#{$prefix}open\:side ul, #{$prefix}sub\:open\:side ul ul)>li:has(ul)> :first-child::after {
		rotate    : 0deg;
		margin-top: 0;
	}
}

@include hoverOpen-styles('.');

@each $breakpoint,
$breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: $breakpoint_width) {
		@include hoverOpen-styles('.#{$breakpoint}\\:');
	}

	@if variables.$useContainerQueries {
		@container (min-width: #{$breakpoint_width}) {
			@include hoverOpen-styles('.\\@#{$breakpoint}\\:');
		}
	}
}