/*!
* Spry Outline
*/
@use "ui"as *;

.outline {
	@extend %ui-border;
	border-color: var(--border-color);
	ul,
	li {
		border-color: inherit;
	}

	li {
		position: relative;

		ul {
			border-style: solid;
			border-width: 1px;
			margin: 0 0 -1px -1px;
			min-width   : calc(100% + 3px);
		}
	}

	&.tabs .list {
		margin      : -1px;
		border-width: 1px;
		border-style: solid;
		border-color: inherit;

		> :not(ul) {
			border-width: 0 0 1px 0;
			border-color: inherit;
			border-style: solid;
		}
	}

	&.list,
	.list ul,
	&.tabs .list {
		--gap              : 0em;

		:is(a, button, .button, [type=submit]):not([data-toggle=next]) {
			border-radius: 0;
		}
		li li {
			width: calc(100% + 1px);
		}
		> :not(ul):last-child {
			border-bottom-width: 1px;
		}
	}

	&.tabs .list+* {
		margin      : -1px;
		border-color: inherit;
		border-width: 0;
	}

	&:not(.alert, button, .button, .icon)> :not(ul),
	&:not(.alert, button, .button, .icon)> :not(ul),
	&.tabs .list> :not(ul),
	ul>li {
		border-width: 1px 0 0 1px;
		border-color: inherit;
		border-style: solid;
		margin      : -1px 0 0 -1px;
		&:last-child {
			border-bottom-width: 1px;
			margin-bottom: -1px;
		}
	}

	&.row {
		&.tabs .list {
			border-width: 0 1px 0 1px;
			border-style: solid;
		}
	}
}