/*!
* Spry Outline
*/

.outline {
	border-color: rgba(var(--color-rgb), .4);
	border-width: 1px;
	border-style: solid;

	ul,
	li {
		border-color: inherit;
	}
	li {
		position    : relative;

		ul {
			border-width: 1px;
			border-style: solid;
			inset       : auto -1px;
		}
	}

	&.tabs .list {
		margin      : -1px;
		border-color: inherit;

		> :not(ul) {
			border-width: 0 1px 1px 1px;
			border-color: inherit;
			border-style: solid;
		}
	}

	&.row {
		&.tabs .list {
			border-width: 0 1px 0 1px;
			border-style: solid;
		}

		> :not(ul)+*,
		>ul>li+li {
			border-width: 0 0 0 1px;
			border-color: inherit;
			border-style: solid;
		}
	}

	&:not(.alert)> :not(ul)+*,
	ul>li+li {
		border-width: 1px 0 0 0;
		border-color: inherit;
		border-style: solid;
	}
}