/*!
* Spry Outline
*/
@use "extends";

.outline {
	@extend %ui-border;
	border-color: var(--border-color);

	>ul,
	>ul ul,
	>li,
	>ul li,
	> :not(ul),
	:where(&.tabs .list),
	&.tabs .list>ul,
	&.list> :not(ul),
	&.tabs .list>ul li,
	&.tabs .list+* {
		border-color: inherit;
	}

	>li,
	>ul li {
		position: relative;

		ul {
			border-style: solid;
			border-width: 1px;
			margin      : 0 0 -1px -1px;
			min-width   : calc(100% + 3px);
		}
	}

	&.tabs .list {
		margin         : -1px 0;
		border-width   : 1px 0;
		border-style   : solid;

		> :not(ul) {
			border-width: 0 0 1px 0;
			border-color: inherit;
			border-style: solid;
		}
	}

	&.tabs .list,
	&.list {
		> :is(a, button, .button, [type=submit]) {
			border-radius: 0;
		}
	}

	&.list,
	>.list>ul,
	&.list>ul,
	>.list>ul ul,
	&.list>ul ul,
	&.tabs .list {
		--gapx: 0em;
		--gapy: 0em;

		// :is(a, button, .button, [type=submit]):first-child:not([data-toggle=next]) {
		// 	border-radius: 0;
		// }

		li li {
			width: calc(100% + 1px);
		}

		> :not(ul):last-child {
			border-bottom-width: 1px;
		}
	}

	&.tabs .list+* {
		margin      : 0 -1px;
		border-width: 0 1px;
		position    : relative;
	}

	&.tabs.column .list+* {
		border-width: 1px 0;
	}

	&:not(.alert, button, .button, article, .icon)> :not(ul),
	&.tabs .list> :not(ul),
	>ul>li,
	&.tabs .list>ul>li,
	>ul ul>li {
		border-width   : 1px 0 0 1px;
		border-style   : solid;
		margin         : -1px 0 0 -1px;

		&:last-child {
			border-bottom-width: 1px;
			margin-bottom      : -1px;
		}
	}
}