@use "variables";
@use "sass:meta";
/*!
* Spry Radius
*/

@mixin radius-styles($prefix) {
	@each $r, $radius in variables.$radius {
		#{$prefix}r-#{$r} {
			border-radius: #{$radius};
		}
		#{$prefix}rt-#{$r} {
			border-radius: #{$radius} #{$radius} 0 0;
		}
		#{$prefix}rr-#{$r} {
			border-radius: 0 #{$radius} #{$radius} 0;
		}
		#{$prefix}rb-#{$r} {
			border-radius: 0 0 #{$radius} #{$radius};
		}
		#{$prefix}rl-#{$r} {
			border-radius: #{$radius} 0 0 #{$radius};
		}
	}
}

@if meta.global-variable-exists('radius', variables) and variables.$radius {
	@include radius-styles('.');

	@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
		@each $breakpoint, $breakpoint_width in variables.$breakpoints {
			@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
				@media screen and (min-width: $breakpoint_width) {
					@include radius-styles('.#{$breakpoint}\\:');
				}
			}
			@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
				@container (min-width: #{$breakpoint_width}) {
					@include radius-styles('.\\@#{$breakpoint}\\:');
				}
			}
		}
	}
}