/*!
* Spry Reset
*/
html {
    box-sizing: border-box;
}

body {
    background: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}

ol, ul {
    margin-left: 1.5em; 
}

ol li, ul li {
    margin-top: .5em;
    margin-bottom: .5em;
}

nav :is(ol, ul) {
    list-style: none;
    margin-left: 0;
}

nav :is(ol, ul) li {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
