html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
ol,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}
ul, ol {
    li {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}

ol,
ul {
    margin-left: 1.5rem;
    nav & {
        list-style: none;
        margin-left: 0;
        li {
            margin-top: 0;
            margin-bottom: 0;
        }

    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
