/*!
* Spry Reset
*/
html {
    box-sizing: border-box;
    background: #fff;
}

body {
    background: inherit;
    color: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
menu,
ol,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: disc;
}

ol, ul {
    margin-left: 1.5em;
}

ol li, ul li {
    margin-block: .5em;
}

menu,
menu ul,
menu ol,
nav ul,
nav ol {
    list-style: none;
    margin-left: 0;
}

nav li,
menu li {
    margin-block: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
