@use "variables";
@use "sass:math";
@use "sass:meta";
/*!
* Spry Sizing
*/

[class^="h-"],
[class^="h/"],
[class*=":h-"],
[class*=":h/"],
[class*=" h-"],
[class*=" h/"],
[class*="vh/"] {
	height: var(--h)
}

// [class*="max-h-"],
// [class*="max-h/"],
// [class*="max-vh/"] {
// 	--mxheight: var(--mxh);
// 	max-height: var(--mxh)
// }

// [class*="min-h-"],
// [class*="min-h/"],
// [class*="min-vh/"] {
// 	min-height: var(--mnh)
// }

[class^="w-"],
[class^="w/"],
[class*=":w-"],
[class*=":w/"],
[class*=" w-"],
[class*=" w/"],
[class*="vw/"] {
	flex : 0 var(--w);
	width: var(--w)
}

// [class*="max-w-"],
// [class*="max-w/"],
// [class*="max-vw/"] {
// 	max-width: var(--mxw)
// }

// [class*="min-w"],
// [class*="min-w/"],
// [class*="min-vw/"] {
// 	min-width: var(--mnw)
// }

@mixin sizingUtility-styles($prefix) {

	@for $i from 1 through 9 {
		#{$prefix}w-#{$i}0 {
			--w: #{$i}0px;
		}

		#{$prefix}h-#{$i}0 {
			--h: #{$i}0px;
		}

		// #{$prefix}min-w#{$i}0 {
		// 	--mnw: #{$i}0px;
		// }

		// #{$prefix}max-w-#{$i}0 {
		// 	--mxw: #{$i}0px;
		// }

		// #{$prefix}min-h-#{$i}0 {
		// 	--mnh: #{$i}0px;
		// }

		// #{$prefix}max-h-#{$i}0 {
		// 	--mxh: #{$i}0px;
		// }
	}

	@for $i from 1 through 10 {
	
		#{$prefix}w\/#{$i}0 {
			--w: #{$i}0%;
		}

		#{$prefix}h\/#{$i}0 {
			--h: #{$i}0%;
		}

		// #{$prefix}min-w\/#{$i}0 {
		// 	--mnw: #{$i}0%;
		// }

		// #{$prefix}max-w\/#{$i}0 {
		// 	--mxw: #{$i}0%;
		// }

		// #{$prefix}min-h\/#{$i}0 {
		// 	--mnh: #{$i}0%;
		// }

		// #{$prefix}max-h\/#{$i}0 {
		// 	--mxh: #{$i}0%;
		// }

		#{$prefix}vw\/#{$i}0 {
			--w: #{$i}0dvw;
		}
		// #{$prefix}min-vw\/#{$i}0 {
		// 	--mnw: #{$i}0dvw;
		// }
		// #{$prefix}max-vw\/#{$i}0 {
		// 	--mxw: #{$i}0dvw;
		// }

		#{$prefix}vh\/#{$i}0 {
			--h: #{$i}0svh;
		}

		// #{$prefix}min-vh\/#{$i}0 {
		// 	--mnh: #{$i}0svh;
		// }
		// #{$prefix}max-vh\/#{$i}0 {
		// 	--mxh: #{$i}0svh;
		// }
	}
	
	@for $i from 1 through 12 {
		#{$prefix}w-#{$i}00 {
			--w: #{$i}00px;
		}

		#{$prefix}h-#{$i}00 {
			--h: #{$i}00px;
		}

		// #{$prefix}min-w#{$i}00 {
		// 	--mnw: #{$i}00px;
		// }

		// #{$prefix}max-w-#{$i}00 {
		// 	--mxw: #{$i}00px;
		// }

		// #{$prefix}min-h-#{$i}00 {
		// 	--mnh: #{$i}00px;
		// }

		// #{$prefix}max-h-#{$i}00 {
		// 	--mxh: #{$i}00px;
		// }
	}

	#{$prefix}w-auto {
		width: auto;
	}

	#{$prefix}h-auto {
		height: auto;
	}

	#{$prefix}w-content {
		--w: max-content;
	}
	// #{$prefix}max-w-content {
	// 	--mxw: max-content;
	// }
	// #{$prefix}min-w-content {
	// 	--mnw: min-content;
	// }
	#{$prefix}h-content {
		--h: max-content;
	}
	// #{$prefix}max-h-content {
	// 	--mxh: max-content;
	// }
	// #{$prefix}min-h-content {
	// 	--mnh: min-content;
	// }
}

@include sizingUtility-styles('.');

@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
	@each $breakpoint, $breakpoint_width in variables.$breakpoints {
		@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
			@media screen and (min-width: #{$breakpoint_width}) {
				@include sizingUtility-styles('.#{$breakpoint}\\:');
			}
		}

		@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
			@container (min-width: #{$breakpoint_width}) {
				@include sizingUtility-styles('.\\@#{$breakpoint}\\:');
			}
		}
	}
}
