@use "variables";
@use "sass:math";
@use "sass:meta";
/*!
* Spry Sizing
*/

@mixin sizingUtility-styles($prefix) {

	@each $l, $value in variables.$lengths {
		#{$prefix}w-#{$l} {
			width: #{$value};
			flex: 0 #{$value};
		}
		#{$prefix}h-#{$l} {
			height: #{$value};
		}
	}

	@each $p in variables.$percentages {
		#{$prefix}w\/#{$p} {
			width: math.percentage(math.div($p, 100));
			flex: 0 math.percentage(math.div($p, 100))
		}
		#{$prefix}h\/#{$p} {
			height: math.percentage(math.div($p, 100));
		}
		#{$prefix}vw\/#{$p} {
			width: #{$p}dvw;
		}
		#{$prefix}vh\/#{$p} {
			height: #{$p}svh;
		}
	}

	#{$prefix}w-auto {
		width: auto;
	}
	#{$prefix}h-auto {
		height: auto;
	}
	#{$prefix}w-content {
		width: max-content;
	}
	#{$prefix}h-content {
		height: max-content;
	}
}

@include sizingUtility-styles('.');

@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
	@each $breakpoint, $breakpoint_width in variables.$breakpoints {
		@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
			@media screen and (min-width: #{$breakpoint_width}) {
				@include sizingUtility-styles('.#{$breakpoint}\\:');
			}
		}

		@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
			@container (min-width: #{$breakpoint_width}) {
				@include sizingUtility-styles('.\\@#{$breakpoint}\\:');
			}
		}
	}
}
