/*
* Spry Utilities
*/
@use "variables";

/****************************************************************************
Layout Utility Classes - Can include Grid Prefix Ex. .md:right, etc
****************************************************************************/
@mixin sizingUtility-styles($prefix) {

	#{$prefix}h {
		height: 100%
	}

	#{$prefix}vh {
		height: 100svh
	}

	#{$prefix}w {
		width: 100%
	}

	#{$prefix}vw {
		width: 100dvw
	}

	#{$prefix}h-0 {
		height: 0
	}

	#{$prefix}w-0 {
		width: 0
	}

	#{$prefix}w-content {
		width: max-content;
	}

	@for $i from 1 through 12 {
		#{$prefix}max-h-#{$i}00 {
			--max-height: #{$i}00px;
			max-height: #{$i}00px
		}

		#{$prefix}min-h-#{$i}00 {
			min-height: #{$i}00px
		}

		#{$prefix}w-#{$i}00 {
			width: #{$i}00px;
			flex : 0 #{$i}00px
		}

		#{$prefix}max-w-#{$i}00 {
			max-width: #{$i}00px
		}

		#{$prefix}min-w-#{$i}00 {
			min-width: #{$i}00px
		}
	}

	// #{$prefix}min-w {
	// 	min-width: 100%;
	// }

	// #{$prefix}min-h {
	// 	min-height: 100%;
	// }

	// #{$prefix}max-w {
	// 	max-width: 100%;
	// }

	// #{$prefix}max-h {
	// 	max-height: 100%;
	// }

	// #{$prefix}min-w-0 {
	// 	min-width: 0;
	// }

	// #{$prefix}min-h-0 {
	// 	min-height: 0;
	// }

	// #{$prefix}min-w-content {
	// 	min-width: min-content;
	// }

	// #{$prefix}min-h-content {
	// 	min-height: min-content;
	// }

	// #{$prefix}max-w-none {
	// 	max-width: none;
	// }

	// #{$prefix}max-h-none {
	// 	max-width: none;
	// }

	// #{$prefix}max-w-content {
	// 	max-width: max-content;
	// }

	// #{$prefix}max-h-content {
	// 	max-width: max-content;
	// }
}

@include sizingUtility-styles('.');

@each $breakpoint, $breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: #{$breakpoint_width}) {
		@include sizingUtility-styles('.#{$breakpoint}\\:');
	}

	@container (min-width: #{$breakpoint_width}) {
		@include sizingUtility-styles('.c-#{$breakpoint}\\:');
	}
}