@use "variables";
@use 'sass:string';
@use "sass:meta";
/*!
* Spry Spacing
*/

@mixin spacing-styles($prefix) {
	#{$prefix}m-auto {
		margin: auto;
	}

	#{$prefix}my-auto {
		margin-block: auto;
	}

	#{$prefix}mx-auto {
		margin-inline: auto;
	}

	#{$prefix}mt-auto {
		margin-top: auto;
	}

	#{$prefix}mb-auto {
		margin-bottom: auto;
	}

	#{$prefix}ml-auto {
		margin-left: auto;
	}

	#{$prefix}mr-auto {
		margin-right: auto;
	}

	@each $s, $space in variables.$spacing {
		@each $prop in (padding, margin) {
			#{$prefix}#{string.slice($prop, 0, 1)}-#{$s} {
				#{$prop}: #{$space};
			}
		}

		#{$prefix}g-#{$s} {
			--gapx    : #{$space};
			--gapy    : #{$space};
			column-gap: var(--gapx);
			row-gap   : var(--gapy);
		}
	}

	@each $s,
	$space in variables.$spacing {
		@each $prop in (padding, margin) {
			#{$prefix}#{string.slice($prop, 0, 1)}x-#{$s} {
				#{$prop}-inline: #{$space};
			}

			#{$prefix}#{string.slice($prop, 0, 1)}y-#{$s} {
				#{$prop}-block: #{$space};
			}

			@if $prop==margin and $s {
				#{$prefix}#{string.slice($prop, 0, 1)}x-n#{$s} {
					#{$prop}-inline: -#{$space};
				}

				#{$prefix}#{string.slice($prop, 0, 1)}y-n#{$s} {
					#{$prop}-block: -#{$space};
				}
			}
		}
	}

	@each $s,
	$space in variables.$spacing {
		@each $prop in (padding, margin) {
			#{$prefix}#{string.slice($prop, 0, 1)}l-#{$s} {
				#{$prop}-left: #{$space};
			}

			#{$prefix}#{string.slice($prop, 0, 1)}r-#{$s} {
				#{$prop}-right: #{$space};
			}

			#{$prefix}#{string.slice($prop, 0, 1)}t-#{$s} {
				#{$prop}-top: #{$space};
			}

			#{$prefix}#{string.slice($prop, 0, 1)}b-#{$s} {
				#{$prop}-bottom: #{$space};
			}

			@if $prop==margin and $s {
				#{$prefix}#{string.slice($prop, 0, 1)}l-n#{$s} {
					#{$prop}-left: -#{$space};
				}

				#{$prefix}#{string.slice($prop, 0, 1)}r-n#{$s} {
					#{$prop}-right: -#{$space};
				}

				#{$prefix}#{string.slice($prop, 0, 1)}t-n#{$s} {
					#{$prop}-top: -#{$space};
				}

				#{$prefix}#{string.slice($prop, 0, 1)}b-n#{$s} {
					#{$prop}-bottom: -#{$space};
				}
			}
		}
	}

	@each $s, $space in variables.$spacing {
		#{$prefix}gx-#{$s} {
			--gapx    : #{$space};
			column-gap: var(--gapx);
		}

		#{$prefix}gy-#{$s} {
			--gapy : #{$space};
			row-gap: var(--gapy);
		}
	}
}

@if meta.global-variable-exists('spacing', variables) and variables.$spacing {
	@include spacing-styles('.');

	@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
		@each $breakpoint, $breakpoint_width in variables.$breakpoints {
			@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
				@media screen and (min-width: $breakpoint_width) {
					@include spacing-styles('.#{$breakpoint}\\:');
				}
			}

			@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
				@container (min-width: #{$breakpoint_width}) {
					@include spacing-styles('.\\@#{$breakpoint}\\:');
				}
			}
		}
	}
}

section {
	padding: (calc(var(--gapy) * 2)) var(--gapx);
}