/*!
* Spry States
*/
:is(.f\:swap, .h\:swap, .c\:swap) > :last-child {
	opacity: 0;
	scale: .5;
}

:is(.show, .h\:show:hover, .h\:show:focus-within, .f\:show:focus, .f\:show:has(> :focus, .toggle:focus, :focus-visible, :active)),
.a\:show:has(.active, :active),
:is(.toggle-group:has(.toggle:checked, .toggle :checked), .toggle:checked, .toggle:has(:checked)) {
	> :is(.toggle, label, button) .s\:rotate,
	> .s\:rotate,
	&.s\:rotate {
		rotate: 180deg;
	}
	> :is(.toggle, label, button) .s\:flip,
	> .s\:flip,
	&.s\:flip {
		scale: -1;
	}
	> :is(.toggle, label, button) .s\:flip-x,
	> .s\:flip-x,
	&.s\:flip-x {
		scale: -1 1;
	}
	> :is(.toggle, label, button) .s\:flip-y,
	> .s\:flip-y,
	&.s\:flip-y {
		scale: 1 -1;
	}
	> :is(.toggle, label, button) .s\:revert,
	> .s\:revert,
	&.s\:revert {
		display: revert;
	}
	> :is(.toggle, label, button) .s\:none,
	> .s\:none,
	&.s\:none {
		display: none;
	}
	> :is(.toggle, label, button) .s\:no-pointer,
	> .s\:no-pointer,
	&.s\:no-pointer {
		pointer-events: none;
	}
	> :is(.toggle, label, button) .s\:close,
	> .s\:close,
	&.s\:close {

		&::before,
		&::after {
			height          : 1.2em;
			width           : .12em;
			box-shadow      : none;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	> :is(.toggle, label, button) .s\:swap,
	> .s\:swap,
	&.s\:swap {
		> :first-child {
			opacity: 0;
			scale  : .5
		}
		> :last-child {
			opacity: 1;
			scale  : 1
		}
	}
}

/* Checked Utilities */
:focus,
:focus > * {
	&.f\:rotate {
		rotate: 180deg;
	}
	&.f\:flip {
		scale: -1;
	}
	&.f\:flip-x {
		scale: -1 1;
	}
	&.f\:flip-y {
		scale: 1 -1;
	}
	&.f\:revert {
		display: revert;
	}
	&.f\:none {
		display: none;
	}
	&.f\:close::before,
	&.f\:close::after {
		height          : 1.2em;
		width           : .12em;
		box-shadow      : none;
		background-color: currentColor;
	}
	&.f\:close::before {
		transform: rotate(45deg);
	}

	&.f\:close::after {
		transform: rotate(-45deg);
	}
	&.f\:swap {
		> :first-child {
			opacity: 0;
			scale  : .5
		}
		> :last-child {
			opacity: 1;
			scale  : 1
		}
	}
}

:hover,
:focus-visible,
:is(label, .button, button, .toggle, .badge):is(:hover, :focus-visible) > * {
	&.h\:rotate {
		rotate: 180deg;
	}
	&.h\:flip {
		scale: -1;
	}
	&.h\:flip-x {
		scale: -1 1;
	}
	&.h\:flip-y {
		scale: 1 -1;
	}
	&.h\:revert {
		display: revert;
	}
	&.h\:none {
		display: none;
	}
	&.h\:close {
		&::before,
		&::after {
			height          : 1.2em;
			width           : .12em;
			box-shadow      : none;
			background-color: currentColor;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	&.h\:swap {
		> :first-child {
			opacity: 0;
			scale  : .5
		}
		> :last-child {
			opacity: 1;
			scale  : 1
		}
	}
}

:checked,
label:has(:checked) > *,
label:has(:checked) {
	&.c\:rotate {
		rotate: 180deg;
	}
	&.c\:flip {
		scale: -1;
	}
	&.c\:flip-x {
		scale: -1 1;
	}
	&.c\:flip-y {
		scale: 1 -1;
	}
	&.c\:revert {
		display: revert;
	}
	&.c\:none {
		display: none;
	}
	&.c\:close {
		&::before,
		&::after {
			height          : 1.2em;
			width           : .12em;
			box-shadow      : none;
			background-color: currentColor;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	&.c\:swap {
		> :first-child {
			opacity: 0;
			scale  : .5
		}
		> :last-child {
			opacity: 1;
			scale  : 1
		}
	}
}