/*!
* Spry States
*/
@use "extends";

:is(.f\:swap, .h\:swap, .c\:swap) > :last-child {
	opacity: 0;
	scale: .5;
}

:is(.show, .h\:show:hover, .h\:show:focus-within, .f\:show:focus, .f\:show:has(> :focus, .toggle:focus, :focus-visible, :focus-within, :active), .toggle-group:has(.toggle:checked, .toggle :checked), .toggle:checked, :where(.toggle, label):has(:checked)){
	> :is(.toggle, label, button) .s\:rotate,
	> .s\:rotate,
	&.s\:rotate {
		@extend %e-rotate;
	}
	> :is(.toggle, label, button) .s\:flip,
	> .s\:flip,
	&.s\:flip {
		@extend %e-flip;
	}
	> :is(.toggle, label, button) .s\:flip-x,
	> .s\:flip-x,
	&.s\:flip-x {
		@extend %e-flip-x;
	}
	> :is(.toggle, label, button) .s\:flip-y,
	> .s\:flip-y,
	&.s\:flip-y {
		@extend %e-flip-y;
	}
	> :is(.toggle, label, button) .s\:revert,
	> .s\:revert,
	&.s\:revert {
		@extend %e-revert;
	}
	> :is(.toggle, label, button) .s\:none,
	> .s\:none,
	&.s\:none {
		@extend %e-no-display;
	}
	> :is(.toggle, label, button) .s\:no-pointer,
	> .s\:no-pointer,
	&.s\:no-pointer {
		@extend %e-no-pointer;
	}
	> :is(.toggle, label, button) .s\:close,
	> .s\:close,
	&.s\:close {
		@extend %e-close;
	}
	> :is(.toggle, label, button) .s\:swap,
	> .s\:swap,
	&.s\:swap {
		@extend %e-swap;
	}
}

:is(:focus).f\:,
:is(.active, :active).a\:,
:is(:hover, :focus-visible).h\:,
:is(label, .button, button, .toggle, .badge):is(:focus, :focus-within) > .f\:,
:is(label, .button, button, .toggle, .badge):is(:hover, :focus-visible) > .h\:,
:is(:checked, label:has(:checked)).c\:,
label:has(:checked) > .c\:{
	&rotate {
		@extend %e-rotate;
	}
	&flip {
		@extend %e-flip;
	}
	&flip-x {
		@extend %e-flip-x;
	}
	&flip-y {
		@extend %e-flip-y;
	}
	&revert {
		@extend %e-revert;
	}
	&none {
		@extend %e-no-display;
	}
	&close.icon {
		@extend %e-close;
	}
	&swap {
		@extend %e-swap;
	}
}