/*!
* Spry Tables
*/
@use "variables";

* + table {
	margin-top     : 1em;
}
table {
	position       : relative;
	width          : 100%;
	border-collapse: collapse;

	td,
	th {
		padding   : 1em .5em;
		text-align: left;
	}
}

thead {
	box-shadow: 0 2px 0 rgba(var(--border-color-rgb), var(--border-alpha, .4));

	th {
		font-weight: 500;
	}
}

tbody td {
	border-top    : 1px solid rgba(var(--border-color-rgb), var(--border-alpha, .4));
	vertical-align: text-top;
}

.hoverable tbody tr:hover,
.hoverable.striped-expand tbody tr:nth-child(2n - 1):hover+tr {
	background-color: rgba(var(--color-rgb), .025);
}

.hoverable.striped-expand tbody tr:nth-child(4n - 2):hover {
	background-color: transparent;
}

@mixin table-responsive-styles($prefix) {
	#{$prefix}responsive {

		&,
		& :is(thead, tbody, tr, td, th, tfoot) {
			display: block;
			width  : 100%;
		}

		thead td:nth-child(n+2),
		thead th:nth-child(n+2) {
			display: none;
		}

		tr {
			margin-bottom: .2em;
			padding      : .2em 1em;
		}

		td:first-child {
			border: 0;
		}
	}
}



@mixin table-styles($prefix) {
	#{$prefix}striped {

		tr:nth-child(even),
		> :not(table, tbody, thead, tfoot):nth-child(even) {
			background-color: rgba(var(--color-rgb), .04);
		}
	}

	#{$prefix}striped-expand {

		tr:nth-child(4n -1),
		tr:nth-child(4n),
		> :not(table, tbody, thead, tfoot):nth-child(4n -1),
		> :not(table, tbody, thead, tfoot):nth-child(4n) {
			background-color: rgba(var(--color-rgb), .04);
		}
	}
}

:has(>.c-responsive) {
	container-type: inline-size;
}

@include table-styles('.');

@each $breakpoint,
$breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: #{$breakpoint_width}) {
		@include table-styles('.#{$breakpoint}\\:');
	}

	@container (min-width: #{$breakpoint_width}) {
		@include table-styles('.c-#{$breakpoint}\\:');
	}

	@if index(variables.$breakpoints, ($breakpoint $breakpoint_width))==1 {
		@media screen and (max-width: #{$breakpoint_width}) {
			@include table-responsive-styles('.');
		}

		@container (max-width: #{$breakpoint_width}) {
			@include table-responsive-styles('.c-');
		}
	}
}

.hoverable.striped tbody tr:nth-child(even):hover,
.hoverable tbody.striped tr:nth-child(even):hover,
.hoverable.striped-expand tbody tr:nth-child(4n -1):hover,
.hoverable.striped-expand tbody tr:nth-child(4n -1):hover+tr,
.hoverable tbody.striped-expand tr:nth-child(4n -1):hover,
.hoverable tbody.striped-expand tr:nth-child(4n -1):hover+tr {
	background-color: rgba(var(--color-rgb), .06);
}