/*!
* Spry Tabs
*/

.tabs {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	border-color: rgba(var(--color-rgb), .4);
	// &.outline {
	// 	border-width: 1px;
	// 	border-style: solid;
	// 	&.flex-column .tablist {
	// 		> :not(ul,ol),
	// 		li {
	// 			margin-bottom: -1px;
	// 		}
	// 	}
	// }
}
.tablist {
	overflow: hidden;
	flex: none;
	border-color: inherit;
	flex-direction: row;
	> :not(ul,ol),
	li {
		justify-content: center;
		text-align: center;
		width: auto;
		flex: 1 auto;
	}
}
.tabpanels > * {
	transition: opacity .2s ease-in-out, transform .3s ease-out;
	z-index   : 1;
	padding   : 2em;
	position: relative;
	&:not(.open) {
		transition: none;
		transform : translateY(3px);
		max-height: 0;
		opacity   : 0;
		order     : 9999;
		padding   : 0;
	}
}