/*!
* Spry Tables
*/

table {
	width          : 100%;
	margin-top     : 1em;
	border-collapse: collapse;

	td,
	th {
		padding   : 1em .5em;
		text-align: left;
	}

	thead th {
		font-weight  : 500;
		border-bottom: 2px solid rgba(var(--border-color-rgb), .4);
	}

	tbody tr {
		&:hover td {
			background-color: rgba(var(--color-rgb), .04);
		}

		td {
			border-top    : 1px solid rgba(var(--border-color-rgb), .4);
			vertical-align: text-top;
		}

		&:first-child td {
			border-color: rgba(var(--border-color-rgb), .4);
		}
	}
}
