/*!
* Spry Tabs
*/
@use "ui"as *;

.tabs {
	overflow    : hidden;
	display     : flex;
	border-color: rgba(var(--color-rgb), .4);

	.list {
		overflow    : hidden;
		border-color: inherit;
		flex        : none;
		width       : max-content;
		max-width   : 300px;

		&.row {
			width: auto;
			max-width: none;
		}

		&.column> :not(ul, ol),
		&.column>li {
			flex: none;
		}

		&+*>* {
			transition: none;
			transform : translateY(3px);
			max-height: 0;
			@extend %ui-closed;

			&.open {
				transition: opacity .2s ease-in-out, transform .3s ease-out;
				transform : none;
				padding   : 2em;
				max-height: none;
				// opacity   : 1;
				@extend %ui-open;
			}
		}

		// &.list > * {
		// 	flex: none;
		// }
	}

	&.outline .list {
		border-width: 1px;
		border-style: solid;
	}

	// @for $i from 1 through 20 {
	// 	:has(:nth-child(#{$i}) :checked) + * > :nth-child(#{$i}) {
	// 	  @extend %tabopen;
	// 	}
	// }
}