@use "variables";
@use "extends";
@use "sass:color";
@use "sass:map";
@use "sass:meta";
@use 'sass:list';
@use "sass:string";
/*!
* Spry Themes & Colors
*/

$themeNames: ();
@if meta.global-variable-exists('themes', variables) and variables.$themes {
	@each $theme_name, $theme_values in variables.$themes {
		$themeNames: list.append($themeNames, '.theme-#{$theme_name}', 'comma');

		$themeHandle: '.theme-#{$theme_name}';

		@if list.index(variables.$themes, ($theme_name $theme_values)) == 1 {
			$themeHandle: string.insert($themeHandle, ':root,', 0);
		}

		@if list.length(variables.$themes) == 1 {
			$themeHandle: ':root';	
		}

		#{$themeHandle} {

			color-scheme: #{map.get($theme_values, 'scheme')};
			--theme-accent: #{map.get($theme_values, 'accent')};
			--theme-bg    : #{map.get($theme_values, 'bg')};
			--theme-border: #{map.get($theme_values, 'border')};
			--theme-ui    : #{map.get($theme_values, 'ui')};
			--theme-input : #{map.get($theme_values, 'input')};
			--theme-scheme: #{map.get($theme_values, 'scheme')};
			--theme-color : #{map.get($theme_values, 'color')};

			@if list.index(variables.$themes, ($theme_name $theme_values)) == 1 {
				--layer-dir: -1;
				--layer-lvl: 1;
			}

			@if meta.global-variable-exists('colors', variables) and variables.$colors {
				@each $color_name, $color_value in variables.$colors {
					@if map.get($color_value, $theme_name) {
						--#{"" + $color_name}: #{map.get($color_value, $theme_name)};
					}
				}
			}
		}
	}

	@if $themeNames {
		:root, :where(#{$themeNames}) {
			--ui-bg    : var(--theme-bg);
			--ui-border: var(--theme-border);
			--ui-color : var(--theme-ui);
			--ui-input : var(--theme-input);
			--ui-accent: var(--theme-accent);
			--ui-shadow: rgba(0, 0, 0, var(--shadow-a, .2));
			--ui-text  : hsl(from var(--theme-ui) 0 0 clamp(15%, calc((l - var(--invert))* -1000%), 98%) / var(--clr-a, 1));
		}

		:where(#{$themeNames}, [class*=scheme-]),
		:where(#{$themeNames}).outline,
		select option,
		.tooltip {
			color-scheme    : var(--theme-scheme);
			color           : hsl(from var(--theme-color) h s clamp(0, l * var(--clr-l, 1), 100) / var(--clr-a, 1));
			background-color: hsl(from var(--theme-bg) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));
			border-color    : hsl(from var(--theme-border) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
		}
	}
}

$colorNames: ();
@if meta.global-variable-exists('colors', variables) and variables.$colors {

	// .color\/0,
	// .h\:color\/0:hover {
	// 	--clr-a: 0;
	// }

	// .bg\/0,
	// .h\:bg\/0:hover {
	// 	--bg-a: 0;
	// }

	// .bg-to\/0,
	// .h\:bg-to\/0:hover {
	// 	--bg-to-a: 0;
	// }
	
	// .border\/0,
	// .h\:border\/0:hover {
	// 	--bdr-a: 0;
	// }

	// .glow\/0 {
	// 	--glow-a: 0;
	// }

	@each $i in variables.$percentages {
		.color\/#{$i},
		.h\:color\/#{$i}:hover {
			--clr-a: #{calc($i / 100)};
		}

		.bg\/#{$i},
		.h\:bg\/#{$i}:hover {
			--bg-a: #{calc($i / 100)};
		}

		.bg-to\/#{$i},
		.h\:bg-to\/#{$i}:hover {
			--bg-to-a: #{calc($i / 100)};
		}
		
		.border\/#{$i},
		.h\:border\/#{$i}:hover {
			--bdr-a: #{calc($i / 100)};
		}

		.glow\/#{$i} {
			--glow-a: #{calc($i / 100)};
		}

		.placeholder\/#{$i} {
			--ph-a: #{calc($i / 100)};
		}
	}


	@for $i from 0 through 5 {
		
		.color-#{$i},
		.h\:color-#{$i}:hover {
			--clr-l: #{calc(1 - ($i / 10))};
		}
		.color\+#{$i},
		.h\:color\+#{$i}:hover {
			--clr-l: #{calc(($i / 10) + 1)};
		}

		.bg-#{$i},
		.scheme-toggle .\^bg-#{$i},
		.h\:bg-#{$i}:hover {
			--bg-l: #{calc(1 - ($i / 10))};
		}
		.bg\+#{$i},
		.scheme-toggle .\^bg\+#{$i},
		.h\:bg\+#{$i}:hover {
			--bg-l: #{calc(($i / 10) + 1)};
		}

		.bg-to-#{$i},
		.h\:bg-to-#{$i}:hover {
			--bg-to-l: #{calc(1 - ($i / 10))};
		}
		.bg-to\+#{$i},
		.h\:bg-to\+#{$i}:hover {
			--bg-to-l: #{calc(($i / 10) + 1)};
		}
		
		.border-#{$i},
		.h\:border-#{$i}:hover {
			--bdr-l: #{calc(1 - ($i / 10))};
		}
		.border\+#{$i},
		.h\:border\+#{$i}:hover {
			--bdr-l: #{calc(($i / 10) + 1)};
		}

		.glow-#{$i} {
			--glow: #{calc($i / 10)};
		}
	}

	hr,
	[class^=b-],
	[class*=\ b-],
	[class*=bx-],
	[class*=by-],
	[class*=bt-],
	[class*=br-],
	[class*=bb-],
	[class*=bl-] {
		border-color: hsl(from var(--ui-border) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
		&:where(input, textarea, select, .input) {
			border-color: hsl(from var(--ui-input) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
		}
	}

	@each $color_name, $color_value in variables.$colors {
		$colorNames: list.append($colorNames, '.#{$color_name}', 'comma');

		.#{"" + $color_name} {
			--ui-color: var(--#{$color_name});
			--ui-border: var(--#{$color_name});
			--ui-bg: var(--#{$color_name});
		}
	}

	:where(#{$colorNames}, [class^=color-], [class*=\ color-], [class*=h\:color-]:hover) :is(h1,h2,h3,h4,h5,h6) {
		color: inherit;
	}

	:is(#{$colorNames}) {
		--ui-accent: var(--ui-color);
		&:where(.link,.plain,.hazy,.outline, .buttons-link a, .buttons-outline a, .buttons-hazy a, .buttons-plain a),
		:where(.link,.plain,.hazy,.outline, .buttons-link a, .buttons-outline a, .buttons-hazy a, .buttons-plain a) {
			--ui-text: hsl(from var(--ui-accent) h s clamp(0, l * var(--clr-l, 1), 100) / var(--clr-a, 1));
		}
	}

	[class*="h\:color-"]:is(:hover, :focus, .active),
	[class*="h\:links-"] a:not(.button,[class*=h\:color-]):is(:hover, :focus, .active),
	[class^="links-"] :where(a:not(.button)),
	[class*=" links-"] :where(a:not(.button)),
	[class^="color-"],
	[class*=" color-"] {
		color: var(--ui-text);
	}

	[class*="h\:bg-"]:is(:hover, :focus, .active),
	[class^="bg-"],
	[class*=" bg-"] {
		background-color: hsl(from var(--ui-bg) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));
	}

	[class*="h\:border-"]:is(:hover, :focus, .active),
	[class^="border-"],
	[class*=" border-"] {
		border-color: hsl(from var(--ui-border) h s clamp(0, l * var(--bdr-l, 1), 100) / var(--bdr-a, 1));
	}

	[class*="h\:glow-"]:is(:hover, :focus, .active),
	[class^="glow-"],
	[class*=" glow-"] {
		box-shadow: 0px 0px calc(4em * var(--glow)) calc(2em * var(--glow)) rgb(from var(--ui-glow) r g b / var(--glow-a));
	}

	@each $color_name, $color_value in variables.$colors {
		
		.links-#{"" + $color_name} :where(a:not(.button)),
		.h\:links-#{"" + $color_name} a:not(.button,[class*=h\:color-]):is(:hover, :focus, .active),
		.h\:color-#{"" + $color_name}:is(:hover, :focus, .active),
		.color-#{"" + $color_name} {
			--ui-text: hsl(from var(--#{$color_name}) h s clamp(0, l * var(--clr-l, 1), 100) / var(--clr-a, 1));
		}
		
		.h\:bg-#{"" + $color_name}:is(:hover, :focus, .active),
		.bg-#{"" + $color_name} {
			--ui-bg: var(--#{$color_name});
		}

		.h\:glow-#{"" + $color_name}:is(:hover, :focus, .active),
		.glow-#{"" + $color_name} {
			--ui-glow: var(--#{$color_name});
		}

		.h\:shadow-#{"" + $color_name}:is(:hover, :focus, .active),
		.shadow-#{"" + $color_name} {
			--ui-shadow: var(--#{$color_name});
		}

		.bg-to-#{"" + $color_name} {
			--bg-to: var(--#{$color_name});
		}
		
		.h\:border-#{"" + $color_name}:is(:hover, :focus, .active),
		.border-#{"" + $color_name} {
			--ui-border: var(--#{$color_name});
			--ui-input: var(--#{$color_name});
		}

		.placeholder-#{"" + $color_name}::placeholder {
			color: hsl(from var(--#{$color_name}) h s clamp(0, l * var(--clr-l, 1), 100) / var(--ph-a, 1));
		}
	}

	.color-theme {
		--ui-text: hsl(from var(--theme-color) h s clamp(0, l * var(--clr-l, 1), 100) / var(--clr-a, 1));
	}
	.bg-theme {
		--ui-bg: var(--theme-bg);
	}
	.border-theme {
		--ui-border: var(--theme-border);
		--ui-input: var(--theme-border);
	}
	.glow-theme {
		--ui-glow: var(--theme-bg);
	}
	.bg-to-theme {
		--bg-to: var(--theme-bg);
	}

	.bg-from-bottom {
		--bg-from: 0deg;
	}
	.bg-from-bottom-left {
		--bg-from: 30deg;
	}
	.bg-from-left {
		--bg-from: 90deg;
	}
	.bg-from-top-left {
		--bg-from: 150deg;
		&.pattern-3 {
			--bg-from: 135deg;
		}
	}
	.bg-from-top {
		--bg-from: 180deg;
	}
	.bg-from-top-right {
		--bg-from: 210deg;
	}
	.bg-from-right {
		--bg-from: 270deg;
	}
	.bg-from-bottom-right {
		--bg-from: 330deg;
	}

	[class*=bg-to-],
	[class*="bg-to+"],
	[class*="bg-to/"],
	[class*=pattern-] {
		--bg1: hsl(from var(--ui-bg) h s clamp(0, l * var(--bg-l, 1), 100) / var(--bg-a, 1));
		--bg2: hsl(from var(--bg-to, var(--ui-bg)) h s clamp(0, l * var(--bg-to-l, 1), 100) / var(--bg-to-a, 1));
		background-origin: border-box;
		background-color: transparent;
		background-image: linear-gradient(var(--bg-from), var(--bg1), var(--bg2));
		--pattern-size: 100px;
	}

	.pattern-size-1 {
		--pattern-size: 20px;
	}

	.pattern-size-2 {
		--pattern-size: 50px;
	}

	.pattern-size-3 {
		--pattern-size: 100px;
	}
	.pattern-size-4 {
		--pattern-size: 300px;
	}
	.pattern-size-5 {
		--pattern-size: 500px;
	}

	.bg-from-center {
		background-image: radial-gradient(circle,var(--bg1) 20%,var(--bg2) 115%);
	}

	// .layer {
	// 	--layer-lvl: 1;
	// 	--layer-bdr-lvl: 1;
	// 	// --ui-bg: hsl(from var(--ui-bg) h s calc(l + (var(--layer-lvl) * var(--layer) * var(--layer-dir))) / var(--bg-a, 1));
	// 	// --ui-border: var(--ui-bg);
	// 	background-color: hsl(from var(--ui-bg) h s calc(l + (var(--layer-lvl) * var(--layer) * var(--layer-dir))) / var(--bg-a, 1));
	// 	border-color: hsl(from var(--ui-bg) h s calc(l + (var(--layer-bdr-lvl) * (var(--layer) + 6) * var(--layer-dir))) / var(--bg-a, 1));
	// }

	.pattern-1 {
		background: linear-gradient(calc(var(--bg-from) + 3deg),var(--bg1) 33%,var(--bg2) 33.5% 66.5%,var(--bg1) 67%) 0 / var(--pattern-size) var(--pattern-size);
	}

	.pattern-2 {
		background: repeating-linear-gradient(var(--bg-from), var(--bg1) 0 var(--pattern-size), var(--bg2) 0 calc(var(--pattern-size) * 2));
	}

	.pattern-3 {
		background: conic-gradient(var(--bg1) var(--bg-from), var(--bg2) 0 calc(var(--bg-from) * 2), var(--bg1) 0 315deg,var(--bg2) 0) 0 / var(--pattern-size) var(--pattern-size);
	}
}


// .layer .layer {
// 	--layer-lvl: 2;
// 	--layer-bdr-lvl: 2;
// 	.layer {
// 		--layer-lvl: 3;
// 		--layer-bdr-lvl: 2.5;
// 		.layer {
// 			--layer-lvl: 4;
// 			--layer-bdr-lvl: 3;
// 		}
// 	}
// }

.scheme-toggle {
	// --layer-dir: 1;
	color-scheme: dark;
	.scheme-toggle {
		// --layer-dir: -1;
		color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	// :root {
	// 	--layer-dir: 1;
	// }
	.scheme-toggle {
		// --layer-dir: -1;
		color-scheme: light;
		.scheme-toggle {
			// --layer-dir: 1;
			color-scheme: dark;
		}
	}
}

.scheme-light {
	// --layer-dir: -1;
	color-scheme: light;
}

.scheme-dark {
	// --layer-dir: 1;
	color-scheme: dark;
}