@use "extends";
@use "mixins";
@use "variables";
/*!
* Spry Toggles
*/

:is(.toggle, .toggle-next) {
	user-select: none;
	& :is(svg,img):nth-of-type(2),
	&:not(:has([type])):focus-within:has(:is(svg,img):nth-of-type(2)) :is(svg,img):first-of-type,
	&:is(.active, :has(:checked)):has(:is(svg,img):nth-of-type(2)) :is(svg,img):first-of-type {
		opacity: 0;
		scale  : .5
	}

	&:not(:has([type])):focus-within :is(svg,img):nth-of-type(2),
	&:is(.active, :has(:checked)) :is(svg,img):nth-of-type(2) {
		opacity: 1;
		scale  : 1
	}

	& > :is(input[type=checkbox], input[type=radio]):not(.switch) {
		width     : 0;
		min-width : 0;
		min-height: 0;
		margin    : 0;
		padding   : 0;
		border    : 0;
		outline   : 0;
		margin-right: -1em;
	}

	&:has( > .switch) {
		height: 1.15em;
	}
}

// Delay on hover to prevent accidental showing
[class*="hover:open"] {
	transition-delay: .1s;
}

/*
* Collapse
* 
* Will be updated once calc-size(auto) is fully supported
* https://caniuse.com/?search=calc-size
*/

@mixin collapse-toggle-styles($prefix) {

	#{$prefix}toggle-content {
		z-index: 1;
	}
	#{$prefix}toggle-content > *,
	:is(#{$prefix}h\:open, #{$prefix}f\:open) ul > li > ul {
		@if $prefix == '.' {
			@extend %closed;
		}
		@else {
			@include mixins.closed;
		}
	}

	#{$prefix}open > :where(.toggle-content) > * {
		@if $prefix == '.' {
			@extend %open;
		}
		@else {
			@include mixins.open;
		}
	}
}

@include collapse-toggle-styles('.');

@each $breakpoint, $breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: #{$breakpoint_width}) {
		@include collapse-toggle-styles('.#{$breakpoint}\\:');
	}

	@container (min-width: #{$breakpoint_width}) {
		@include collapse-toggle-styles('.c-#{$breakpoint}\\:');
	}
}

.toggle-next + * {
	@extend %closed;
}


li :is(.toggle:checked, .toggle:has(:checked)) + ul,
.toggle-container:has(> .toggle:checked, > .toggle :checked) > :where(.toggle-content) > *,
.h\:open li:has(:focus-visible, :hover) > ul,
.h\:open:hover > :where(.toggle-content) > *,
.h\:open:focus-within > :where(.toggle-content) > *,
.f\:open li:focus-within > ul,
.toggle-next:checked + *,
.toggle-next:has(:checked) + *,
.f\:open:focus > :where(.toggle-content) > *,
.f\:open:has(.toggle:focus, .toggle :focus, :focus-visible, :active) > :where(.toggle-content) > * {
	@extend %open;
}

.clip-top, .clip-bottom, .clip-right, .clip-left {
	clip-path: inset(0 -1900px -1900px -1900px);
	z-index: 1;
}
.clip-bottom {
	clip-path: inset(-1900px -1900px 0 -1900px);
}
.clip-right {
	clip-path: inset(-1900px 0 -1900px -1900px);
}
.clip-left {
	clip-path: inset(-1900px -1900px -1900px 0);
}