.open,
:is(.toggle:checked, .toggle:has(:checked)) + :where(.collapse),
.toggle:checked,
.toggle:has(:checked),
.h\:open:hover,
.h\:open:focus-within,
.f\:open:focus,
.f\:open:has(> :focus, :focus-visible, :active) {
	> :is(.toggle, label, button) .open\:rotate,
	> .open\:rotate,
	&.open\:rotate {
		rotate: 180deg;
	}
	> :is(.toggle, label, button) .open\:flip,
	> .open\:flip,
	&.open\:flip {
		scale: -1;
	}
	> :is(.toggle, label, button) .open\:block,
	> .open\:block,
	&.open\:block {
		display: block;
	}
	> :is(.toggle, label, button) .open\:flex,
	> .open\:flex,
	&.open\:flex {
		display: flex;
	}
	> :is(.toggle, label, button) .open\:grid,
	> .open\:grid,
	&.open\:grid {
		display: grid;
	}
	> :is(.toggle, label, button) .open\:inline,
	> .open\:inline,
	&.open\:inline {
		display: inline;
	}
	> :is(.toggle, label, button) .open\:inline-block,
	> .open\:inline-block,
	&.open\:inline-block {
		display: inline-block;
	}
	> :is(.toggle, label, button) .open\:inline-flex,
	> .open\:inline-flex,
	&.open\:inline-flex {
		display: inline-flex;
	}
	> :is(.toggle, label, button) .open\:revert,
	> .open\:revert,
	&.open\:revert {
		display: revert;
	}
	> :is(.toggle, label, button) .open\:none,
	> .open\:none,
	&.open\:none {
		display: none;
	}
	> :is(.toggle, label, button) .open\:pointer-none,
	> .open\:pointer-none,
	&.open\:pointer-none {
		pointer-events: none;
	}
	> :is(.toggle, label, button) .open\:close,
	> .open\:close,
	&.open\:close {

		&::before,
		&::after {
			height          : 1.2em;
			width           : .12em;
			box-shadow      : none;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
}