/*
* Spry Toggles
*/
@use "extends";
@use "mixins";
@use "variables";

:is(.toggle, .toggle-next) {
	user-select: none;
	& :is(svg,img):nth-of-type(2),
	&:not(:has([type])):focus-within:has(:is(svg,img):nth-of-type(2)) :is(svg,img):first-of-type,
	&:is(.active, :has(:checked)):has(:is(svg,img):nth-of-type(2)) :is(svg,img):first-of-type {
		opacity: 0;
		scale  : .5
	}

	&:not(:has([type])):focus-within :is(svg,img):nth-of-type(2),
	&:is(.active, :has(:checked)) :is(svg,img):nth-of-type(2) {
		opacity: 1;
		scale  : 1
	}

	& > :is(input[type=checkbox], input[type=radio]):not(.switch) {
		width     : 0;
		min-width : 0;
		min-height: 0;
		margin    : 0;
		padding   : 0;
		border    : 0;
		outline   : 0;
		margin-right: -1em;
	}

	&:has( > .switch) {
		height: 1.15em;
	}

	&:focus-within > .focus\: {
		&rotate {
			rotate: 180deg;
		}
		&flip {
			scale: -1;
		}
		&block {
			display: block;
		}
		&flex {
			display: flex;
		}
		&grid {
			display: grid;
		}
		&inline {
			display: inline;
		}
		&inline-block {
			display: inline-block;
		}
		&inline-flex {
			display: inline-flex;
		}
		&revert {
			display: revert;
		}
		&none {
			display: none;
		}
	}
}

// Delay on hover to prevent accidental showing
[class*="hover:open"] {
	transition-delay: .1s;
}

/*
* Collapse
* 
* Will be updated once calc-size(auto) is fully supported
* https://caniuse.com/?search=calc-size
*/

@mixin collapse-toggle-styles($prefix) {

	#{$prefix}collapse {
		position: relative;
	}

	// #{$prefix}hover\:open > ul li > ul,
	#{$prefix}collapse > .content,
	#{$prefix}collapse > .overlay > .content,
	#{$prefix}focus\:open ul > li > ul,
	#{$prefix}hover\:open ul > li > ul,
	#{$prefix}hover\:open ul > li > * > ul {
		@if $prefix == '.' {
			@extend %closed;
		}
		@else {
			@include mixins.closed;
		}
	}

	// Nav only
	// #{$prefix}hover\:open > ul > li:hover > ul,

	// #{$prefix}hover\:open li:hover > ul,
	// #{$prefix}hover\:open li:hover > .hidden > ul,
	// #{$prefix}hover\:open li:has(:focus-visible) > ul,
	// #{$prefix}hover\:open li:has(:focus-visible) > .hidden > ul {

	#{$prefix}hover\:open :is(li:hover > ul, li:hover > * > ul, li:has(:focus-visible) > ul, li:has(:focus-visible) > * > ul),
	#{$prefix}focus\:open :is(li:focus-within > ul, li:focus-within > * > ul) {
		@if $prefix == '.' {
			@extend %open;
		}
		@else {
			@include mixins.open;
		}
		// overflow: hidden;
	}

	:is(#{$prefix}open[class],
	#{$prefix}collapse:has( > .toggle > :checked),
	#{$prefix}collapse:has(.content > .toggle > :checked),
	#{$prefix}collapse:has(.content > .toggle:checked),
	#{$prefix}collapse:has( > .toggle:checked)),
	#{$prefix}hover\:open:is(:hover, :has(:focus-visible)),
	#{$prefix}focus\:open:not(:has(.toggle label:active)):has(:active),
	#{$prefix}focus\:open:is(:has( > :focus):not(:has(label:active)), :has(:focus-visible), .hover\:open:hover) {
		> .content,
		> * > .content {
			@if $prefix == '.' {
				@extend %open;
			}
			@else {
				@include mixins.open;
			}
		}
		> :is(.toggle, .toggle-next){
			&:has(:is(img,svg):nth-of-type(2)) :is(img,svg):first-of-type {
				opacity: 0;
				scale  : .5;
			}
			&:has(:is(img,svg):nth-of-type(2)) :is(img,svg):last-of-type {
				opacity: 1;
				scale  : 1;
			}

			.open\:,
			&.open\: {
				&rotate {
					rotate: 180deg;
				}
				&flip {
					scale: -1;
				}
				&block {
					display: block;
				}
				&flex {
					display: flex;
				}
				&grid {
					display: grid;
				}
				&inline {
					display: inline;
				}
				&inline-block {
					display: inline-block;
				}
				&inline-flex {
					display: inline-flex;
				}
				&revert {
					display: revert;
				}
				&none {
					display: none;
				}
			}
		}
	}

	#{$prefix}focus\:open:not(:has(:is(.toggle, .toggle-next) label:active)):has(:active),
	#{$prefix}focus\:open:is(.open, :has( > :focus):not(:has(label:active)), :has(:focus-visible), .hover\:open:hover) {
		> :is(.toggle, .toggle-next){
			pointer-events: none;
		}
	}
}

@include collapse-toggle-styles('.');

@each $breakpoint, $breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: #{$breakpoint_width}) {
		@include collapse-toggle-styles('.#{$breakpoint}\\:');
	}

	@container (min-width: #{$breakpoint_width}) {
		@include collapse-toggle-styles('.c-#{$breakpoint}\\:');
	}
}

.toggle-next {
	+ * {
		@extend %closed;
	}
	// &:checked,
	&:has(>:checked) {
		+ * {
			@extend %open;
		}
		.open\: {
			&rotate {
				rotate: 180deg;
			}
			&flip {
				scale: -1;
			}
			&block {
				display: block;
			}
			&flex {
				display: flex;
			}
			&grid {
				display: grid;
			}
			&inline {
				display: inline;
			}
			&inline-block {
				display: inline-block;
			}
			&inline-flex {
				display: inline-flex;
			}
			&revert {
				display: revert;
			}
			&none {
				display: none;
			}
		}
	}
}

.clip-top, .clip-bottom, .clip-right, .clip-left {
	clip-path: inset(0 -1900px -1900px -1900px);
	z-index: 1;
}
.clip-bottom {
	clip-path: inset(-1900px -1900px 0 -1900px);
}
.clip-right {
	clip-path: inset(-1900px 0 -1900px -1900px);
}
.clip-left {
	clip-path: inset(-1900px -1900px -1900px 0);
}


/*
* Collapse Inner
* 
* Will be deprecated once calc-size(auto) is fully supported
* https://caniuse.com/?search=calc-size
*/

// @mixin collapse-inner-toggle-styles($prefix) {

// 	// #{$prefix}collapse-inner {
// 	// 	position: relative;
// 	// }

// 	// #{$prefix}collapse-inner > .content,
// 	// #{$prefix}collapse-inner > :is(.overlay, .hidden)>.content {
// 	// 	@include mixins.closed-inner;
// 	// 	> * {
// 	// 		overflow: hidden;
// 	// 	}
// 	// }

// 	// #{$prefix}collapse-inner.open,
// 	// #{$prefix}collapse-inner:has( > .toggle > :checked) {
// 	// 	> .content,
// 	// 	> .overlay > .content {
// 	// 		@include mixins.open-inner;
// 	// 	}
// 	// }

// 	// #{$prefix}collapse-inner > .content > * {
// 	// 	overflow: hidden;
// 	// }

// 	// #{$prefix}open:where(.collapse-inner) > .content,
// 	// #{$prefix}hover\:open:is(:hover, :has(:focus-visible)) > .content,
// 	// #{$prefix}hover\:open:is(:hover, :has(:focus-visible)) > :is(.overlay, .hidden)>.content,
// 	// #{$prefix}hover\:open li:hover > .content,
// 	// #{$prefix}hover\:open li:hover > :is(.overlay, .hidden)>.content,
// 	// #{$prefix}hover\:open li:has(:focus-visible) > .content,
// 	// #{$prefix}hover\:open li:has(:focus-visible) > :is(.overlay, .hidden)>.content {
// 	// 	@include mixins.open-inner;
// 	// }
// }

// @include collapse-inner-toggle-styles('.');

// @each $breakpoint, $breakpoint_width in variables.$breakpoints {
// 	@media screen and (min-width: #{$breakpoint_width}) {
// 		@include collapse-inner-toggle-styles('.#{$breakpoint}\\:');
// 	}

// 	@container (min-width: #{$breakpoint_width}) {
// 		@include collapse-inner-toggle-styles('.c-#{$breakpoint}\\:');
// 	}
// }