/*!
* Spry Tooltips
*/

.tooltip {
	width           : 100vw;
	max-width       : 300px;
	position        : absolute;
	cursor          : auto;
	border-radius   : 5px;
	background-color: var(--light);
	padding         : 1em;
	z-index         : 2;
}

:has(>.tooltip) {
	position: relative;

	&:hover {
		z-index: 2;
	}

	.tooltip {
		width     : 90vw;
		position  : absolute;
		transition: opacity .2s ease-in-out;
		cursor    : auto;
	}

	&:not(:hover) .tooltip {
		opacity       : 0;
		pointer-events: none;
	}
}