@use "extends";
/*!
* Spry Toolbar
*/

.toolbar {
	@extend %ui;
	@extend %ui-roomy;
	@extend %ui-border-radius;
	justify-content: space-between;
	transition: none;
	> * {
		width: auto;
		background-color: inherit;
	}
}
