/*!
* Spry Tooltips
*/

.tooltip {
	cursor          : text;
	width           : max-content;
	max-width       : 300px;
	position        : absolute;
	left            : 50%;
	text-align      : left;
	bottom          : 50%;
	border-radius   : 5px;
	background-color: var(--light);
	padding         : .8em 1.2em;
	z-index         : 2;
	transition      : opacity .2s ease-in-out .1s, transform .1s ease-in-out;
	user-select     : text;
	text-transform  : none;
	font-style      : normal;
}

:has(>.tooltip) {
	position: relative;



	&:hover,
	&:focus {
		z-index: 2;
	}

	&:hover:not(:active),
	&:focus:not(:active) {
		z-index: 2;
		filter : none;
	}

	&:not(:hover, :focus) .tooltip {
		opacity       : 0;
		pointer-events: none;
		transition    : opacity .2s ease-in-out, transform .1s ease-in-out .1s;
	}
}

// [data-tooltip] {
// 	position: relative;
// 	&::after {
// 		content: attr(data-tooltip);
// 		display: block;
// 		width           : max-content;
// 		max-width       : 300px;
// 		position        : absolute;
// 		text-wrap       : balance;
// 		bottom          : 100%;
// 		border-radius   : 5px;
// 		background-color: var(--light);
// 		padding         : 1em;
// 	}
// }