/*
* Spry Tooltips
*/
@use "extends";

.tooltip {
	@extend %ui-border-radius;
	@extend %ui-border;
	--toggle-transform       : scale(.8, .8) translate3d(0, 0, 0);
	--toggle-transform-origin: center;
	cursor                   : text;
	bottom                   : 80%;
	box-shadow               : 1px 3px 4px rgba(0, 0, 0, .12);
	font-style               : normal;
	// left                     : 50%;
	max-width                : 280px;
	padding                  : .8em 1.2em;
	position                 : absolute;
	text-align               : left;
	text-transform           : none;
	transition               : opacity var(--ease-speed) var(--ease), transform var(--ease-speed) var(--ease); // In
	user-select              : text;
	width                    : max-content;
	backface-visibility      : hidden;
	transform                : none;
	transform-origin         : var(--toggle-transform-origin);
}

:has(>.tooltip) {
	position: relative;

	&:is(:hover, :focus) {
		z-index: 2;

		&:not(:active) {
			filter: none;
		}
	}

	&:not(:hover, :focus) .tooltip {
		opacity       : 0;
		pointer-events: none;
		transform     : var(--toggle-transform);
	}
}