
@use "variables"as *;
@use "ui"as *;
/*!
* Spry Typography
*/

// Heading Font Sizes and Classes
@each $type_name, $type in $types {

    .#{$type_name},
    #{$type_name} {

        @each $type_field, $type_value in $type {
            #{$type_field}: $type_value;
        }
    }
}

:is(h1, h2, h3, h4, h5, ul, ol, p) + * {
    @extend %ui-margin-above-lg;
}

:is(dfn, cite) + *,
.note + * {
    @extend %ui-margin-above;
}

.note {
    font-style: italic;
    opacity   : .7
}

blockquote, q {
    font-size: 160%;
    margin-block: 2em;
    font-style: italic;
    color: var(--ui-text-color);
}

cite, dfn {
    display: inline-block;
    opacity: .7;
}