/*! 
* Spry Typography
*/
body, input, textarea, select {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: .01em;
}

input, textarea, select {
    font-size: 100%;
}

// Heading Font Sizes and Classes
@each $type_name, $type in $types {
    .#{$type_name}, #{$type_name} {
        @each $type_field, $type_value in $type {
            #{$type_field}: $type_value;
        }
        p + & {
            margin-top: 2rem;
        }
    }
}

.xs {
    font-size: 80%;
}
.sm {
    font-size: 90%;
}
.lg {
    font-size: 115%;
}

section {
    h1 {
        margin-top: -.7rem;
    }
    h2 {
        margin-top: -.6rem;
    }
    h3 {
        margin-top: -.5rem;
    }
}

p, h1, h2, h3, h4, h5, h6 {
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + p,
    & + .btn {
        margin-top: 1rem;
    }
}

a {
    cursor: pointer;
    color: map-get($colors, 'primary');
    text-decoration: none;
    transition: color .2s ease-in-out;
    &:hover {
        text-decoration: none;
        color: lighten(map-get($colors, 'primary'), 10%);
    }
}

blockquote {
	margin: 1rem;
	&::before {
		content: '\201C';
	}
	&::after {
		content: '\201D';
	}
	p {
		font: inherit;
		display: inline;
		color: inherit;
	}
}
