@use "variables";
@use "extends";
/*!
* Spry Typography
*/

// Heading Font Sizes and Classes
@each $type_name, $type in variables.$types {

    .#{$type_name}, #{$type_name} {

        @each $type_field, $type_value in $type {
            #{$type_field}: $type_value;
        }
    }
}

:where(h1, h2, h3, h4, h5, h6, ul, ol, p, q, label, pre, article) + :where(h1, h2, h3, h4, h5, h6, ul, ol, p, q, label, pre, article) {
    @extend %ui-margin-above-lg;
}

:where(h1, h2, h3, h4, h5, h6, ul, ol, p, q, div) + :is(dfn, cite, .note) {
    @extend %ui-margin-above;
}

.note {
    font-style: italic;
    opacity   : .75
}

blockquote {
    @extend .q;
}

cite, dfn {
    display: inline-block;
    opacity: .75;
}

code {
    font-size: .9em;
}