/*
* Spry UI
*/
@use "variables";
@use "extends";
@use 'sass:list';

$color_names: ();

@each $color_name,
$color_value in variables.$colors {
	$color_names: list.append($color_names, '.#{$color_name}', 'comma');
}

.ui {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-border;
	@extend %ui-color;
	@extend %ui-border-radius;
}

.toggle:has(:focus-visible),
:focus-visible {
	outline-width: 2px;
}

a {
	cursor         : pointer;
	text-decoration: none;

	&:is(:hover, :focus):not(button, .button, :has(img), :active) {
		filter: brightness(1.15);
	}
}

.link,
.plain,
.hazy,
:is(.buttons-link, .buttons-plain, .buttons-hazy) a {
	border-color: transparent;
}

.link,
.plain,
.outline,
:is(.buttons-link, .buttons-plain, .buttons-outline) a {
	background-color: transparent;
}

.hazy,
.buttons-hazy a {
	background-color: hsl(from var(--color) h s var(--bg-l, l) / 10%);
}

hr {
	height       : 0;
	margin       : var(--gapy) var(--gapx);
	border       : 0;
	border-bottom: 1px solid;
}

li,
ul ul {
	flex-direction : column;
	justify-content: inherit;
	text-align     : inherit;
	width          : inherit;
}

ul ul {
	background-color: inherit;
}

.active\:rotate,
.active\:flip,
.shy {
	transition: all var(--ease-speed) var(--ease);
}

.toggle.active.active\:rotate,
.toggle:has(:checked) .active\:rotate,
.hover\:active:hover.active\:rotate,
.hover\:active:hover .active\:rotate,
.active .active\:rotate {
	rotate: 180deg;
}

.toggle.active.active\:flip,
.toggle:has(:checked) .active\:flip,
.hover\:active:hover.active\:flip,
.hover\:active:hover .active\:flip,
.active .active\:flip {
	scale: -1;
}