/*!
* Spry UI
*/
@use "extends";

.ui {
	@extend %ui;
	@extend %ui-bg;
	@extend %ui-color;
	@extend %ui-border;
	@extend %ui-border-radius;
}

:focus-visible {
	outline-width: 2px;
}

a {
	cursor    : pointer;
	transition: color .1s ease-in-out;
	text-decoration: none;

	&:is(:hover, :focus):not(:has(img)) {
		@extend %ui-hover;
	}
}

.link,
.plain,
.hazy,
:is(.buttons-link, .buttons-plain, .buttons-hazy) a {
	border-color: transparent;
}

.link,
.plain,
.outline,
:is(.buttons-link, .buttons-plain, .buttons-outline) a {
	background: transparent;
}

.hazy,
.buttons-hazy a {
	background-color: rgba(var(--color-rgb), .1);
}

hr {
	height       : 0;
	margin       : var(--gapy) var(--gapx);
	border       : 0;
	border-bottom: 1px solid var(--border-color);
}

li,
ul ul {
	background-color: inherit;
	flex-direction  : column;
	justify-content : inherit;
	text-align      : inherit;
	width           : inherit;
}

.rotate-pressed,
.flip-pressed,
.shy {
	transition: all .2s var(--ease);
}

.rotate-pressed[aria-pressed=true],
[aria-pressed=true] .rotate-pressed {
	rotate: 180deg;
}

.flip-pressed[aria-pressed=true],
[aria-pressed=true] .flip-pressed {
	scale: -1;
}