/*
* Spry Utilities
*/
@use "variables";

/*************************************
General Utility Classes
**************************************/
.thin {
	font-weight: 300
}

.normal {
	font-weight: 400
}

.bold {
	font-weight: 600
}

.italic {
	font-style: italic
}

.uppercase {
	text-transform: uppercase
}

.lowercase {
	text-transform: lowercase
}

.capitalize {
	text-transform: capitalize
}

.pointer {
	cursor: pointer
}

.round {
	border-radius: .25em
}

.round-top {
	border-radius: .25em .25em 0 0
}

.round-bottom {
	border-radius: 0 0 .25em .25em
}

.round-right {
	border-radius: 0 .25em .25em 0
}

.round-left {
	border-radius: .25em 0 0 .25em
}

.pill,
.badge {
	border-radius: 2em
}

.pill-top {
	border-radius: 2em 2em 0 0
}

.pill-bottom {
	border-radius: 0 0 2em 2em
}

.pill-right {
	border-radius: 0 2em 2em 0
}

.pill-left {
	border-radius: 2em 0 0 2em
}

.circle {
	border-radius: 50%;
	aspect-ratio : 1;
}

.sharp {
	border-radius: 0
}

.index-1 {
	z-index: 1
}

.index-2 {
	z-index: 2
}

.index-3 {
	z-index: 3
}

.index-4 {
	z-index: 4
}

.index-5 {
	z-index: 5
}

.truncate-1 {
	overflow-wrap: break-word;
	word-break   : break-all;
}

.truncate,
[class*="truncate-"] {
	max-width         : 100%;
	overflow          : hidden;
	text-overflow     : ellipsis;
	display           : -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-clamp        : 1;
}

@for $i from 2 through 5 {
	.truncate-#{$i} {
		-webkit-line-clamp: #{$i};
		line-clamp        : #{$i};
		white-space       : normal;
		word-break        : break-word;
	}
}

.truncate {
	white-space: nowrap;
	display    : inline-block
}

.rotate-90 {
	rotate: 90deg
}

.rotate-180 {
	rotate: 180deg
}

.rotate-270 {
	rotate: 270deg
}

.bg-inherit {
	background-color: inherit
}

.bg-blur-sm {
	backdrop-filter: blur(2px)
}

.bg-blur,
.bg-blur-md {
	backdrop-filter: blur(8px)
}

.bg-blur-lg {
	backdrop-filter: blur(16px)
}

.bg-none {
	background     : transparent;
	backdrop-filter: none
}

.color-inherit {
	color: inherit
}

.shy {
	opacity: 0.6;
}

.shy:is(:hover, :focus) {
	opacity: 1
}

.snug {
	translate: -1em -.7em
}

.hover\:scale {
	scale: 1.00001;
	transition: scale var(--ease-speed) var(--ease)
}

.scale,
.hover\:scale:hover {
	scale: 1.08
}

/****************************************************************************
Layout Utility Classes - Can include Grid Prefix Ex. .md:right, etc
****************************************************************************/
@mixin utility-styles($prefix, $breakpoint_width) {

	@if $breakpoint_width>0 {
		#{$prefix}mw {
			max-width: #{$breakpoint_width};
		}
	}

	#{$prefix}container {
		container-type: inline-size;
		position      : relative
	}

	#{$prefix}container-none {
		container-type: initial
	}

	#{$prefix}text-left {
		text-align: left
	}

	#{$prefix}text-center {
		text-align: center
	}

	#{$prefix}text-right {
		text-align: right
	}

	#{$prefix}text-justify {
		text-align: justify
	}

	#{$prefix}text-justify-center {
		text-align     : justify;
		text-align-last: center
	}

	#{$prefix}text-balance {
		text-wrap: balance
	}

	#{$prefix}float-right {
		float: right
	}

	#{$prefix}float-left {
		float: left
	}

	#{$prefix}clear {
		clear: both
	}

	#{$prefix}rtl {
		direction: rtl
	}

	#{$prefix}ltr {
		direction: ltr
	}

	#{$prefix}wrap-none {
		white-space: nowrap;
		flex-wrap  : nowrap;
	}

	#{$prefix}pre-wrap {
		white-space: pre-wrap
	}

	#{$prefix}break-words {
		overflow-wrap: break-word;
		word-break   : break-word;
		hyphens      : auto;
	}

	#{$prefix}block {
		display: block;
		width  : 100%
	}

	#{$prefix}flex {
		display: flex
	}

	#{$prefix}inline {
		display: inline;
		width  : auto
	}

	#{$prefix}inline-block {
		display: inline-block;
		width  : auto
	}

	#{$prefix}inline-flex {
		display: inline-flex;
		width  : auto
	}

	#{$prefix}revert {
		display: revert
	}

	#{$prefix}none {
		display: none
	}

	#{$prefix}table {
		display: table
	}

	#{$prefix}table-cell {
		display: table-cell;
		width  : auto;
	}

	#{$prefix}table-row {
		display: table-row
	}

	#{$prefix}table-row-group {
		display: table-row-group
	}

	#{$prefix}table-header-group {
		display: table-header-group
	}

	#{$prefix}table-footer-group {
		display: table-footer-group
	}

	#{$prefix}flex-wrap {
		flex-wrap: wrap
	}

	#{$prefix}hide {
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}

	#{$prefix}show {
		opacity: 1;
		position: revert;
		pointer-events: inherit;
	}

	#{$prefix}items-center {
		place-items: center
	}

	#{$prefix}items-end {
		place-items: end
	}

	#{$prefix}items-start {
		place-items: start
	}

	#{$prefix}items-stretch {
		place-items: stretch
	}

	#{$prefix}content-center {
		place-content: center
	}

	#{$prefix}content-end {
		place-content: end
	}

	#{$prefix}content-start {
		place-content: start
	}

	#{$prefix}content-stretch {
		place-content: stretch
	}

	#{$prefix}content-between {
		place-content: space-between
	}

	#{$prefix}content-around {
		place-content: space-around
	}

	#{$prefix}content-evenly {
		place-content: space-evenly
	}

	#{$prefix}self-center {
		place-self: center
	}

	#{$prefix}self-end {
		place-self: end
	}

	#{$prefix}self-start {
		place-self: start
	}

	#{$prefix}self-stretch {
		place-self: stretch
	}

	#{$prefix}overlay {
		// width: 100%;
		position: absolute;
		// overflow: hidden;
		min-width: 100%;
		place-content: inherit;
		text-align: inherit;
	}

	// #{$prefix}overlay {
	// 	width: 100%;
	// 	position: absolute;
	// 	overflow: hidden;
	// 	min-width: min-content;
	// 	// z-index: 1;
	// }

	#{$prefix}overlay>* {
		position: relative;
		width: 100%;
		min-width: min-content;
	}

	#{$prefix}relative {
		position: relative
	}

	#{$prefix}absolute {
		position: absolute
	}

	#{$prefix}sticky {
		position: sticky;
		top     : 0
	}

	#{$prefix}static {
		position: static;
	}

	#{$prefix}fixed {
		position: fixed
	}

	#{$prefix}inset {
		inset: 0
	}

	#{$prefix}center {
		inset    : 50% auto auto 50%;
		translate: -50% -50%
	}

	#{$prefix}center-y {
		top      : 50%;
		bottom   : auto;
		translate: 0 -50%
	}

	#{$prefix}center-x {
		left     : 50%;
		right    : auto;
		translate: -50% 0
	}

	#{$prefix}translate-none {
		translate: initial
	}

	#{$prefix}top {
		top   : 0;
		bottom: auto
	}

	#{$prefix}right {
		right: 0;
		left : auto
	}

	#{$prefix}bottom {
		bottom: 0;
		top   : auto
	}

	#{$prefix}left {
		left : 0;
		right: auto
	}

	#{$prefix}outer-top {
		bottom: 100%;
		top   : auto
	}

	#{$prefix}outer-right {
		left : 100%;
		right: auto
	}

	#{$prefix}outer-bottom {
		top   : 100%;
		bottom: auto
	}

	#{$prefix}outer-left {
		right: 100%;
		left : auto
	}

	#{$prefix}pointer-none {
		pointer-events: none
	}

	#{$prefix}pointer-all {
		pointer-events: all
	}

	#{$prefix}pointer-inherit {
		pointer-events: inherit
	}

	#{$prefix}align-baseline {
		vertical-align: baseline
	}

	#{$prefix}align-top {
		vertical-align: top
	}

	#{$prefix}align-text-top {
		vertical-align: text-top
	}

	#{$prefix}align-middle {
		vertical-align: middle
	}

	#{$prefix}align-center {
		align-content: center;
	}

	#{$prefix}align-bottom {
		vertical-align: bottom
	}

	#{$prefix}align-text-bottom {
		vertical-align: text-bottom
	}

	#{$prefix}align-super {
		vertical-align: super
	}

	#{$prefix}align-sub {
		vertical-align: sub
	}

	#{$prefix}align-none {
		vertical-align: initial
	}

	#{$prefix}visibility-hidden {
		visibility: hidden
	}

	#{$prefix}visibility-visible {
		visibility: visible
	}

	#{$prefix}hidden {
		overflow: hidden
	}

	#{$prefix}hidden-y {
		overflow-y: hidden
	}

	#{$prefix}hidden-x {
		overflow-x: hidden
	}

	#{$prefix}clip {
		overflow: clip
	}

	#{$prefix}clip-y {
		overflow-y: clip
	}

	#{$prefix}clip-x {
		overflow-x: clip
	}

	#{$prefix}scroll {
		overflow: scroll
	}

	#{$prefix}auto {
		overflow: auto
	}

	#{$prefix}visible {
		overflow: visible
	}

	#{$prefix}order-first {
		order: -1
	}

	#{$prefix}order-0 {
		order: 0
	}

	#{$prefix}order-1 {
		order: 1
	}

	#{$prefix}order-2 {
		order: 2
	}

	#{$prefix}order-3 {
		order: 3
	}

	#{$prefix}order-last {
		order: 99999
	}

	#{$prefix}shadow {
		box-shadow: 1px 3px 6px rgba(0, 0, 0, var(--shadow-o))
	}

	#{$prefix}shadow-none {
		box-shadow: none
	}

	#{$prefix}cover {
		background-size: cover;
		object-fit     : cover
	}

	#{$prefix}contain {
		background-size: contain;
		object-fit     : contain
	}

	#{$prefix}resize {
		overflow: auto;
		resize: both
	}

	#{$prefix}resize-x {
		overflow-x: auto;
		resize: horizontal
	}

	#{$prefix}resize-y {
		overflow-y: auto;
		resize: vertical
	}

	#{$prefix}resize-none {
		resize: none
	}

	#{$prefix}from-top {
		--toggle-transform: translate3d(0, -80px, 0);
		--toggle-transform-origin: top;
	}

	#{$prefix}from-center {
		--toggle-transform       : scale(.8, .8) translate3d(0, 0, 0);
		--toggle-transform-origin: center;
	}

	#{$prefix}from-left {
		--toggle-transform       : translate3d(-80px, 0, 0);
		--toggle-transform-origin: left;
	}

	#{$prefix}from-right {
		--toggle-transform       : translate3d(80px, 0, 0);
		--toggle-transform-origin: right;
	}

	#{$prefix}from-bottom {
		--toggle-transform       : translate3d(0, 80px, 0);
		--toggle-transform-origin: bottom;
	}

	#{$prefix}from-default {
		--toggle-transform: translate3d(0, -2px, 0);
		--toggle-transform-origin: top;
	}

	#{$prefix}o-0 {
		opacity: 0
	}

	@for $i from 1 through 10 {
		#{$prefix}o-#{$i}0 {
			opacity: #{calc($i / 10)};
		}
	}

	@each $size_name,
	$size_value in variables.$sizes {
		#{$prefix}#{$size_name} {
			font-size: $size_value;
		}
	}
}

@include utility-styles('.', 0);

// Checked Utilities
:has(:checked) > .checked\:,
:has([value=""]:checked) > .checked-empty\:,
:not(:has(:checked)) > .checked-empty\: {
	&block {
		display: block;
	}
	&flex {
		display: flex;
	}
	&grid {
		display: grid;
	}
	&inline {
		display: inline;
	}
	&inline-block {
		display: inline-block;
	}
	&inline-flex {
		display: inline-flex;
	}
	&revert {
		display: revert;
	}
	&none {
		display: none;
	}
}

.hover\:o-0:hover {
	opacity: 0
}

@for $i from 1 through 10 {
	.hover\:o-#{$i}0:hover {
		opacity: #{calc($i / 10)};
	}
	.shadow\/#{calc($i * 10)} {
		--shadow-o: #{calc($i / 10)};
	}
}

@each $breakpoint,
$breakpoint_width in variables.$breakpoints {
	@media screen and (min-width: #{$breakpoint_width}) {
		@include utility-styles('.#{$breakpoint}\\:', $breakpoint_width);
	}

	@container (min-width: #{$breakpoint_width}) {
		@include utility-styles('.c-#{$breakpoint}\\:', $breakpoint_width);
	}
}