@use "variables";
@use "sass:meta";
/*!
* Spry Responsive Utilities
*/

:root {
	--sa: calc(.5em*var(--shadow)) calc(.75em * var(--shadow)) calc(1.75em * var(--shadow)) rgba(0, 0, 0, var(--shadow));
}

[class^="shadow-"],
[class*=" shadow-"] {
	box-shadow: calc(.5em*var(--shadow)) calc(.75em * var(--shadow)) calc(1.75em * var(--shadow)) rgba(0, 0, 0, var(--shadow))
}

[class*="text-shadow-"] {
	text-shadow: 1px 2px 0px rgba(0, 0, 0, .2);
}

[class*="drop-shadow-"] {
	filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .3));
}

// .text-shadow {
// 	text-shadow: 1px 2px 0px rgba(0, 0, 0, .2);
// }

// .drop-shadow {
// 	filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, .3));
// }

/****************************************************************************
Layout Utility Classes - Can include Grid Prefix Ex. .md:right, etc
****************************************************************************/
@mixin utility-styles($prefix, $breakpoint_width) {

	@if $breakpoint_width>0 {
		#{$prefix}mw {
			max-width: #{$breakpoint_width};
		}
	}

	#{$prefix}text-left {
		text-align: left
	}

	#{$prefix}text-center {
		text-align: center
	}

	#{$prefix}text-right {
		text-align: right
	}

	#{$prefix}text-justify {
		text-align: justify
	}

	#{$prefix}text-justify-center {
		text-align     : justify;
		text-align-last: center
	}

	#{$prefix}text-balance {
		text-wrap: balance
	}

	#{$prefix}float-right {
		float: right
	}

	#{$prefix}float-left {
		float: left
	}

	#{$prefix}clear {
		clear: both
	}

	#{$prefix}rtl {
		direction: rtl
	}

	#{$prefix}ltr {
		direction: ltr
	}

	#{$prefix}wrap-none {
		white-space: nowrap;
		flex-wrap  : nowrap;
	}

	#{$prefix}pre-wrap {
		white-space: pre-wrap
	}

	#{$prefix}break-words {
		overflow-wrap: break-word;
		word-break   : break-word;
		hyphens      : auto;
	}

	#{$prefix}none {
		display: none
	}

	#{$prefix}block {
		display: block;
		width  : 100%
	}

	#{$prefix}flex {
		display: flex
	}

	#{$prefix}inline {
		display: inline;
		width  : auto
	}

	#{$prefix}inline-block {
		display: inline-block;
		width  : auto
	}

	#{$prefix}inline-flex {
		display: inline-flex;
		width  : auto
	}

	#{$prefix}revert {
		display: revert
	}

	#{$prefix}table-cell {
		display: table-cell;
		width  : auto;
	}

	#{$prefix}flex-wrap {
		flex-wrap: wrap
	}

	#{$prefix}hide {
		opacity       : 0;
		position      : absolute;
		pointer-events: none;
	}

	#{$prefix}show {
		opacity       : 1;
		position      : revert;
		pointer-events: inherit;
	}

	#{$prefix}center,
	#{$prefix}block-center,
	#{$prefix}column.inline-center,
	#{$prefix}column#{$prefix}inline-center,
	.column#{$prefix}inline-center {
		align-content  : center;
		align-items    : center;
	}

	#{$prefix}center,
	#{$prefix}inline-center, 
	#{$prefix}column.block-center,
	#{$prefix}column#{$prefix}block-center,
	.column#{$prefix}block-center  {
		justify-content: center;
	}

	#{$prefix}start,
	#{$prefix}block-start,
	#{$prefix}column.inline-start,
	#{$prefix}column#{$prefix}inline-start,
	.column#{$prefix}inline-start {
		align-content: start;
		align-items  : start;
	}

	#{$prefix}start,
	#{$prefix}inline-start,
	#{$prefix}column.block-start,
	#{$prefix}column#{$prefix}block-start,
	.column#{$prefix}block-start {
		justify-content: start;
	}

	#{$prefix}end,
	#{$prefix}block-end,
	#{$prefix}column.inline-end,
	#{$prefix}column#{$prefix}inline-end,
	.column#{$prefix}inline-end {
		align-content: end;
		align-items  : end;
	}

	#{$prefix}end,
	#{$prefix}inline-end,
	#{$prefix}column.block-end,
	#{$prefix}column#{$prefix}block-end,
	.column#{$prefix}block-end {
		justify-content: end;
	}

	#{$prefix}stretch,
	#{$prefix}block-stretch,
	#{$prefix}column.inline-stretch,
	#{$prefix}column#{$prefix}inline-stretch,
	.column#{$prefix}inline-stretch {
		align-content: stretch;
		align-items  : stretch;
	}

	#{$prefix}stretch,
	#{$prefix}inline-stretch,
	#{$prefix}column.block-stretch,
	#{$prefix}column#{$prefix}block-stretch,
	.column#{$prefix}block-stretch {
		justify-content: stretch;
		grid-auto-rows: 1fr;
	}

	#{$prefix}between,
	#{$prefix}block-between,
	#{$prefix}column.inline-between,
	#{$prefix}column#{$prefix}inline-between,
	.column#{$prefix}inline-between {
		align-content: space-between;
		align-items  : space-between;
	}

	#{$prefix}between,
	#{$prefix}inline-between,
	#{$prefix}column.block-between,
	#{$prefix}column#{$prefix}block-between,
	.column#{$prefix}block-between {
		justify-content: space-between;
	}

	#{$prefix}around,
	#{$prefix}block-around,
	#{$prefix}column.inline-around,
	#{$prefix}column#{$prefix}inline-around,
	.column#{$prefix}inline-around {
		align-content: space-around;
		align-items  : space-around;
	}

	#{$prefix}around,
	#{$prefix}inline-around,
	#{$prefix}column.block-around,
	#{$prefix}column#{$prefix}block-around,
	.column#{$prefix}block-around {
		justify-content: space-around;
	}

	#{$prefix}evenly,
	#{$prefix}block-evenly,
	#{$prefix}column.inline-evenly,
	#{$prefix}column#{$prefix}inline-evenly,
	.column#{$prefix}inline-evenly {
		align-content: space-evenly;
		align-items  : space-evenly;
	}

	#{$prefix}evenly,
	#{$prefix}inline-evenly,
	#{$prefix}column.block-evenly,
	#{$prefix}column#{$prefix}block-evenly,
	.column#{$prefix}block-evenly {
		justify-content: space-evenly;
	}

	#{$prefix}self-center {
		place-self: center
	}

	#{$prefix}self-end {
		place-self: end
	}

	#{$prefix}self-start {
		place-self: start
	}

	#{$prefix}self-stretch {
		place-self: stretch
	}

	#{$prefix}overlay {
		position     : absolute;
		min-width    : 100%;
		place-content: inherit;
		text-align   : inherit;
		z-index: 1;
		>* {
			position : relative;
			width    : 100%;
			min-width: min-content;
			overflow: visible;
		}
	}

	#{$prefix}relative {
		position: relative
	}

	#{$prefix}absolute {
		position: absolute
	}

	#{$prefix}sticky {
		position: sticky;
		top     : 0
	}

	#{$prefix}static {
		position: static;
	}

	#{$prefix}fixed {
		position: fixed
	}

	#{$prefix}inset {
		inset: 0
	}

	#{$prefix}translate-center {
		inset    : 50% auto auto 50%;
		translate: -50% -50%
	}

	#{$prefix}translate-block-center {
		top      : 50%;
		bottom   : auto;
		translate: 0 -50%
	}

	#{$prefix}translate-inline-center {
		left     : 50%;
		right    : auto;
		translate: -50% 0
	}

	#{$prefix}translate-none {
		translate: initial
	}

	#{$prefix}top {
		top   : 0;
		bottom: auto
	}

	#{$prefix}right {
		right: 0;
		left : auto
	}

	#{$prefix}bottom {
		bottom: 0;
		top   : auto
	}

	#{$prefix}left {
		left : 0;
		right: auto
	}

	#{$prefix}outer-top {
		bottom: 100%;
		top   : auto
	}

	#{$prefix}outer-right {
		left : 100%;
		right: auto
	}

	#{$prefix}outer-bottom {
		top   : 100%;
		bottom: auto
	}

	#{$prefix}outer-left {
		right: 100%;
		left : auto
	}

	#{$prefix}pointer-none {
		pointer-events: none
	}

	#{$prefix}pointer-all {
		pointer-events: all
	}

	// #{$prefix}pointer-inherit {
	// 	pointer-events: inherit
	// }

	// #{$prefix}align-baseline {
	// 	vertical-align: baseline
	// }

	// #{$prefix}align-top {
	// 	vertical-align: top
	// }

	// #{$prefix}align-text-top {
	// 	vertical-align: text-top
	// }

	// #{$prefix}align-middle {
	// 	vertical-align: middle
	// }

	// #{$prefix}align-center {
	// 	align-content: center;
	// }

	// #{$prefix}align-bottom {
	// 	vertical-align: bottom
	// }

	// #{$prefix}align-text-bottom {
	// 	vertical-align: text-bottom
	// }

	// #{$prefix}align-super {
	// 	vertical-align: super
	// }

	// #{$prefix}align-sub {
	// 	vertical-align: sub
	// }

	// #{$prefix}align-none {
	// 	vertical-align: initial
	// }

	// #{$prefix}visibility-hidden {
	// 	visibility: hidden
	// }

	// #{$prefix}visibility-visible {
	// 	visibility: visible
	// }

	#{$prefix}hidden {
		overflow: hidden
	}

	#{$prefix}scroll {
		overflow: scroll
	}

	#{$prefix}auto {
		overflow: auto
	}

	#{$prefix}visible {
		overflow: visible
	}

	#{$prefix}clip {
		overflow: clip
	}

	#{$prefix}clip-y {
		overflow-y: clip
	}

	#{$prefix}clip-x {
		overflow-x: clip
	}

	#{$prefix}order-first {
		order: -1
	}

	#{$prefix}order-0 {
		order: 0
	}

	#{$prefix}order-1 {
		order: 1
	}

	#{$prefix}order-2 {
		order: 2
	}

	#{$prefix}order-3 {
		order: 3
	}

	#{$prefix}order-last {
		order: 999
	}

	@for $i from 0 through 10 {
		#{$prefix}shadow-#{$i} {
			--shadow: #{calc($i / 10)};
		}
	}

	#{$prefix}cover {
		background-size: cover;
		object-fit     : cover
	}

	#{$prefix}contain {
		background-size: contain;
		object-fit     : contain
	}

	#{$prefix}resize {
		overflow: auto;
		resize  : both
	}

	#{$prefix}resize-x {
		overflow-x: auto;
		resize    : horizontal
	}

	#{$prefix}resize-y {
		overflow-y: auto;
		resize    : vertical
	}

	#{$prefix}resize-none {
		resize: none
	}

	#{$prefix}rotate-0 {
		rotate: 0deg
	}

	#{$prefix}rotate-90 {
		rotate: 90deg
	}

	#{$prefix}rotate,
	#{$prefix}rotate-180 {
		rotate: 180deg
	}

	#{$prefix}rotate-270 {
		rotate: 270deg
	}
	
	#{$prefix}flip {
		scale: -1;
	}

	#{$prefix}flip-y {
		scale: 1 -1;
	}

	#{$prefix}flip-x {
		scale: -1 1;
	}

	// #{$prefix}transition {
	// 	transition: var(--speed) var(--ease);
	// }

	// #{$prefix}transition-none {
	// 	--speed: 0s;
	// 	transition: none;
	// }

	#{$prefix}from-top {
		--transform: translate3d(0, -80px, 0);
		--origin   : top;
	}

	#{$prefix}from-center {
		--transform: scale(.8, .8) translate3d(0, 0, 0);
		--origin   : center;
	}

	#{$prefix}from-left {
		--transform: translate3d(-80px, 0, 0);
		--origin   : left;
	}

	#{$prefix}from-right {
		--transform: translate3d(80px, 0, 0);
		--origin   : right;
	}

	#{$prefix}from-bottom {
		--transform: translate3d(0, 80px, 0);
		--origin   : bottom;
	}

	#{$prefix}from-default {
		--transform: translate3d(0, 0, 0);
		--origin   : top;
	}

	@for $i from 0 through 9 {
		#{$prefix}opacity\/#{$i},
		#{$prefix}h\:opacity\/#{$i}:hover {
			opacity: #{calc($i / 10)};
		}
		#{$prefix}scale\/#{$i},
		#{$prefix}h\:scale\/#{$i}:hover {
			scale: #{calc($i / 10)};
		}
		#{$prefix}scale\+#{$i},
		#{$prefix}h\:scale\+#{$i}:hover {
			scale: #{calc($i / 10)+1};
		}
	}

	#{$prefix}opacity {
		opacity: 1;
	}
	
	#{$prefix}scale {
		scale: 1;
	}

	@if meta.global-variable-exists('sizes', variables) and variables.$sizes {
		@each $size_name, $size_value in variables.$sizes {
			#{$prefix}#{$size_name} {
				font-size: $size_value;
			}
		}
	}
}

@include utility-styles('.', 0);

@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
	@each $breakpoint, $breakpoint_width in variables.$breakpoints {
		@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
			@media screen and (min-width: #{$breakpoint_width}) {
				@include utility-styles('.#{$breakpoint}\\:', $breakpoint_width);
			}
		}

		@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
			@container (min-width: #{$breakpoint_width}) {
				@include utility-styles('.\\@#{$breakpoint}\\:', $breakpoint_width);
			}
		}
	}
}

:is(.f\:swap, .h\:swap, .checked\:swap) > :last-child {
	opacity: 0;
	scale: .5;
}

// Checked Utilities
:focus.f\:,
:focus > .f\:,
:hover.h\:,
:focus-visible.h\:,
:is(label, .button, button, .toggle, .badge):is(:hover, :focus-visible) > .h\:,
:checked.checked\:,
label:has(:checked)>.checked\:,
label:has(:checked).checked\: {
	&rotate {
		rotate: 180deg;
	}

	&flip {
		scale: -1;
	}
	&flip-x {
		scale: -1 1;
	}
	&flip-y {
		scale: 1 -1;
	}
	&revert {
		display: revert;
	}

	&none {
		display: none;
	}
	&close {
		&::before,
		&::after {
			height          : 1.2em;
			width           : .12em;
			box-shadow      : none;
			background-color: currentColor;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}
	&swap {
		> :first-child {
			opacity: 0;
			scale  : .5
		}
		> :last-child {
			opacity: 1;
			scale  : 1
		}
	}
}