@use "variables";
@use "sass:meta";
/*!
* Spry Responsive Utilities
*/

.center,
.block-center,
.column.inline-center {
	align-content  : center;
	align-items    : center;
}

.center,
.inline-center, 
.column.block-center {
	justify-content: center;
}

.start,
.block-start,
.column.inline-start {
	align-content: start;
	align-items  : start;
}

.start,
.inline-start,
.column.block-start {
	justify-content: start;
}

.end,
.block-end,
.column.inline-end {
	align-content: end;
	align-items  : end;
}

.end,
.inline-end,
.column.block-end {
	justify-content: end;
}

.stretch,
.block-stretch,
.column.inline-stretch {
	align-content: stretch;
	align-items  : stretch;
}

.stretch,
.inline-stretch,
.column.block-stretch {
	justify-content: stretch;
	grid-auto-rows: 1fr;
}

.between,
.block-between,
.column.inline-between {
	align-content: space-between;
	align-items  : space-between;
}

.between,
.inline-between,
.column.block-between {
	justify-content: space-between;
}

.around,
.block-around,
.column.inline-around {
	align-content: space-around;
	align-items  : space-around;
}

.around,
.inline-around,
.column.block-around {
	justify-content: space-around;
}

.evenly,
.block-evenly,
.column.inline-evenly {
	align-content: space-evenly;
	align-items  : space-evenly;
}

.evenly,
.inline-evenly,
.column.block-evenly {
	justify-content: space-evenly;
}

/****************************************************************************
Layout Utility Classes - Ex. .md:text-right, etc
****************************************************************************/
@mixin utility-styles($prefix) {

	#{$prefix}text-left {
		text-align: left
	}

	#{$prefix}text-center {
		text-align: center
	}

	#{$prefix}text-right {
		text-align: right
	}

	#{$prefix}text-justify {
		text-align: justify
	}

	#{$prefix}text-justify-center {
		text-align     : justify;
		text-align-last: center
	}

	#{$prefix}text-balance {
		text-wrap: balance
	}

	#{$prefix}rtl {
		direction: rtl
	}

	#{$prefix}ltr {
		direction: ltr
	}

	#{$prefix}no-wrap {
		white-space: nowrap;
		flex-wrap  : nowrap;
	}

	#{$prefix}pre-wrap {
		white-space: pre-wrap
	}

	#{$prefix}break {
		overflow-wrap: break-word;
		word-break   : break-word;
		hyphens      : auto;
		white-space  : break-spaces;
	}

	#{$prefix}block {
		display: block;
		width  : 100%
	}

	#{$prefix}flex {
		display: flex
	}

	#{$prefix}inline {
		display: inline;
		width  : auto
	}

	#{$prefix}inline-block {
		display: inline-block;
		width  : auto
	}

	#{$prefix}inline-flex {
		display: inline-flex;
		width  : auto
	}

	#{$prefix}revert {
		display: revert
	}

	#{$prefix}none {
		display: none
	}

	#{$prefix}flex-wrap {
		flex-wrap: wrap
	}

	#{$prefix}hide {
		opacity       : 0;
		position      : absolute;
		pointer-events: none;
	}

	#{$prefix}show {
		opacity       : 1;
		position      : revert;
		pointer-events: inherit;
	}

	@if $prefix != '.' {
		#{$prefix}center,
		#{$prefix}block-center,
		:where(.column,#{$prefix}column):where(.inline-center,#{$prefix}inline-center) {
			align-content  : center;
			align-items    : center;
		}

		#{$prefix}center,
		#{$prefix}inline-center, 
		:where(.column,#{$prefix}column):where(.block-center,#{$prefix}block-center) {
			justify-content: center;
		}

		#{$prefix}start,
		#{$prefix}block-start,
		:where(.column,#{$prefix}column):where(.inline-start,#{$prefix}inline-start) {
			align-content: start;
			align-items  : start;
		}

		#{$prefix}start,
		#{$prefix}inline-start,
		:where(.column,#{$prefix}column):where(.block-start,#{$prefix}block-start) {
			justify-content: start;
		}

		#{$prefix}end,
		#{$prefix}block-end,
		:where(.column,#{$prefix}column):where(.inline-end,#{$prefix}inline-end) {
			align-content: end;
			align-items  : end;
		}

		#{$prefix}end,
		#{$prefix}inline-end,
		:where(.column,#{$prefix}column):where(.block-end,#{$prefix}block-end) {
			justify-content: end;
		}

		#{$prefix}stretch,
		#{$prefix}block-stretch,
		:where(.column,#{$prefix}column):where(.inline-stretch,#{$prefix}inline-stretch) {
			align-content: stretch;
			align-items  : stretch;
		}

		#{$prefix}stretch,
		#{$prefix}inline-stretch,
		:where(.column,#{$prefix}column):where(.block-stretch,#{$prefix}block-stretch) {
			justify-content: stretch;
			grid-auto-rows: 1fr;
		}

		#{$prefix}between,
		#{$prefix}block-between,
		:where(.column,#{$prefix}column):where(.inline-between,#{$prefix}inline-between) {
			align-content: space-between;
			align-items  : space-between;
		}

		#{$prefix}between,
		#{$prefix}inline-between,
		:where(.column,#{$prefix}column):where(.block-between,#{$prefix}block-between) {
			justify-content: space-between;
		}

		#{$prefix}around,
		#{$prefix}block-around,
		:where(.column,#{$prefix}column):where(.inline-around,#{$prefix}inline-around) {
			align-content: space-around;
			align-items  : space-around;
		}

		#{$prefix}around,
		#{$prefix}inline-around,
		:where(.column,#{$prefix}column):where(.block-around,#{$prefix}block-around) {
			justify-content: space-around;
		}

		#{$prefix}evenly,
		#{$prefix}block-evenly,
		:where(.column,#{$prefix}column):where(.inline-evenly,#{$prefix}inline-evenly) {
			align-content: space-evenly;
			align-items  : space-evenly;
		}

		#{$prefix}evenly,
		#{$prefix}inline-evenly,
		:where(.column,#{$prefix}column):where(.block-evenly,#{$prefix}block-evenly) {
			justify-content: space-evenly;
		}
	}

	#{$prefix}self-center {
		place-self: center
	}

	#{$prefix}self-end {
		place-self: end
	}

	#{$prefix}self-start {
		place-self: start
	}

	#{$prefix}self-stretch {
		place-self: stretch
	}

	#{$prefix}overlay {
		position     : absolute;
		min-width    : 100%;
		place-content: inherit;
		text-align   : inherit;
		z-index: 1;
		>* {
			position : relative;
			width    : 100%;
			min-width: min-content;
			overflow: visible;
		}
	}

	#{$prefix}relative {
		position: relative
	}

	#{$prefix}absolute {
		position: absolute
	}

	#{$prefix}sticky {
		position: sticky;
		top     : 0
	}

	#{$prefix}static {
		position: static;
	}

	#{$prefix}fixed {
		position: fixed
	}

	#{$prefix}inset {
		inset: 0
	}

	#{$prefix}translate-center {
		inset    : 50% auto auto 50%;
		translate: -50% -50%
	}

	#{$prefix}translate-block-center {
		top      : 50%;
		bottom   : auto;
		translate: 0 -50%
	}

	#{$prefix}translate-inline-center {
		left     : 50%;
		right    : auto;
		translate: -50% 0
	}

	#{$prefix}no-translate {
		translate: initial
	}

	#{$prefix}top {
		top   : 0;
		bottom: auto
	}

	#{$prefix}right {
		right: 0;
		left : auto
	}

	#{$prefix}bottom {
		bottom: 0;
		top   : auto
	}

	#{$prefix}left {
		left : 0;
		right: auto
	}

	#{$prefix}outer-top {
		bottom: 100%;
		top   : auto
	}

	#{$prefix}outer-right {
		left : 100%;
		right: auto
	}

	#{$prefix}outer-bottom {
		top   : 100%;
		bottom: auto
	}

	#{$prefix}outer-left {
		right: 100%;
		left : auto
	}

	#{$prefix}no-pointer {
		pointer-events: none
	}

	#{$prefix}pointer-all {
		pointer-events: all
	}

	#{$prefix}hidden {
		overflow: hidden
	}

	#{$prefix}scroll {
		overflow: scroll
	}

	#{$prefix}auto {
		overflow: auto
	}

	#{$prefix}visible {
		overflow: visible
	}

	#{$prefix}clip {
		overflow: clip
	}

	#{$prefix}clip-y {
		overflow-y: clip
	}

	#{$prefix}clip-x {
		overflow-x: clip
	}

	#{$prefix}clip-top, #{$prefix}clip-bottom, #{$prefix}clip-right, #{$prefix}clip-left {
		clip-path: inset(0 -300vw -300vw -300vw);
	}
	#{$prefix}clip-bottom {
		clip-path: inset(-300vw -300vw 0 -300vw);
	}
	#{$prefix}clip-right {
		clip-path: inset(-300vw 0 -300vw -300vw);
	}
	#{$prefix}clip-left {
		clip-path: inset(-300vw -300vw -300vw 0);
	}

	#{$prefix}order-first {
		order: -1
	}

	#{$prefix}order-0 {
		order: 0
	}

	#{$prefix}order-1 {
		order: 1
	}

	#{$prefix}order-2 {
		order: 2
	}

	#{$prefix}order-3 {
		order: 3
	}

	#{$prefix}order-last {
		order: 999
	}

	@for $i from 0 through 5 {
		#{$prefix}shadow-#{$i} {
			--shadow: #{calc($i / 10)};
			box-shadow: calc(.5em*var(--shadow)) calc(.75em * var(--shadow)) calc(1.75em * var(--shadow)) rgba(0, 0, 0, var(--shadow))
		}
	}

	#{$prefix}no-shadow {
		box-shadow: none;
	}

	#{$prefix}rotate-0 {
		rotate: 0deg
	}

	#{$prefix}rotate-90 {
		rotate: 90deg
	}

	#{$prefix}rotate,
	#{$prefix}rotate-180 {
		rotate: 180deg
	}

	#{$prefix}rotate-270 {
		rotate: 270deg
	}
	
	#{$prefix}flip {
		scale: -1;
	}

	#{$prefix}flip-y {
		scale: 1 -1;
	}

	#{$prefix}flip-x {
		scale: -1 1;
	}

	#{$prefix}from-top {
		--transform: translate3d(0, -80px, 0);
		--origin   : top;
	}

	#{$prefix}from-center {
		--transform: scale(.8, .8) translate3d(0, 0, 0);
		--origin   : center;
	}

	#{$prefix}from-left {
		--transform: translate3d(-80px, 0, 0);
		--origin   : left;
	}

	#{$prefix}from-right {
		--transform: translate3d(80px, 0, 0);
		--origin   : right;
	}

	#{$prefix}from-bottom {
		--transform: translate3d(0, 80px, 0);
		--origin   : bottom;
	}

	#{$prefix}from-default {
		--transform: translate3d(0, 0, 0);
		--origin   : top;
	}

	#{$prefix}o\/0,
	#{$prefix}h\:o\/0:hover {
		opacity: 0;
	}

	@each $i in variables.$percentages {
		#{$prefix}o\/#{$i},
		#{$prefix}h\:o\/#{$i}:hover,
		:has(> [class*="p:h"]):where(:hover) > #{$prefix}p\:h\:o\/#{$i} {
			opacity: #{calc($i / 100)};
		}
	}

	@for $i from 0 through 5 {
		#{$prefix}s\/#{$i},
		#{$prefix}h\:s\/#{$i}:hover {
			scale: #{calc($i / 10)};
		}
	}

	@for $i from 0 through 5 {
		#{$prefix}s\+#{$i},
		#{$prefix}h\:s\+#{$i}:hover {
			scale: #{calc($i / 10)+1};
		}
	}

	@if meta.global-variable-exists('proportions', variables) and variables.$proportions {
		@each $size_name, $size_value in variables.$proportions {
			#{$prefix}#{$size_name} {
				font-size: $size_value;
			}
		}
	}
}

@include utility-styles('.');

@if meta.global-variable-exists('breakpoints', variables) and variables.$breakpoints {
	@each $breakpoint, $breakpoint_width in variables.$breakpoints {
		@if meta.global-variable-exists('useMediaQueries', variables) and variables.$useMediaQueries {
			@media screen and (min-width: #{$breakpoint_width}) {
				@include utility-styles('.#{$breakpoint}\\:');
			}
		}

		@if meta.global-variable-exists('useContainerQueries', variables) and variables.$useContainerQueries {
			@container (min-width: #{$breakpoint_width}) {
				@include utility-styles('.\\@#{$breakpoint}\\:');
			}
		}
	}
}
