$breakpoints: (
    sm: 600px,
    md: 900px,
    lg: 1200px,
) !default;

$row-max-width: map-get($breakpoints, 'lg') !default;
$gutter-width: 2rem !default;

$colors: (
    "white":      #ffffff,
    "light":      #efefef,
    "grey":       #aaaaaa,
    "dark":       #333333,
    "primary":    #4488ff,
    "text":       #606c76,
) !default;

/*************************************
Sizing
**************************************/

// This will also create classes like .h3 etc. Mobile size will be 10% smaller
$types: (
    h1: ( size: 3.4rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.20, letter-spacing: 0 ),
    h2: ( size: 2.8rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.25, letter-spacing: 0 ),
    h3: ( size: 2.2rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.30, letter-spacing: 0 ),
    h4: ( size: 1.5rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.35, letter-spacing: 0 ),
    h5: ( size: 1.2rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.5, letter-spacing: 0 ),
    h6: ( size: 1.0rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.4, letter-spacing: 0 ),
    p:  ( size: 1.0rem, weight: 300, color: map-get($colors, 'text'), line-height: 1.4, letter-spacing: 0 ),
) !default;

// Applies to Margin and Padding.  Ex .m0, .m1, .mx3, .pt3, .mtn3, etc
$spacing: (
    0: 0, 
    1: .25, 
    2: .5, 
    3: 1, 
    4: 2, 
    5: 3, 
    6: 5
) !default;

$section-padding: 4rem !default;
