@use "sass:map";
@use "functions";
/*!
* Spry Variables
*/

// Specify each breakpoint size
$breakpoints: (
    md: 40em,
    // lg: 80em,
) !default;

// Specify each breakpoint gap size. <section> tags with get padding based on gap size.
// You must include one for each Breakpoint otherwise it will result in a Compile Error.
$gaps: (
    default: 1.25em, // required
    md: 2em,
    // lg: 2.25em,
) !default;

$themes: (
    default: (
        scheme: dark,
        accent: light-dark(#555, #ccc),
        border: light-dark(#ccc, #444),
        color : light-dark(#555, #ccc),
        input : light-dark(#888, #888),
        bg    : light-dark(#fff, #000),
        ui    : light-dark(#ddd, #333),
        surface    : light-dark(-6, 10),
    ),
    // dark: (
    //     scheme: dark,
    //     accent: #ccc,
    //     border: #444,
    //     color : #ccc,
    //     input : #888,
    //     bg    : #111,
    //     ui    : #333,
    // )
) !default;

$colors: (
    // surface  : (default: light-dark(#eee, #000)),
    faint    : (default: light-dark(#eee, #333)),
    contrast : (default: light-dark(#333, #eee)),
    light    : (default: #eee),
    dark     : (default: #333),
    // white    : (default: #fff),
    // black    : (default: #000),
    gray     : (default: #888),
    primary  : (default: #19d),
    success  : (default: #0a0),
    warning  : (default: #e90),
    error    : (default: #e20),
) !default;

// Specify each type tag and class like <h3> and .h3 etc.
$types: (
    body: (font-family: (system-ui, sans-serif), font-size: clamp(.9em, 3vw, 1.0em), background-color: var(--theme-bg), color: var(--theme-color), font-weight: 300, line-height: 1.5),
    h1:   (font-size: 3.2em, font-weight: 400, line-height: 1.20, color: functions.color(var(--contrast))),
    h2:   (font-size: 2.3em, font-weight: 300, line-height: 1.25, color: functions.color(var(--contrast))),
    h3:   (font-size: 1.8em, font-weight: 300, line-height: 1.30, color: functions.color(var(--contrast))),
    h4:   (font-size: 1.4em, font-weight: 300, line-height: 1.35, color: functions.color(var(--contrast))),
    h5:   (font-size: 1.1em, font-weight: 300, line-height: 1.5, color: functions.color(var(--contrast))),
    h6:   (font-size: 1.0em, font-weight: 300, line-height: 1.4, color: functions.color(var(--contrast))),
    q:    (font-size: 1.6em, font-weight: 300, font-style: italic, line-height: 1.4, color: functions.color(var(--contrast)), margin-block: 2em),
    a:    (color: functions.color(var(--primary))),
) !default;

// Specify each spacing that applies to Margin and Padding.  Ex .m-0, .m-1, .mx-3, .pt-3, .mt-n3, etc.
$spacing: (
    0  : 0em, // Needs unit to be used in calc().
    1  : .25em,
    2  : .5em,
    3  : 1em,
    4  : 2em,
    5  : 4em,
    6  : 6em,
    200: 200px, // Used for Sidebars
) !default;

// Specify each border size Ex .b-0, .b-1, .bt-3, .bx-3, .br-2, etc.
$borders: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
) !default;

// Specify each border radius sizes Ex .r-0, .r-1, .rt-3, .rl-3, etc.
$radius: (
    0: 0,
    1: .25em,
    2: .5em,
    3: .75em,
    4: 1em,
    5: 2em,
    full: 999px,
) !default;

// Specify each size that applies font-size and all elements using "em".
$sizes: (
    xxl: 165%,
    xl: 140%,
    lg: 120%,
    md: 100%,
    sm: 80%,
    xs: 65%,
    xxs: 50%,
) !default;

:root {
    --bdr-from   : 150deg;
    --bg-from    : 150deg;
    --clr-from   : 150deg;
    --ease       : cubic-bezier(.45, .45, 0, 1); //cubic-bezier(.25, .8, .25, 1);
    --gapx       : #{map.get($gaps, 'default')};
    --gapy       : #{map.get($gaps, 'default')};
    --invert     : 50;
    --max-height : 1900px;
    --origin     : top;
    --radius     : .25em;
    --shadow     : .12;
    --glow-o     : .5;
    --glow-s     : .5;
    --speed      : .4s;
    --transform  : translate3d(0, -2px, 0);
    --surface-start-light: -6;
    --surface-start-dark: 10;
}