@use "functions";
@use "sass:map";
@use "sass:meta";
/*!
* Spry Variables
*/

// Specify each breakpoint size
$breakpoints: (
    md: 40em,
    // lg: 80em,
) !default;

$useMediaQueries: true;
$useContainerQueries: true;

// Specify each breakpoint gap size. <section> tags with get padding based on gap size.
// You must include one for each Breakpoint otherwise it will result in a Compile Error.
$gaps: (
    default: 1.25em, // required
    md: 2em,
    // lg: 2.25em,
) !default;

$themes: (
    default: (
        scheme: dark,
        accent: light-dark(#555, #ccc),
        border: light-dark(#ccc, #444),
        color : light-dark(#555, #ccc),
        input : light-dark(#888, #888),
        bg    : light-dark(#fff, #111),
        ui    : light-dark(#ddd, #333),
    ),
    my-custom-theme: (
        scheme: light,
        accent: rgb(226, 14, 194),
        border: #2307f6,
        color : #555,
        input : #888,
        bg    : #cbf0da,
        ui    : #b6c3c0,
    )
) !default;

$colors: (
    contrast : (default: light-dark(#333, #eee)),
    faint    : (default: light-dark(#eee, #333)),
    stark    : (default: light-dark(#fff, #000)),
    surface  : (default: light-dark(#eee, #000)),
    black    : (default: #000),
    dark     : (default: #333),
    gray     : (default: #888),
    light    : (default: #eee),
    white    : (default: #fff),
    primary  : (default: #19d),
    success  : (default: #0a0),
    warning  : (default: #e90),
    error    : (default: #e20),
) !default;

// Specify each type tag and class like <h3> and .h3 etc.
$types: (
    body: (font-family: (system-ui, sans-serif), font-size: clamp(.9em, 3vw, 1.0em), background-color: var(--theme-bg), color: var(--theme-color), font-weight: 300, line-height: 1.5),
    h1:   (font-size: 3.2em, font-weight: 400, line-height: 1.20, color: functions.color(var(--contrast))),
    h2:   (font-size: 2.3em, font-weight: 300, line-height: 1.25, color: functions.color(var(--contrast))),
    h3:   (font-size: 1.8em, font-weight: 300, line-height: 1.30, color: functions.color(var(--contrast))),
    h4:   (font-size: 1.4em, font-weight: 300, line-height: 1.35, color: functions.color(var(--contrast))),
    h5:   (font-size: 1.1em, font-weight: 300, line-height: 1.5, color: functions.color(var(--contrast))),
    h6:   (font-size: 1.0em, font-weight: 300, line-height: 1.4, color: functions.color(var(--contrast))),
    q:    (font-size: 1.6em, font-weight: 300, font-style: italic, line-height: 1.4, color: functions.color(var(--contrast)), margin-block: 2em),
    a:    (color: functions.color(var(--primary))),
) !default;


//////////////////////////
/// Responsive Variables
//////////////////////////

// Specify each border size Ex .b-0, .b-1, .bt-3, .bx-3, .br-2, etc.
$borders: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
) !default;

// Specify each border radius size Ex .r-0, .r-1, .rt-3, .rl-3, etc.
$radius: (
    0: 0,
    1: .25em,
    2: .5em,
    3: .75em,
    4: 1em,
    5: 2em,
    // full: 999px,
) !default;

// Specify each spacing that applies to Margin and Padding.  Ex .m-0, .m-1, .mx-3, .pt-3, .mt-n3, etc.
$spacing: (
    0  : 0em, // Needs unit to be used in calc().
    1  : .25em,
    2  : .5em,
    3  : 1em,
    4  : 2.25em,
    5  : 5em,
    // 6  : 6em,
    // 200: 200px, // Used for Sidebars
) !default;

// Specify each size that applies font-size to all elements using "em".
$sizes: (
    xxl: 130%,
    xl: 120%,
    lg: 115%,
    md: 100%,
    sm: 85%,
    xs: 70%,
    xxs: 60%,
) !default;

//////////////////////////////
/// Non-Responsive Variables
//////////////////////////////

// Specify each blur size Ex .blur-0, .blur-bg-3, etc.
$blur: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 8px,
    4: 16px,
) !default;

// Specify the loader thickness Ex .loading-sm, .loading-lg, etc.
$loading: (
    sm: .16em, // First one is default - ex. ".loading"
    md: .2em,
    lg: .4em,
) !default;

:root {
    @if meta.variable-exists('gaps') and $gaps {
        --gapx: #{map.get($gaps, 'default')};
        --gapy: #{map.get($gaps, 'default')};
    }
    --bg-from    : 150deg;
    --ease       : cubic-bezier(.45, .45, 0, 1); //cubic-bezier(.25, .8, .25, 1);
    --glow-o     : .5;
    --glow-s     : .5;
    --invert     : 50;
    --layer      : 6;
    --max-height : 1900px;
    --origin     : top;
    --radius     : .25em;
    --shadow     : .12;
    --speed      : .4s;
    --transform  : translate3d(0, 0, 0);
    --pad        : .5em;
    --pad-lg     : 1em;
}